mixin vacancies()
	.vacancies
		h1 Вакансии 
		+cities
		p.vacancies__text Наша компания — это быстро развивающаяся сеть ресторанов. В наши ближайшие планы входит экспансивное развитие сети, создание большого количества новых точек. Для этой цели мы расширяем управленческую команду и нам нужны умные, самостоятельные, не боящиеся работы специалисты.
		.vacancies__select(onclick="return {'vacancies': {}}").js-widget
			.select__wrap(onclick="return {'select': {}}").js-widget
				select.select
					option(value='1') Все рестораны Москвы
					option(value='2') Одинцово
					option(value='3') Люберцы

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1,2]').js-widget
			.vacancy__img
				img(src="../images/job_1.png")
			.vacancy__body
				h2.h2.vacancy__title Пеший курьер
				.vacancy__desc
					.vacancy__desc-to В 2 ресторана:
					.vacancy__rests
						a(href="#", data-id="1").vacancy__rest
							span Одинцово
						a(href="#", data-id="2").vacancy__rest
							span Проспект Вернадского
						a(href="#", data-id="3").vacancy__rest
							span Проспект Вернадского

					.vacancy__about(id="1")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="2")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="3")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1]').js-widget
			.vacancy__img
				img(src="../images/job_2.png")
			.vacancy__body
				h2.h2.vacancy__title Официант
				.vacancy__desc
					.vacancy__desc-to В 8 ресторанов:
					.vacancy__rests
						a(href="#", data-id="4").vacancy__rest
							span Одинцово
						| 
						a(href="#", data-id="5").vacancy__rest
							span Люберцы
						| 
						a(href="#", data-id="6").vacancy__rest
							span Новокузнецкая
						| 
						a(href="#", data-id="7").vacancy__rest
							span Митино
						| 
						a(href="#", data-id="8").vacancy__rest
							span Таганская
						| 
						a(href="#", data-id="9").vacancy__rest
							span Севастопольский проспект
						| 
						a(href="#", data-id="10").vacancy__rest
							span Реутов
						| 
						a(href="#", data-id="11").vacancy__rest
							span Партизанская
						| 
					.vacancy__about(id="4")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="5")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="6")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
					.vacancy__about(id="7")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="8")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="9")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

					.vacancy__about(id="10")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="11")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1,3]').js-widget
			.vacancy__img
				img(src="../images/job_1.png")
			.vacancy__body
				h2.h2.vacancy__title Повар
				.vacancy__desc
					.vacancy__desc-to В 5 ресторанов
						.vacancy__rests
							a(href="#", data-id="12").vacancy__rest
								span Одинцово
							| 
							a(href="#", data-id="13").vacancy__rest
								span Люберцы
							| 
							a(href="#", data-id="14").vacancy__rest
								span Новокузнецкая
							| 
							a(href="#", data-id="15").vacancy__rest
								span Митино
							| 
							a(href="#", data-id="16").vacancy__rest
								span Таганская
					.vacancy__about(id="12")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="13")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="14")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

					.vacancy__about(id="15")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="16")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость