mixin auth()
	.auth
		.auth__left
			form(data-parsley-validate)
				label.label.auth__label Имя учётной записи
				input(required).input.auth__input 

				a(href="#").auth__fogot.pull-right Забыли пароль?
				label.label.auth__label Пароль
				.input__wrap(onclick = "return {'togglePass': {} }").js-widget
					.input__showpass
					input.input.auth__input(type="password")

				input(type="submit", value="Войти").btn._style_2.auth__submit
		.auth__right
			label.label Войти через социальную сеть
			+social__auth
			a(href="#") Регистрация