.filter {

	&._hidden {
		display: none;
	}

	&__group {
		margin: 0 -12px 46px -12px;
	}

	&__hidden {
		// overflow: hidden;
		display: none;
	}


	&__col {
		float: left;
		width: 49%;
	}


	&__title {
		margin: 0 0 11px;

		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: @brown;
	}


	&__item {
		position: relative;

		margin: 7px 0;

		line-height: 20px;


		/* МОДИИКАТОРЫ
		-------------------------------------- */
		/* selected */
		&._selected .filter__link {
			background: @brown-light;

			span {
				text-decoration: none;
			}
		}

		&._excluding .filter__link {
			background: @brown-light;
			position: relative;
			width: 205px;
			padding-right: 91px;
			z-index: 10;
		}

		&._excluded .filter__link span {
			border-bottom: 0;
			cursor: default;
			text-decoration: line-through;
		}
	}


	&__link {
		display: inline-block;
		padding: 2px 11px 5px 11px;

		text-decoration: none;

		border-radius: 11px;
		color: #5a2300;

		&-more {
			display: inline-block;
			padding: 2px 15px 5px 12px;

			text-decoration: none;
		}

		._menu & span {
			border-bottom: none;
			text-decoration: underline;
		}

		&._disabled {
			cursor: default;
		}

		&._disabled span {
			cursor: default;
			border-bottom: none;
			text-decoration: none;
			color: #ccc;
		}

	}

	&._disabled::before {
		display: block!important;
		content: '';
		position: absolute;
		top: 0;
		left: -15px;
		width: 255px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 10
	}

	/* МОДИИКАТОРЫ
	-------------------------------------- */
	/* one column */
	&._one-column & {
		&__item {
			width: 100%;
		}
	}
}

.exclude {

	&__link {
		display: none;
		position: absolute;
		top: 4px;
		left: 130px;
		text-decoration: none;
		font-size: 11px;

		._excluding & {
			display: inline;
		}

		._excluded & {
			left: 116px;
		}

		& span {
			display: none;
			border-bottom: 1px dotted;
			position: relative;
		}

		& .__exclude {
			color: #cd3500;
			display: inline;
			margin-left: 10px;

			&:before {
				content: 'x';
				font-weight: bold;
				color: #cd3500;
				position: absolute;
				left: -9px;
				top: -3px;
			}

			._excluded & {
				display: none;
			}

		}

		& .__include {
			color: #826a39;

			._excluded & {
				display: inline;
			}
		}

	}

}