mixin filter()
	div(onclick="return {'sideFilter': {}}", data-isfilter="true").filter.clearfix.js-widget
		.filter__group.clearfix
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link one
				div(data-filter="two").filter__item
					a(href="#").filter__link
						span.pseudo-link two
				div(data-filter="three").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col

		.filter__group.clearfix
			.filter__title Ингредиенты
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
						
		.filter__group.clearfix
			.filter__title специальное меню
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы