mixin cart()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table._filled
			.goods._by-coupon._table
				.goods__wrap
					.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
						img(src="images/temp/4.jpg")
					.goods__desc
						.goods__composition 
							h2.goods__name Филадельфия
							|Лосось, сливочный сыр, авокадо
						.goods__cost 460 
							span.rouble Р 

						.goods__cost._old 660 
							span.rouble Р 
				.goods__static-count x1
				.goods__remove


			.goods._table(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
				+select-mini
				.goods__remove

			.goods._table(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item._disabled
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/3.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/2.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/1.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
				.goods__not-in-menu Отсутствует в меню
				+select-mini
				.goods__change
					.goods__change-text Похожие блюда
					.goods__change-next
					.goods__change-prev
				.goods__remove

			.goods._table._auction(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") В корзину

			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия
			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия
			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия

		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle
			.cart__toggle-button


mixin cart-promo()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table._empty(title='Чтобы сделать заказ, перетащите сюда блюдо или кликните по кнопке "В корзину"')
		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle._promo
			.cart__toggle-button


mixin cart-cabinet()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table
		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle._cabinet
			.cart__toggle-button._cabinet