.order__title {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.order__title_small {
    font-weight: 500;
    font-size: 24px;
}

.order__descrirption {
    background-color: transparent;
    width: 100%;
    min-height: 200px;
    resize: none;
    border: 2px solid #ffffff;
    font-size: 18px;
}

.order__wrapper__props div {
    margin-right: 15px;
}

.order__wrapper__props {
    margin-right: -20px;
}

div.DELIVERY_LOCATION {
    display: none;
}

.data__picker__order {
    position: relative;
}

.data__picker__order img {
    width: 40px;
    height: 40px;
    top: 14px;
}

.data__picker__order img:hover {
    border: none;
    background-color: transparent;
}

.order__back__link {
    display: inline-block;
    background-color: #71752a;
    border-radius: 30px;
    padding: 11px 20px;
    margin-right: 20px;
    width: 215px;
    text-align: center;

}

.order__header {
    display: flex;
    align-items: center;
    padding-top: 60px;
    justify-content: space-between;

}

/********************************************************/
.radio {
    width: 18px;
    height: 18px;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 3px solid #FFFFFF;

}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.order__delivery_radiobutton_title {
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 3px;
}

.order__delivery__select {
    margin-top: 65px;
}

.order__delivery__select__place {
    margin-top: 25px;
}

.order__delivery__select__place {
    width: 345px;
    height: 57px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    outline: none;
}

.name {
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.order__delivery__radiobutton__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin-top: 65px;
}

.order__payment_wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 65px;
    justify-content: space-between;
}

.bx_block.horizontal {
    margin-left: 50px;
}

.order__title_micro {
    margin: 40px 0 20px;
    font-size: 24px;
    font-weight: 500;
}

.order__adress-item {
    font-size: 24px;
    color: white;
}

.order__title.order__title_popup {
    color: black;
    margin-top: 40px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.sale_order_full_table {
    font-size: 20px;
    font-weight: 300;
    max-width: 950px;

}

a.popup_personal_link {
    color: black;

}

a.popup_personal_link:hover {
    color: black;
    text-decoration: underline;
}

.popup-window {
    border-radius: 10px;
}

.container.container__popup {
    width: 1140px;
}

option {
    background: #1b1b1b;
}

.order__personal__data__form:focus {
    outline: none;
}

.order__makeorder__button:hover {
    opacity: 0.9;
}

.bx_description {
    margin-top: 5px;
}

.order__payment_wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
    justify-content: space-between;
}

label.order__delivery_radiobutton_title {
    font-size: 20px;
}

a.popup_personal_link:hover {
    color: black;
    text-decoration: underline;
}

a.popup_personal_link {
    color: black;
}