.vacancy {

	&:extend(.clearfix all);

	// padding-top: 25px;
	border-bottom: 1px solid @border;
	padding-bottom: 19px;
	margin-bottom: 11px;
	

	&:last-child {
		border: none;
	}

	&__img {
		float: left;
	}
	
	&__body {
		margin-left: 107px;
		padding-top: 24px;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__rests {
		margin-bottom: 24px;
	}

	&__rest {
		margin-right: 23px;
		text-decoration: none;
		border-bottom: 1px dotted @brown;
		line-height: 27px;

		&._active {
			position: relative;
			display: inline-block;
			color: #FFF;
			border-bottom: none;

			span {
				position: relative;
				z-index: 1;
			}
			
			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				top: 1px;
				left: -9px;
				right: -12px;
				bottom: 1px;
				background: @orange;
				border-radius: 15px;
			}
		}
	}

	&__about {
		display: none;

		&-text {
			margin-bottom: 22px;
		}
	}
}