mixin order()
	.order(onclick="return {'order': {}}").js-widget
		.order__side
			.order__amount
				span.h1 итого 
				span.h1.order__amount-sum 2 500 
				span.rouble Р
			.order__bonus
				.order__bonus-img
					img(src="images/icon_1.png")
				span.order__bonus-text 
					span 2 
					span гостя, 
					span 5 
					span блюд

			.order__bonus
				.order__bonus-img
					img(src="images/delivery.png")
				span.order__bonus-text Бесплатная доставка
			.order__bonus
				.order__bonus-img
					img(src="images/free_card.png")
				span.order__bonus-text Карта в подарок
			.order__checkout
				.btn._style_3 Оформить заказ
				p или по телефону
					b +7 495 781-781-9 
				p сообщить № заказа 
					b 345-200-15

			.order__add
				.label Карта в подарок
				.order__add-desc
					.order__add-img 
						img(src="images/card.png")
					.order__add-text
						| Закажи еще на 
						.order__add-text-sum 1050 
							span.rouble Р
						| и получи карту 
						br
						| в подарок
				.order__add-carousel
					.order__add-carousel-item
						+goods-order("images/temp/1.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/2.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/3.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/4.jpg")




		.order__main
			.order__group._coupons
				.order__group-title
					.order__group-name Купоны
				.order__item
					+coupon_6
					+coupon_2
					+coupon_5

			.order__group(data-tableid="table_1", data-guestid="1")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 1
						.order__group-info 3 блюда, 
							b 750 
							+rouble
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/119/86/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/125/83/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/115/78/food")
					.order__item-desc
						.order__item-title Секуе суши
						.order__item-ingredients Шампиньоны и вешенки, огурец
			.order__group(data-tableid="table_2", data-guestid="2")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 2
						.order__group-info 2 блюда, 
							b 750 
							+rouble

				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/117/83/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/110/71/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо

			.order__group._all(data-tableid="table_3", data-guestid="3")
				.order__group-title
					.label Дополнительно на всех
						.order__group-info 
							b 30 
							+rouble
				.order__item._sticks
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sticks.png")
					.order__item-desc
						.order__item-title Палочки
						.order__item-ingredients Два комплекта бесплатно
				.order__item._sauce
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sauce.png")
					.order__item-desc
						.order__item-title Соевый соус
						.order__item-ingredients Две порции бесплатно