.tooltip {
		position: absolute;
		top:100%;
		left: 0;
		width:167px;
		padding: 15px;
		color: #FFFFFF;
		background: @orange;
		line-height: 16px;
		font-size: 13px;
		border:none;
		border-radius: 10px;
		box-shadow: 2px 2px 7px #C9C9C9;
		visibility: visible;

		opacity: 1;
		top: 100%;
		margin-top: 83px;
		margin-left: -80px;
		z-index: 999;



		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -38px;
			width: 0; height: 0;
			border-bottom: 12px solid @orange;
			border-right: 12px solid transparent;
			border-left: 12px solid transparent;
		}
}