@font-face {
    font-family: Museo;
    font-weight: 100;
    src: url("/local/templates/pizzapi/fonts/newFonts/MuseoSansCyrl_100.otf") format("opentype");
}

@font-face {
    font-family: Museo;
    font-weight: 300;
    src: url("/local/templates/pizzapi/fonts/newFonts/MuseoSansCyrl_300.otf") format("opentype");
}

@font-face {
    font-family: Museo;
    font-weight: 500;
    src: url("/local/templates/pizzapi/fonts/newFonts/MuseoSansCyrl_500.otf") format("opentype");
}

@font-face {
    font-family: Museo;
    font-weight: 700;
    src: url("/local/templates/pizzapi/fonts/newFonts/MuseoSansCyrl_700.otf") format("opentype");
}

@font-face {
    font-family: Museo;
    font-weight: 900;
    src: url("/local/templates/pizzapi/fonts/newFonts/MuseoSansCyrl_900.otf") format("opentype");
}

@font-face {
    font-family: BaliBeach;
    src: url("/local/templates/pizzapi/fonts/BaliBeachFont/BaliBeach.eot") format("opentype");
}

@font-face {
    font-family: BaliBeach;
    src: url("/local/templates/pizzapi/fonts/BaliBeachFont/BaliBeach.ttf") format("opentype");
}

@font-face {
    font-family: BaliBeach;
    src: url("/local/templates/pizzapi/fonts/BaliBeachFont/BaliBeach.woff") format("opentype");
}

@font-face {
    font-family: BaliBeach;
    src: url("/local/templates/pizzapi/fonts/BaliBeachFont/BaliBeach.woff2") format("opentype");
}

@font-face {
    font-family: epsilon;
    src: url("/local/templates/pizzapi/fonts/epsilonctt.ttf") format("opentype");
}

body, html > body {
    font-family: Museo;
}

html {
    min-height: 101%;
}

img, a:focus {
    outline: 0;
}

div#profilePopupErrors {
    color: red;
}


.order__wrapper__props {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.catalog__navigation__item.catalog__navigation__item--cart {
    padding: 0px !important;
    min-width: 80px;
}

.catalog__cart--count-hidden {
    display: none;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: black;
}

input {
    outline: none;
}

input:focus {
    outline: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

}

.logo {
    margin-right: 15px;
}

.logo_media{
    display: none;
}

.header-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    max-width: 950px;
}
/*
.fotorama {
    display: block;
}
.fotorama-mobile {
    display: none;
}
@media screen and (max-width: 500px) {
    .fotorama {
        display: none;
    }
    .fotorama-mobile {
        display: block;
    }
}
*/

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .logo_media{
        display: block;
        margin-right: 35px;
    }
    .logo {
        display: none;
    }
    .header-wrapper{
        color: #ffffff;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }


}

.header__hamburger-input:checked ~ .navigation {
    max-height: 86vh;
    padding: 15px 0 20px;
    overflow-y: auto;
}

.header__hamburger-input:checked ~ .navigation .navigation__item {
    opacity: 1;
}

.navigation {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.navigation__item.navigation__item--active {
    border-bottom: 3px solid white;
}

.navigation__item {
    font-weight: 700;
    font-size: 16px;
    margin: 0 5px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 5px;
    letter-spacing: 1px;
    text-transform: uppercase;

}
h2 {
    font-size: 28px;
}
.req {
    display: inline-block;
}
.toggle_requisits {
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
}

p.about__text._last {
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 14px;
}


.navigation__item:hover{
    opacity: 0.8;
}

.navigation__item--cart {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;

}

.phone {
    margin: 0 13px;
    font-size: 16px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .phone {
        display: none;
    }
}

.container{
    margin: auto;
    max-width: 1030px;
}

.loader-container {
    position: absolute;
    width: 100%;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    z-index: 0;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/*@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 950px;
    }
}*/



@media screen and (max-width: 1440px) and (-webkit-min-device-pixel-ratio : 2) {
    .slider {
        height: auto;
    }
}

@media screen and (max-width: 1024px)  and (-webkit-min-device-pixel-ratio : 2){
    .slider {
        height: auto;
    }
}


.header__hamburger-input {
    display: none;
}
.header__hamburger-label {
    display: none;
}
.mobile-substrate {
    position: relative;
    display: block;
    width: 100%;
    height: 0px;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2){
    .main-content__wrapper>img{
        width: 60px !important;
    }

    .container{
        padding: 0px;
        margin: 0px;
    }
    .header__hamburger-label{

        width: 56px;
        height: 62px;
        padding: 0;
        margin: 0;
        outline: none;

        display: -ms-flexbox;

        display: -webkit-box;

        display: flex;
        text-align: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 15px;

        -webkit-transition: background 300ms ease;

        transition: background 300ms ease;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
    .mobile-substrate {
        height: 62px;
    }

}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .navigation {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
        width: 100%;
        max-width: none;
        min-width: auto;
        height: auto;
        max-height: 0;
        padding: 0;
        margin: 0;
        -ms-flex-item-align: inherit;
        -ms-grid-row-align: inherit;
        align-self: inherit;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        background-color: #000;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .navigation__item{
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    .page__block{
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .navigation__item--cart--wrapper {
        display: none!important;
    }
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .navigation__item.navigation__item--active {
        border-bottom: none;
    }

    .navigation__item--cart--wrapper {
        display: none;
    }
    .phone{
        display: none;
    }
    .navigation__item {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #000;
        font-size: 17px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .navigation__item::after {
        display: none;
    }
    .navigation__item:last-child::after {
        display: none;
    }
}


body {
    background: url("img/background.jpg") top center;
}

.catalog__menu {
    display: -ms-flexbox;
    display: -webkit-box;
    -js-display: flex;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0 2px;
}

.catalog__navigation__item {
    display: block;
    border-radius: 5px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    margin: 10px;
    line-height: 40px;
    padding: 0 29px;
    letter-spacing: 1px;
}

a.catalog__navigation__item:hover{
    opacity:0.8;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .catalog__navigation__item {
        margin: 5px;
        line-height: 32px;
        padding: 0 10px;
    }
}

.catalog__navigation__item.catalog__navigation__item--active {
    background-color: #e03e1c;
    border-color: #e03e1c;
}

.catalog__navigation__item.catalog__navigation__item--cart {
    background-color: #e8dbc6;
    padding: 0 25px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 768px)  and (-webkit-min-device-pixel-ratio : 2){
    .catalog__navigation__item.catalog__navigation__item--cart {
        position: initial;
    }

    /*.catalog__menu.fixed .catalog__cart--open {
        top: 55px !important;
        right: 15px;
    }*/

    .catalog__menu .catalog__cart--open {
        top: 60px !important;
        right: 10px;
        width: auto;
        margin-left: 10px;
        max-width: calc(100vw - 12px);
    }

    .catalog__cart--open .catalog__cart__wrapper__item{
        margin: 5px;
        padding: 5px 0;
    }

    .catalog__cart--open .catalog__cart__item.catalog__cart__price{
        line-height: 20px;
        width: 50px;
        margin: 0 2px;
    }

    .catalog__cart--open .catalog__cart__item.catalog__cart__price span{
        font-size: 14px;
    }

    .catalog__menu .catalog__cart--open{
        font-size: 22px;
    }

    .order__recommend__item{
        -ms-flex: 1 0;
        -webkit-box-flex: 1;
        flex: 1 0;
    }

    .order__recommend__item__image img{
        width: 130px;
    }

    .order__recommend__item__description{
        margin-left: 10px;
        font-size: 20px;
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }

    .order__recommend__item__description__add{
        margin: 20px auto 0;
    }
}

.main-content__wrapper {
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.catalog {
    margin: 0px auto;
    max-width:1000px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.catalog__items__list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    /*.catalog__items__list {
        margin: 0 50px;
    }*/

    .container.container__header{
        width: 100%;
    }

    .catalog__detail__element__title{
        width: auto;
        font-size: 16px;
    }

    .catalog__detail__element__text{
        width: auto;
        font-size: 13px;
    }

    .catalog__detail__element__price div{
        line-height: 24px;
        font-size: 13px;
    }

    .catalog__detail__element__price span {
        font-size: 13px;
    }

    .popup-window .element__detail__wrapper{
        margin: 15px 10px;
    }

    .popup-window .catalog__detail__element__description{
        margin-left: 5px;
    }

    #CatalogElement.popup-window{
        top: 63px !important;
        position: fixed !important;
        width: 100%;
        bottom:0;
    }

    .popup-window .catalog__detail__element__offers-block{
        margin-top: 20px;
    }

    .popup-window .popup-window-content{
        height: 100%;
        overflow: auto;
    }
    .popup-window .catalog__detail__element{
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .popup-window .catalog__detail__element__image{
        max-width: 50vw;
        min-width: auto;
    }
    .popup-window .catalog__detail__element__title{
        width: auto;
        font-size: 20px;
        text-align: center;
        margin: 20px 0 0;
    }

    .popup-window .catalog__detail__element__text{
        width: auto;
        font-size: 15px;
        margin-left: 0;
        text-align: center;
    }

}
/*@media (max-width: 1440px) {
    .catalog {
        margin: 40px -40px 0;
    }
}

@media (max-width: 1024px) {
    .catalog {
        margin: 35px -40px 0;
    }
}*/

.catalog-wrapper {
    position: relative;
    z-index: 1;

}

img.bg-grib {
    position: absolute;
    right: 0;
    top: 800px;
    z-index: -1;
    width: 100px;
}

img.bg-pomidor {
    position: absolute;
    right: 0;
    top: 300px;
    z-index: -1;
    width: 100px;
}

img.bg-travka {
    position: absolute;
    left: 0;
    top: 400px;
    z-index: -1;
    width: 100px;
}

.catalog__item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 230px;
    margin: 30px 10px;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.catalog__item .addtocart{
    width: 230px;
    margin: 20px auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.catalog__item .bx__catalog__item__link{
    -ms-flex-positive:1;
    -webkit-box-flex:1;
    flex-grow:1;
}

.catalog__item__title {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif ;
    font-size: 24px;
    overflow: hidden;
    height: 105px;
    line-height: 32px;
    text-align: center;
}

.catalog__item__image {
    position: relative;
    padding-top: 15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 200px;
    margin: 0 auto;
}

.catalog__item__text {
    /*width: 215px;*/
    margin: auto;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 20px 10px 0;
    overflow: hidden;

}

span {
    font-size: 22px;
}

.catalog__item__size-block {
    margin-top: 30px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

}

.catalog__item__title img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: 35px;

}

.catalog__item__image img {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 200px;
    max-height: 200px;
}


.add2cart > a:focus {
    text-decoration: none;
    color: #ffffff;
}

.add2cart > a {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.addtocart:hover {
    opacity: 0.;
}

.addtocart {
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    color: #ffffff;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    line-height: 43px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0 solid #ffffff;
    background-color: #dd401d;
    height: 43px;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 1px;
    cursor: pointer
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .addtocart {
        margin: 25px auto 0 !important;
    }
}

.space-hack {
    width: 215px;
    min-width: 215px;
    margin: 30px 20px 30px 0;
}


.footer__input:focus {
    outline: none;
}

.footer__input {
    width: 210px;
    height: 35px;
    padding: 10px;
    background-color: transparent;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 2px solid #ffffff;
    color: #ffffff;

}

.subscribe {
    margin-top: 75px;
    text-align: center;

}

.footer__form {
    margin-top: 37px;
}

.footer__form-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.btn-social span {
    font-size: 24px;
    color: #ffffff;
}

.socialblock {
    text-align: center;
    margin-top: 57px;
}

.btn-social {
    margin: 0 0;
    width: 40px;
    height: 40px;
    display: inline;
}

.catalog__item--count {
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 25px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #e03e1c;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    -webkit-box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
}


.catalog__item__price span {
    font-size: 18px;
}

.subscribe__title {
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__input:focus {
    outline: none;
}

.footer__form {
    margin-top: 37px;
}

.footer__button {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 2px solid #fff;
    outline: none;
    margin-left: 8px;
    width: 111px;
    height: 35px;
    background-color: inherit;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

button.footer__button:disabled {
    opacity: 0.6;
    background: rgba(255, 0, 0, 0.2);
    cursor: not-allowed;
}

.navigation__footer {
    max-width: 900px;
    position: relative;
    color: #ffffff;
    margin: 25px auto;
}

.catalog__item--count {
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 25px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #e03e1c;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    -webkit-box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
}

.bx__catalog__item__link {
    text-align: center;
}

/***************************************************************************/
.catalog__detail__element {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.catalog__detail__element__title {
    /* margin-left: 15px;
     line-height: 34px;*/
    width: 550px;
    letter-spacing: 3px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
    color: black;

}

.catalog__detail__element__image {
    position: relative;
    max-width: 340px;
    min-width: 340px;
    margin: 0 auto;
}

.catalog__detail__element__image img {
    width: 100%;
    margin-left: 30px;
    margin: 0 auto;
}

.catalog__detail__element__text {
    line-height: 18px;
    width: 460px;
    font-weight: 500;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 20px;
}

.catalog__detail__element__price-block {
    width: 265px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 25px;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.catalog__detail__element__price {
    width: 50%;
}

.catalog__detail__element__price div {
    line-height: 40px;
    font-size: 26px;
    color: gray;
    letter-spacing: 2px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.catalog__detail__element__price.catalog__detail__element__price--active div {

    line-height: 40px;
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

span {
    font-size: 22px;
}

.catalog__detail__element__size-block {
    width: 265px;
    margin-top: 30px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

}

.catalog__detail__element__size {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
    color: black;
    font-size: 22px;
    height: 53px;
    letter-spacing: 2px;
    border-radius: 0 200px 200px 0;
    -moz-border-radius: 0 200px 200px 0;
    -webkit-border-radius: 0 200px 200px 0;
    border: 3px solid #71752a;

}

.catalog__detail__element__size span {
    display: block;
}

.catalog__detail__element__size img {
    height: 25px;
    margin: 0 10px;
    display: block;
}

.catalog__detail__element__size--active {
    background-color: #71752a;
    border-radius: 200px 0 0 200px;
    -moz-border-radius: 200px 0 0 200px;
    -webkit-border-radius: 200px 0 0 200px;
    border: 2px solid #71752a;
}

.element_detail {
    width: 1140px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    margin-top: 90px;
}

.element__detail__wrapper {
    background: url("img/smartobjet.png");
    background-repeat: no-repeat;
    height: auto;
    padding-top: 15px;
    background-size: contain;
    background-position: bottom right;

}

.catalog__detail__element__description {
    margin-left: 30px;
    margin-right: 35px;
}

/**********************************************************************************/
.catalog__cart--count {
    position: absolute;
    right: -15px;
    top: -12px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #e03e1c;
    color: #ffffff;
    line-height: 23px;
    text-align: center;
    -webkit-box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 7px 0 rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .catalog__cart--count {
        right: -694px;
        top: 3px;
        left: 0;
        margin: auto;
    }
    .bg-pomidor{
        display: none;
    }
    .bg-grib{
        display: none;
    }
    .bg-travka{
        display: none;
    }

    .catalog__cart__itogo {
        margin-right: 0px;
        font-family: "Museo Sans Cyrl 700";
        padding-top: 15px;
        font-size: 16px;
    }
    .catalog__cart__makeorder__button{
        line-height: 36px;
    }
    .catalog__cart--open{

        display: -ms-flexbox;

        display: -webkit-box;

        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 0px 15px;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
    }
    catalog__cart__makeorder.catalog__cart__makeorder--disabled {
        font-size: 16px;
    }
    .catalog__cart__makeorder {
        font-size: 16px;
    }

    .catalog__cart__buttons {
        margin-left: auto;
        width: 215px;
        margin: 20px 0px 20px auto;
    }

}

.navigation__item--cart--count {
    position: absolute;
    right: -15px;
    top: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

.navigation__item--cart--count-hidden {
    display: none;
}

/************************************************************************************/
/***************************catalog-cart********************************************/
.catalog__cart--open {
    display: none;
    position: absolute;
    background: url("img/wood.jpg") repeat-y;
    background-size: 470px auto;
    width: 470px;
    top: 60px !important;
    right: -28px;
    z-index: 1;
    cursor: auto;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    max-height: calc(100vh - 180px);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.catalog__cart--open .catalog__cart__wrapper__item {
    text-transform: none;
}

a.catalog__navigation__item--cart:hover {
    color: #ffffff;
}

/**********************************************************************************************/
/********************************************order*********************************************/
.order__wrapper {
    background: url("img/cartbackground.jpg");
}

.order_title {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 0;
    margin: 30px 0;

}


.order__cart__wrapper {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-bottom: 2px solid #ffffff;
    margin: 0 25px;
    padding: 20px 0;
}

.order__cart__wrapper__item {
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 20px 0;
}

.order__cart__countplus {
    text-align: center;
    font-size: 36px;
    line-height: 25px;
    width: 36px;
    height: 36px;
    background: url("img/cirlceorder.png");
    background-repeat: no-repeat;
    display: block;
}

.order__cart__countminus {
    text-align: center;
    line-height: 35px;
    width: 36px;
    height: 36px;
    background: url("img/cirlceorder.png");
    background-repeat: no-repeat;
    display: block;
}

.order__cart__countplus span {
    margin-left: 2px;
}

.order__cart__countminus span {
    margin-left: 2px;
}

.order__cart__wrapper.order__cart__wrapper--last {
    border-bottom: none;
}

.order__cart__price {
    font-size: 26px;
}

.order__cart__price span {
    font-size: 36px;
}

.personal__data {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.order__personal__data__title {
    font-weight: 300;
    color: #ffffff;
    font-size: 24px;
    margin-top: 45px;
}

.order__personal__data__form {
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    width: 270px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top: 10px;
}

.order__delivery {
    margin-top: 170px;
}

.order__delivery__title {
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.popup-window-close-icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url("/local/templates/pizzapi/img/closepopup.png") no-repeat;
    background-size: contain;
}

.popup-window-close-icon:hover {
    width: 20px;
    height: 20px;
    display: block;
    background: url("/local/templates/pizzapi/img/closepopup.png") no-repeat;
    background-size: contain;

}

input.input._mb_2 {
    width: 160px;
    height: 30px;
    background-color: inherit;
    border: 2px solid #dd401d;
    margin: 15px 0 15px 5px;
}

form.card_popup_confirm {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

.card-check__error {
    color: red;
    font-size: 16px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}

.card_number {
    display: inline;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 20px;
    padding-right: 15px;
}

p.h1.popup__title {
    margin-bottom: 20px;
}

.popup-window-content {
    /*background-color: #f0eae1;*/
}

input.btn._style_4._full-width {
    color: #fff;
    text-decoration: none;
    background-color: #dd401d;
    border-radius: 25px;
    width: 260px;
    height: 50px;
    padding: 15px 46px;

    text-align: center;
    width: 260px;
    font-weight: 500;
    color: #ffffff;
    line-height: 17px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0 solid #de411d;
    background-color: #de411d;
    height: 54px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

div#DiscountCard {
    background-color: #ffffff;

}

label.label.card_popup_confirm_label {
    color: black;
    font-size: 18px;
}

.popup-window {
    overflow: hidden;
}

.authform {
    color: black;
}

.authform a {
    color: black;
}

.authform h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 30px 0 10px;
}

.authform__input {
    margin: 0 0 10px;
}

.authform__input input {
    display: block;
    width: 100%;
    font-size: 14px;
    border: 2px solid #dd401d;
    padding: 7px 8px;
    background: transparent;
}

.authform__label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.authform__checkbox {
    margin: 20px 0;
}

.authform__checkbox input {
    position: absolute;
    left: -9999px;
}

.authform__checkbox label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #dd401d;
}

.authform__checkbox input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 18px;
    height: 18px;
    border: 2px solid #dd401d;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #dd401d;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.authform__checkbox input:checked + label:before {
    content: "✔";
}
.authform__save-btn {
    margin: 40px 0 30px;
}

.authform__save-btn input {
    font-size: 14px;
    display: block;
    width: 210px;
    heigth: 49px;
    line-height: 39px;
    color: white;
    background: #dd401d;
    border-radius: 49px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.authform_errors {
    color: #dd401d;
    margin: 20px 0;
}
.authform_ok {
    color: #34b934;;
    margin: 20px 0;
}
.authform__form-wrapper-confirmation {
    margin: 35px auto;
}

.auth-block {
    background: url(/local/templates/pizzapi/img/popup_vegetables.png) #f0eae1 no-repeat;
    background-size: contain;
    background-position: 90% 0;
    margin: 0;
    padding: 10px 30px;
}
.auth-block .row {
    margin-right: auto;
    margin-left: auto;
}

.profile {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    color: white;
    /*padding: 40px 0;*/
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .profile {
        padding: 0 15px;
    }

    .profile .profile-data__ava{
        position: relative;
    }

    .profile .profile-order{
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .profile .profile__order__list{
        margin: 30px 0 0;
    }

    .profile .profile-order__number{

    }

    .profile .profile-order__address {
        margin-right: 0;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .profile .profile-orders__item>.profile-order>span:last-child{
        margin-right: 0;
    }

    .profile .profile-orders__item > .profile-order > span{
        margin-left: 0;
        margin-right: 7px;
    }

    .profile .profile-data__text{
        padding-left: 0;
        margin-top: 20px;
    }

    .profile .profile-data{
        margin: 30px 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .profile .profile-margin{
        padding-left: 0;
    }

    .profile .cabinet__cart-discount-wrap {
        min-width: auto;
    }

    .profile .profile-card{
        width: auto;
    }
}

.profile h2 {
    font-size: 24px;
    margin: 30px 0;
    font-weight: 500;
}

.profile h3 {
    font-size: 30px;
    margin: 30px 0 10px;
    font-weight: 500;
}

.profile__order__list{
    margin: 30px -125px 0 0;
}

.profile-card {
    cursor: pointer;
    width: 380px;
    min-height: 240px;
    height: auto;
    border-radius: 10px;
    position: relative;
}

.profile-no__card {
    border: 2px dashed #fff;
}

.profile-no__card:before {
    content: "+";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    line-height: 94px;
    text-align: center;
    font-size: 46px;
    border: 2px dashed white;
    border-radius: 50%;
    font-weight: 300;
    right: 0;
    bottom: 0;
    margin: auto;
}

.profile-sale-size {
    font-size: 24px;
    line-height: 70px;
    margin: 30px 0;
}

.profile-sale-size__circle {
    text-align: center;
    color: white;
    font-size: 30px;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e03e1c;
    margin-left: 70px;
}

.profile-sale-size__circle:after {
    content: "%";
    font-size: 20px;
}

.profile-margin {
    padding-left: 130px;
}

.profile-data {
    margin: 30px 0 30px -130px;
    min-height: 100px;
    position: relative;
}

.profile-data__ava {
    width: 100px;
    position: absolute;
    height: 100px;
    float: left;
    background: #647b9c;
    border-radius: 50%;
    overflow: hidden;
}

.profile-data__ava img {
}

.profile-data__text {
    font-size: 20px;
    padding-left: 130px;
}

.profile-data__phone {
    font-size: 24px;
}

.profile-data-edit {
    font-size: 20px;
    position: relative;
}

.profile-data-edit a {
    text-decoration: underline;
}

.profile-data-edit i {
    position: absolute;
    left: -35px;
    font-size: 24px;
}

a.show-main-profile-popup{
    cursor: pointer;
}

.profile-popup {
    padding: 10px 30px;
}

.profile-popup h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.profile-popup__ava {
    position: relative;
    width: 100px;
    height: 100px;
}

.profile-popup__ava .deleteAva{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(/local/templates/pizzapi/img/closepopup.png) no-repeat;
    background-size: contain;
    z-index: 1000;
    cursor: pointer;
}

.profile-popup__ava img {
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    background: #647b9c;
}

.profile-popup__ava input {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.profile-popup__ava:before {
    content: "+";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed black;
    font-weight: 300;
    text-align: center;
    line-height: 97px;
    font-size: 38px;
}

.profile-popup__form {
    margin-top: 30px;
}

.profile-popup__input {
    margin: 0 0 22px;
}

.profile-popup__label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.profile-popup__input input {
    display: block;
    width: 100%;
    font-size: 14px;
    border: 2px solid black;
    padding: 7px 10px;
}

.profile-calendar {
    position: relative;
}

.calendar-icon {
    position: absolute;
    right: 3px;
    top: 3px;
}

.profile-popup__save-btn {
    margin: 0px 0 24px;
    margin-left: 15px;
}

.profile-popup__save-btn input {
    font-size: 14px;
    display: block;
    width: 205px;
    heigth: 49px;
    line-height: 40px;
    color: white;
    background: #dd401d;
    border-radius: 49px;
    border: none;
    outline: none;
    margin-top: 10px;
    text-transform: uppercase;
}

i.fa.fa-plus {
    margin-top: 0;
}

i.fa.fa-minus {
    margin-top: 0;
}

.profile-cart {
    display: block;
    color: black;
    padding: 0px 30px 0px 30px;
}

.profile-cart h2 {
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.profile-cart .catalog__cart__wrapper {
    width: 100%;
    margin: 0;
}

.profile-cart .catalog__cart__wrapper__item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding: 15px 0;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.profile-cart .catalog__cart__title {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 15px;
}

.profile-cart .catalog__cart__title a,
.profile-cart .catalog__cart__title a:hover,
.profile-cart .catalog__cart__title a:focus,
.profile-cart .catalog__cart__title a:active,
.profile-cart .catalog__cart__title a:visited {
    color: inherit;
    text-decoration: none;
}

.profile-cart .catalog__cart__price {
    margin-left: 60px;
}

.profile-cart .catalog__cart__count--change {
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 13px;
    margin-left: 10px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.profile-cart .catalog__cart__count {
    padding: 0 10px;
}

.profile-cart .catalog__cart__itogo {
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: right;
}

.profile-cart__oprder-btn {
    margin: 40px 10px;
}

.profile-cart__oprder-btn a {
    padding: 11px 23px;
    margin-top: 115px;
    text-align: center;
    width: 215px;
    font-weight: 500;
    color: #ffffff;
    line-height: 17px;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border: 0 solid #de411d;
    background-color: #de411d;
    height: 45px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* page about start */
.page__img {
    max-width: 950px;
    width: 100%;
    height: auto;
}

.page__title {
    margin: 30px 0;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .page__title {
        padding: 20px 30px 0px;
        margin: 20px 0 -20px;
        font-size: 24px;
    }

    .detail__restoran {
        color: #fff;
        margin-bottom: 25px;
    }

    .restourant__image {
        margin-right: 10px;
        margin-top: 10px;
    }

    .restourant__item__list {
        min-width: 320px;
        margin-left: 0px;
    }

    #map{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto 20px;
        width: 320px !important;
        height: 320px !important;
    }

    .restourant__item{
        min-width: 300px;
    }

    div.news-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .footer__form-wrapper > div {
        margin-top: 15px;
    }

    .footer__form {
        margin-top: 22px;
    }

    div.news-list img.preview_picture{
        margin: 0 auto;
    }

    .subscribe{
        margin-top: 35px;
    }

    .space-hack{
        margin: 0 10px;
    }

    .catalog{
        margin-bottom: 0;
    }
}

.page__block {
    margin-bottom: 50px;
    color: #ffffff;
    font-family: Museo;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 32px;
}

ymaps {
    max-width: 950px;
    max-height: 415px;
}

/* page about end */


.navigation__item--cart--wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;

}

.catalog__cart__item.catalog__cart__image {
    margin-right: 5px;
}

@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio : 2) {
    .catalog__menu{
        padding: 0 calc((100% - 400px) / 2);
    }

    /* .catalog__menu.fixed .catalog__cart--open {
         top: 90px !important;
     }*/

    .catalog__menu .catalog__cart--open {
        top: 90px !important;
    }

    .catalog__cart--count {
        right: -78px;
        top: 86px;
        left: 0;
        margin: auto;
    }
}

@media screen and (min-width: 382px) and (max-width: 600px) and (-webkit-min-device-pixel-ratio : 2) {
    .catalog__cart--count {
        right: -77px;
    }

    .catalog__cart--open{
        padding: 0px;
    }
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .header__convert {
        display: block;
        height: 62px;
        position: fixed;
        top: 0;
        padding: 0;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
    .header{
        display: block;
    }
}



.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.subscribe__message {
    position: absolute;
    top: -37px;
    color: white;
    background-color: #34b934;
    padding: 5px 10px;
    border-radius: 5px 5px;
    border: 2px solid white;
    display: none;
}



.cabinet__card-img img {
    width: 100%;
}

.cabinet__cart-number {
    display: block;
    position: absolute;
    top: 28px;
    padding-left: 140px;
}

.cabinet__cart-discount-wrap {
    margin-top: 30px;
    margin-bottom: 50px;
    min-width: 350px;
}

.cabinet__cart-discount-restaurant, .cabinet__cart-discount-delivery {
    margin-top: 20px;
    line-height: 70px;
}


.cabinet__cart-discount-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 45px;
    background-color: #ff3f13;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .cabinet__cart-discount-restaurant, .cabinet__cart-discount-delivery {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .cabinet__cart-discount-circle {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 8px;
    }
}

.notValid {
    background: rgba(255, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 25px -1px #f00;
    box-shadow: 0 0 25px -1px #f00;
}

.profile-address-control{
    float: right;
    cursor: pointer;
}

.profile-address-control i {
    font-size: 18px;
    margin-top: 7px;
}

._flex {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.flex-d-column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.legend-column {
    margin: 5px;
}

.legend-header {
    text-align: center;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
}

#legend-container{
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
    margin-top: 25px;
}

.legend-circle {
    float: left;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    display: inline-block;
}

.legend-text {
    padding: 0 10px;
    float: left;
    height: 39px;
    line-height: 39px;
}

@media screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio : 2) {
    .container {
        width: auto;
    }
}

@media screen and (min-width: 768px)  and (-webkit-min-device-pixel-ratio : 2){
    .container {
        width: auto;
    }

    .popup-window .authform {
        padding: 0;
    }
}

.popup-window .authform{
    padding: 0 20px;
}

:not([id^=calendar_popup]).popup-window {
    width: 96vw;
    margin: auto;
    max-width: 1030px;
    left: 0 !important;
    right: 0 !important;
    padding: 0;
}

.popup-window .container{
    padding: 10px;
    margin: 0;
}

.popup-window .row {
    margin-right:auto;
    margin-left:auto;
}

#Login.popup-window .container, #Register.popup-window .container  {
    background: url(/local/templates/pizzapi/img/smartobjet.png);
    background-repeat: no-repeat;
    height: auto;
    padding-top: 15px;
    background-size: contain;
    background-position: bottom right;
}

.alert-informer{
    position: fixed;
    bottom: 15%;
    right: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 0.5em 1em;
    z-index: 2000;
    color: white;
    background-color: #333337;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}
.disabled_input{
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 7px 10px;
}

#loginFormPopup .row > div:last-child, .ajax-reg-form .row>div:last-child {
    padding-right: 0;
}

#loginFormPopup .row > div:first-child, .ajax-reg-form .row > div:first-child {
    padding-left: 0;
}

.confirm-order_wrapper{
    padding: 0px 30px;
}
.news__detail {
    padding: 0 15px;
}
.action__picture img {
    width: 100%
}

.obertka{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.promos__text{
    color:white;
}

.block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}

.block__delivery__description {
    width: 30%;
    /*margin: 0px 70px;*/
    text-align: center;
    margin-bottom: 30px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.block__delivery__description img {
    max-height: 80px;
    max-width: 80px;
}
img.delivery__img {
    margin-top: 30px;
}

.delivery__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
}

.delivery__block__spacehack {
    width: 220px;
    height:0px;
}

.page__delivery__title{
    margin-top:32px;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.delivery__no__images__number {
    font-weight: 900;
    font-size: 55px;
    color:#fff;

}

.delivery__no__images {
    margin-top: 57px;
}

.delivery__no__images__Text {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.delivery__no__images__percent {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.evrytime{
    margin-bottom: 0px;
}
.delivery__no__images__minprice{
    margin-top:50px;
}
.delivery__title span {
    font-size:16px;
}

.delivery__title__custom{
    margin-top: 3px;
}

@media (max-width: 768px) {
    .catalog-wrapper .container{
        margin-top: 62px;
        padding: 0 20px;
    }

    .block__wrapper{
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .block__delivery__description{
        margin: 0 10px 30px;
    }
}

.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog{
    margin: 40px auto;
    max-width:1000px;

    display: block;

    position: relative;
}

.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list {
    display: block;
}

.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item {
    float: right;
}

.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item .catalog__item__offers-block {
    width: 230px;
    margin: 0 auto 0;
}
.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item .catalog__item__offers-block .catalog__item__offer--single {
    width: 100%;
}
.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item .catalog__item__offers-block .catalog__item__offer{
    width: 50%;
    line-height: 35px;
    font-size: 24px;
    color: gray;
    letter-spacing: 2px;
    box-sizing: border-box;
    float: left;
}
.safari__old  .catalog__item__offer--single {
    width: 100%!important;
}
.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item .catalog__item__offers-block .catalog__item__offer .catalog__item__size img{
    height: 25px;
    margin: 5px 0 10px 10px;
    padding-right: 10px;
    display: block;
    float: left;
}

.safari__old .main-content .main-content__wrapper .catalog-wrapper .container .catalog .catalog__items__list .catalog__item .catalog__item__offers-block .catalog__item__offer .catalog__item__size--single img{
    height: 25px;
    padding-right: 10px;
}

.safari__old footer {
    clear: both;
}
.safari__old .catalog__section__description {
    clear: both;
}

body #basket_form {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-transform: none;
}
