.restourant__item__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.restourant__item__list {
    min-width: 350px;
    margin-right: 15px;
}
.restourant__item {
    color: #fff;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}
.specific{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.restourant__item:hover{
    background-color: rgba(255,255,255,0.1);
}

.restourant__name {
    font-weight: 600;
    font-size: 13px;
}

.restourant__image {
    margin-right: 20px;
    margin-top: 10px;
}
.restourant__image img {
    max-width: 25px;
}

div.news-list {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.restourant__item__description {
    line-height: 19px;
}

#map {
    position: relative;
    margin-left: 5px;

}

.page__delivery__title {
    margin-top: 100px;
    font-weight: 700;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.restourant__adress {
    font-size:11px;
}
.restourant__phone {
    font-size:11px;
}
.maps__detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.detail__restoran {
    margin-top: 20px;
    color: #fff;
}