mixin breadcrumbs()
	.breadcrumbs
		a(href="#").breadcrumbs__back Назад
		ul.breadcrumbs__list
			li.breadcrumbs__list-item 
				a(href="#") Меню
			li.breadcrumbs__list-item._last 
				a(href="#") Роллы