.rouble {
	position: relative;
	font-weight: 400;
	// font-family: @arimo;
	font-family: 'Rouble';
	text-transform: none;

	&:after {
		// content: 'a';
		// content: '–';
		// position: absolute;
		// line-height: 1px;
		// top: 60%;
		// left: 0px;
		// font-weight: 600;
		// margin-top: 1px;
	}
}