.coupon-popup {
	width: 400px;
	padding: 20px;

	.btn {
		margin-top: 10px;
	}

	.input {
		width: 220px;
	}

	&__sign {
		font-size: 12px;
		color: #999;

		&._error {
			color: red;
		}
	}
}