.logo {
	margin: 0 0 0 -3px;

	@media (max-width: @desktop) {
		body:not(._light) & {
			margin: 13px 0 0 10px;

			img {
				width: 187px;
				height: auto;
			}
		}

		body._light & {
			margin: 0;
		}
	}

	@media (max-width: @tablet) and (orientation: portrait) {
		body:not(._light) & {
			margin: 13px 0 0 -13px;
		}
	}
}