mixin goods-slider()
	.goods-slider(onclick="return {goodsSlider: {}}").js-widget
		.goods-slider__slider
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")
			.goods-slider__slider-item
				.goods
					.goods__wrap
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							h2.goods__name Филадельфия
							.goods__composition Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn В корзину
						.goods__num 6 шт.
						.goods__sheff
			.goods-slider__slider-item
				+goods("images/temp/3.jpg")
			.goods-slider__slider-item
				+goods("images/temp/4.jpg")
			.goods-slider__slider-item
				+goods("images/temp/5.jpg")
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")
			.goods-slider__slider-item
				+goods("images/temp/2.jpg")
			.goods-slider__slider-item
				+goods("images/temp/3.jpg")
			.goods-slider__slider-item
				+goods("images/temp/4.jpg")
			.goods-slider__slider-item
				+goods("images/temp/5.jpg")
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")