.franchise {
	margin-right: 63px;

	&__text {
		margin-bottom: 39px;
	}

	&__subtitle {
		margin-bottom: 35px;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		color: @brown;
	}

	&__info {
		position: relative;
		height: 429px;
		margin-bottom: 51px;

		&-block {
			position: absolute;
			max-width: 233px;
			min-height: 115px;
			padding: 0 25px;
			line-height: 115px;
			border-radius: 15px;
			background: @brown-extralight;
			color: @brown;

			&._top-left {
				top: 0;
				left: 0;
			}

			&._top-right {
				top: 0;
				right: 0;
			}

			&._bottom-left {
				bottom: 0;
				left: 0;
			}

			&._bottom-right {
				bottom: 0;
				right: 0;
			}


			&-inner {
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
			}
		}

		&-title {
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 5px;
		}

		&-desc {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__pic {
		position: absolute;
		margin: auto;
		top: -17px;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__badges {
		margin-top: 69px;
		margin-left: -17px;
		white-space: nowrap;

		@media (max-width: @desktop) {
			margin-left: 0;
			margin-bottom: 50px;
		}

		.badge {
			margin: 0;
			display: inline-block;
			vertical-align: top;
			white-space: normal;

			img {
				margin-bottom: 13px;
			}
		}

		.badge + .badge {
			margin-left: 33px;
		}

		.badge + .badge + .badge {
			margin-left: 15px;
		}
	}

	&__contacts {
		padding: 20px;
		padding: 35px 5px 52px 24px;
		margin-top: 62px;
		border: 2px solid @input-border;
		border-radius: 15px;

		.h2 {
			margin-bottom: 19px;
		}

		p {
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 9px;
		}

		&-tel {
			display: block;
			margin-left: -7px;
			text-decoration: none;
			color: black;
		}

		&-email {
			margin-top: 6px;
			display: block;
		}
	}

	&__contacts & {
		&__subtitle {
			margin-bottom: 1px;
			font-size: 16px;
			font-weight: 600;
		}
	}

	@media (max-width: @desktop) {
		margin: 0;
	}
}