include jade/_mixins
.ordering-form.popup__card
	h1 Описание проблемы
	.popup__user-body
		//- .ordering-form__row
			.input__wrap
				label.label Номер карты
				input.input


		.ordering-form__row
			.input__wrap
				label.label Имя
				input.input

			.input__wrap
				label.label Фамилия
				input.input


		.ordering-form__row
			.input__wrap
				label.label Телефон
				input.input 

			.input__wrap
				label.label Электронная почта
				input.input


		.ordering-form__row
				label.label Текст обращения
				textarea.textarea


		//- .ordering-form__row._quarter
			.input__wrap
				label.label Дом
				input.input 

			.input__wrap
				label.label Корпус
				input.input

			.input__wrap
				label.label Строение
				input.input

			.input__wrap
				label.label Квартира
				input.input


		.ordering-form__row
			.input__wrap
				input.btn._style_4._full-width(value="Отправить", type="submit")
