include jade/_mixins
.ordering-form.popup__card
	h1 Регистрация карты
	.popup__user-body
		//- .ordering-form__row
			.input__wrap
				label.label Номер карты
				input.input


		.ordering-form__row
			.input__wrap
				label.label Имя
				input.input

			.input__wrap
				label.label Фамилия
				input.input


		.ordering-form__row
			.input__wrap
				label.label Дата рождения
				input.input


		.ordering-form__row
			.input__wrap
				label.label Телефон
				input.input 

			.input__wrap
				label.label Электронная почта
				input.input


		//- .ordering-form__row
			+select("Город", "_city")

			.input__wrap
				label.label Улица
				input.input


		//- .ordering-form__row._quarter
			.input__wrap
				label.label Дом
				input.input 

			.input__wrap
				label.label Корпус
				input.input

			.input__wrap
				label.label Строение
				input.input

			.input__wrap
				label.label Квартира
				input.input


		.ordering-form__row
			.input__wrap
				input.btn._style_4._full-width(value="Зарегистрировать", type="submit")
