include jade/_mixins

block content
	.goods-one._removed
		.goods-one__img
			img(src="images/big-roll.png")
		.goods-one__desc
			p.goods-one__about Блюдо "Филадельфия" было удалено из Вашего заказа. Если это произошло случайно - можно вернуть блюдо обратно.
		.goods-one__side
			a.btn._full-width._style_1.goods-one__add Вернуть
