h2.h1.popup__title Новый гость
label.label Как зовут гостя?
input.input._mb_2(type="text")

label.label Выберите фото или аватар
.input__file._photo Выбрать фото...
	input.input__file-input(type="file")

p.avatars
	input.radio(type="radio", name="checkbox1", id="avatar")
	label.radio-label(for="avatar", class="checkbox-label") 1 

	input.radio(type="radio", name="checkbox1", id="avatar2")
	label.radio-label(for="avatar2", class="checkbox-label") 2

	input.radio(type="radio", name="checkbox1", id="avatar3")
	label.radio-label(for="avatar3", class="checkbox-label") 3

	input.radio(type="radio", name="checkbox1", id="avatar4")
	label.radio-label(for="avatar4", class="checkbox-label") 4

	input.radio(type="radio", name="checkbox1", id="avatar5")
	label.radio-label(for="avatar5", class="checkbox-label") 5

	input.radio(type="radio", name="checkbox1", id="avatar6")
	label.radio-label(for="avatar6", class="checkbox-label") 6

input.btn._style_4(value="Добавить", type="submit")
