include jade/_mixins

block content
	.popup__alert
		h2.popup__alert-title.h1 Спасибо за регистрацию
		.auth__bonus._wide
			p За регистрацию мы начислили вам 
			.auth__bonus-nyam 
				span.text-brown 5 000
				img(src="/images/nyam_big.png")
				span.text-orange ниям