.coupon-popup(onclick="return {'couponPopup': {}}").js-widget
	form(action="/_popup_coupon.html")
		h2.h1.popup__title Бонусы купона
		.coupon._popup._style_1
			.coupon__title 
				.coupon__title-left 3 000
				.coupon__title-right НИЯМ
				.coupon__title-center
					.coupon__badge._nyam
		label.label Сколько ниям применить к корзине?
		input.input._mb_3(type="text", name="coupon__count", value="Обычное поле")
		input.input._error._mb_3(type="text", name="coupon__count", value="Поле с ошибкой")
		.coupon-popup__sign Обычная надпись
		.coupon-popup__sign._error Текст ошибки
		input.btn._style_2._full-width(value="Применить", type="submit")
