.card-check(onclick="return {'cardCheck': {}}").js-widget
	h2.h1.popup__title Проверка карты
	label.label Номер карты
	input.input._mb_2(type="text")
	.card-check__error
	input.btn._style_4._full-width(value="Проверить", type="submit")
