include jade/_mixins
.popup__user
	h1 Личные данные
	.popup__user-body
		.row 
			.popup__user-photo
				label.label Фото или аватар
				img(src="http://lorempixel.com/64/64/people")
				.input__file._photo._mini Выбрать фото...
					input.input__file-input(type="file")
			
			.popup__avatars
				input.radio(type="radio", value="0", id="cabinet_avatar1", name="cabinet_avatar", checked)
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar1")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="1", id="cabinet_avatar2", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar2")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="2", id="cabinet_avatar3", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar3")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="3", id="cabinet_avatar4", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar4")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="4", id="cabinet_avatar5", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar5")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="5", id="cabinet_avatar6", name="cabinet_avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="cabinet_avatar6")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

		.col
			label.label Имя
			input.input 

			label.label Телефон
			input.input 

		.col
			label.label Фамилия
			input.input 

		.clearfix
		.row
			.col
				label.label Электронная почта
				input.input(type="email", value="somemail@adv.ru", disabled)
			.col
				+question-mail

		.clearfix
		.popup__user-change-pass 
			span Изменить пароль

		.row._passwords
			.col
				label.label Текущий пароль
				input.input 
			.col
				label.label Новый пароль
				.input__wrap(onclick = "return {'togglePass': {} }").js-widget
					.input__showpass
					input.input(type="password")
		.row
			input.btn._style_4(value="Сохранить", type="submit")
