include jade/_mixins
.ordering-form
	form
		h1 Добавление адреса доставки
		.popup__user-body
			.ordering-form__body.block2(onclick="return {'streetAutocomplete': {}}").js-widget
				.ordering-form__row
					+select("Город", "_city")
					+select("Станция метро", "_metro")

				.ordering-form__row
					label.label Почтовый адрес: улица, дом
					input.input._address

				.ordering-form__row._quarter
					.input__wrap
						label.label Квартира
						input.input._apart

					.input__wrap
						label.label Подъезд
						input.input._porch

					.input__wrap
						label.label Домофон
						input.input._intercom

					.input__wrap
						label.label Этаж
						input.input._floor

				.ordering-form__row.align-left
					+checkbox-big('Мой основной адрес', "address", "address", 'address')

				.ordering-form__row
					input(type="submit", value="Сохранить").btn._style_3