include jade/_mixins

block content
	.popup__gratz
		.popup__gratz-side
			h2.popup__gratz-title Поздравляем!
			h3.popup__gratz-subtitle Вы награждаетесь медалью за преданность!
			p.popup__gratz-desc За ваш заказ Сельдереево-яблочного фреша, Секуе суши, Гюники. Благодарим  за преданность японской кухни  и нашему  ресторану.
		.popup__gratz-medal
			+medal_big('','За преданность', "/images/gratz/medal_big.png")
		.popup__gratz-share
			.label Поделиться новостью с друзьями
			+social__auth