include jade/_mixins
table.order-history__table
	thead
		tr
			th
				span Дата
			th № заказа
			th.align-right
				span Сумма 
				+rouble()
			th
				span Статус
			th Гости и блюда
			th
				span Ниямы
		tr
			th._top(colspan="6")
	tbody
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
		tr(data-href="/cabinet_order.html")
			td 28.05.2014
			td 292
			td.align-right 2 839
			td выполняется
			td 3/6
			td будет начислено 35 ниям
		tr(data-href="/cabinet_order.html")
			td 24.02.2014
			td 245
			td.align-right 2 750
			td выполнен
			td 2/2
			td начислено 560 ниям
