extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			.page__content-wrap
				.page__content._inner._margin-right
					+about
			.page__sidebar
				+nav-side
			.page__sidebar._right._pursed-top
				+badge_one
				+badge_two
				+badge_three