extends jade/layouts/cabinet

block content
	.page__cart
		.page__container
			.cart(onclick="return {'cart': {}}").js-widget
				+cart-history
				+guests
				+cart-buy
				.clearfix
				.cart__table
				.cart__toggle-shadow
				.cart__toggle
					.cart__toggle-circle._cabinet
					.cart__toggle-button._cabinet

	main.page__main._cabinet
		.page__container.clearfix
			.page__content-wrap
				.cabinet(onclick="return{'cabinet': {}}").js-widget
					.cabinet__main
						.cabinet__title
							h2.h1.pull-left Заказ №234
							a(href="#").cabinet__title-link.pull-right Комната героя
							a(href="#", href="_popup_cabinet_orders_history.html", data-fancybox-type="ajax").fancybox.cabinet__title-link.pull-right История заказов
						.cabinet__info.cabinet__transparent
							.order
								.order__main
									.order__group._coupons
										.order__group-title
											.order__group-name Купоны
										.order__item
											+coupon_6
											br
											+coupon_2
											br
											+coupon_5
									.order__group
										.order__group-title
											.order__group-guest
												img(src="images/guest.png")
											.order__group-name Гость 1
												.order__group-info 3 блюда, 
													b 750 
													+rouble
										.order__item
											.order__item-not-in-menu Отсутствует в меню
											.order__item-img
												img(src="http://lorempixel.com/119/86/food")
											.order__item-desc
												.order__item-title Гюнику
												.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
										.order__item
											.order__item-count
												span.order__item-cost 195 
													span.rouble Р 
												.order__item-select 4
											.order__item-img
												img(src="http://lorempixel.com/125/83/food")
											.order__item-desc
												.order__item-title Авокадо маки
												.order__item-ingredients Лосось, сливочный сыр, авокадо
										.order__item
											.order__item-count
												span.order__item-cost 195 
													span.rouble Р 
												.order__item-select 4
											.order__item-img
												img(src="http://lorempixel.com/115/78/food")
											.order__item-desc
												.order__item-title Секуе суши
												.order__item-ingredients Шампиньоны и вешенки, огурец
									.order__group
										.order__group-title
											.order__group-guest
												img(src="images/guest.png")
											.order__group-name Гость 2
												.order__group-info 2 блюда, 
													b 750 
													+rouble

										.order__item
											.order__item-count
												span.order__item-cost 195 
													span.rouble Р 
												.order__item-select 4
											.order__item-img
												img(src="http://lorempixel.com/117/83/food")
											.order__item-desc
												.order__item-title Гюнику
												.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
										.order__item
											.order__item-count
												span.order__item-cost 195 
													span.rouble Р 
												.order__item-select 4
											.order__item-img
												img(src="http://lorempixel.com/110/71/food")
											.order__item-desc
												.order__item-title Авокадо маки
												.order__item-ingredients Лосось, сливочный сыр, авокадо

									.order__group
										.order__amount
											span.h1 итого 
											span.h1.order__amount-sum 2 500 
											span.rouble Р
										.order__bonus
											.order__bonus-img
												img(src="images/icon_1.png")
											span.order__bonus-text 
												span 2 
												span гостя, 
												span 5 
												span блюд
										.order__bonus
											.order__bonus-img
												img(src="images/delivery.png")
											span.order__bonus-text Бесплатная доставка

					.cabinet__side
						.cabinet__card
							.cabinet__card-title.h1 Моя карта
							.cabinet__card-img-wrap 
								//- .cabinet__card-discount-wrap
									.cabinet__card-discount 7
										sup %
										.cabinet__card-discount-text скидка
								.cabinet__card-img
									img(src="images/temp/card.png")

							a(href="/_popup_cabinet_card_reg.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Зарегистрировать карту