extends jade/layouts/cabinet

block content
	.page__cart
		.page__container
			.cart(onclick="return {'cart': {}}").js-widget
				+cart-history
				+guests
				+cart-buy
				.clearfix
				.cart__table
				.cart__toggle-shadow
				.cart__toggle
					.cart__toggle-circle._cabinet
					.cart__toggle-button._cabinet

	main.page__main._cabinet
		.page__container.clearfix
			.page__content-wrap
				.cabinet(onclick="return{'cabinet': {}}").js-widget
					.cabinet__main
						.cabinet__title
							h2.h1.pull-left Личные данные
							a(href="#").cabinet__title-link.pull-right Комната героя
							a(href="#", href="_popup_cabinet_orders_history.html", data-fancybox-type="ajax").fancybox.cabinet__title-link.pull-right История заказов
						.cabinet__info.cabinet__transparent
							.cabinet__user
								a.cabinet__edit.fancybox(data-class="fancybox-custom fancybox-brown", href="/_popup_cabinet_1.html", data-fancybox-type="ajax")
								.cabinet__user-card
									.cabinet__user-img
										img(src="http://lorempixel.com/80/80")
									.cabinet__user-info
										.cabinet__user-name Женя
										.cabinet__user-tel +7 916 856-58-54
										.cabinet__user-email evgenia@adv.ru

							.cabinet__guests
								.cabinet__controls
									a(href="#").cabinet__controls-add
										span Добавить гостя
									h2 Ваши гости
								//- p Вы сможете разделять сумму заказа на количество персон.
								+guests-cabinet
								+guests-cabinet
								+guests-cabinet
								+guests-cabinet
								br
							.cabinet__addresses
								.cabinet__controls
									a(href="/_popup_cabinet_2.html", data-fancybox-type="ajax").cabinet__controls-add.fancybox
										span Добавить адрес
									h2 Адреса доставки
								ol
									li.cabinet__address._active
										span г. Москва, ул. Победы, д.8, 1 подъезд, 3 этаж, кв. 18 
											a(href="/_popup_cabinet_2.html", data-fancybox-type="ajax").fancybox
												span.pseudo-link Редактировать
									li.cabinet__address 
										span г. Москва, Ленинградский пр-т, д.15, стр. 28, 3 этаж, офис "АДВ"
											a(href="/_popup_cabinet_2.html", data-fancybox-type="ajax").fancybox
												span.pseudo-link Редактировать
									li.cabinet__address 
										span г. Москва, Кутузовский пр-т, д. 12, кв. 176
											a(href="/_popup_cabinet_2.html", data-fancybox-type="ajax").fancybox
												span.pseudo-link Редактировать

					.cabinet__side
						.cabinet__card
							.cabinet__card-title.h1 Моя карта
							.cabinet__card-img-wrap 
								//- .cabinet__card-discount-wrap
									.cabinet__card-discount 7
										sup %
										.cabinet__card-discount-text скидка
								.cabinet__card-img
									img(src="images/lk/card.png")

							a(href="/_popup_cabibet_check_card.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Проверить карту
							a(href="/_popup_cabinet_card_reg.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Зарегистрировать карту
							a(href="/_popup_cabinet_card_reg_2.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Карта уже зарегистрирована
							a(href="/_popup_cabibet_check_card_problem.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Проблемы с картой

						.cabinet__poll.cabinet__transparent
							form
								h3.cabinet__poll-title Вам понравился наш новый сайт?
								p 
									+radio("yep") Да
								p
									+radio("almost") Привыкаю
								p
									+radio("nope") Старый был лучше
								input(type="submit", value="Ответить").btn._style_4