extends jade/layouts/cabinet

block content
	.page__cart
		.page__container
			.cart(onclick="return {'cart': {}}").js-widget
				+cart-history
				+guests
				+cart-buy
				.clearfix
				.cart__table
				.cart__toggle-shadow
				.cart__toggle
					.cart__toggle-circle._cabinet._cabinet-7
					.cart__toggle-button._cabinet

	main.page__main._cabinet._cabinet-7
		.page__container.clearfix
			.page__content-wrap
				.cabinet(onclick="return{'cabinet': {}}").js-widget
					.cabinet__main
						.cabinet__title
							h2.h1.pull-left Личные данные
							a(href="#").cabinet__title-link.pull-right Комната героя
							a(href="#").cabinet__title-link.pull-right История заказов
						.cabinet__info.cabinet__transparent
							.cabinet__user
								a.cabinet__edit.fancybox(href="/_popup_cabinet_1.html", data-fancybox-type="ajax")
								.cabinet__user-card
									.cabinet__user-img
										img(src="http://lorempixel.com/80/80")
									.cabinet__user-name Женя
									.cabinet__user-tel +7 916 856-58-54
									.cabinet__user-email evgenia@adv.ru

							.cabinet__guests
								.cabinet__controls
									a(href="#").cabinet__controls-add
										span Добавить гостя
									h2 Ваши гости
								//- p Вы сможете разделять сумму заказа на количество персон.
								+guests-cabinet
								+guests-cabinet
								+guests-cabinet
								+guests-cabinet
								br
							.cabinet__addresses
								.cabinet__controls
									a(href="/_popup_cabinet_2.html", data-fancybox-type="ajax").cabinet__controls-add.fancybox
										span Добавить адрес
									h2 Адреса доставки
								.cabinet__address 
									
								.cabinet__address 
									
								.cabinet__address 
									

					.cabinet__side
						.cabinet__card
							.cabinet__card-title.h1 Моя карта
							.cabinet__card-img-wrap 
								.cabinet__card-discount-wrap
									.cabinet__card-discount 7
										sup %
										.cabinet__card-discount-text скидка
								.cabinet__card-img
									img(src="images/temp/card.png")