extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			h1.pull-left Меню

			span.side-switch.pull-left(onclick="return {'sideSwitch': {}}").js-widget Фильтр по меню

			.breadcrumbs.pull-left._category
				a(href="#").breadcrumbs__back Назад
				ul.breadcrumbs__list
					li.breadcrumbs__list-item 
						a(href="#") Меню

			.page__content-wrap
				.page__content
					h2 Блюда из морепродуктов
					+catalog
					+pagination
			.page__sidebar
				+filter
				+side-menu