extends jade/layouts/index

block content
	main.page__main
		.page__container.clearfix
			
			.page__content-wrap
				.page__content
					+coupons
			.page__sidebar
				h1 Купоны
				p Дарим больше возможностей с каждым заказом.
				p Добавляйте купоны к заказу и наслаждайтесь любимыми блюдами на самых выгодных условиях.
