extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			.page__content-wrap
				.page__content._inner
					.franchise
						h1 Партнёрство 
						p.franchise__text На российском рынке бренд «Нияма» был создан в 2002 году. Уже в ноябре 2003 года открылся первый ресторан, который располагается в ТЦ «Трамплин» (м. Молодежная), положивший начало развитию сети.
						h3.franchise__subtitle.align-center Минимальные требования к расположению ресторана

						.franchise__info
							.franchise__info-block._top-left
								.franchise__info-block-inner
									.franchise__info-title Расположение
									.franchise__info-desc торгово-развлекательный центр современной постройки или отдельно стоящее здание
							.franchise__info-block._top-right
								.franchise__info-block-inner
									.franchise__info-title Общая площадь помещения
									.franchise__info-desc 200 – 400 м²
							.franchise__info-block._bottom-left
								.franchise__info-block-inner
									.franchise__info-title Удаленность от МКАД 
									.franchise__info-desc не менее чем на 70км
							.franchise__info-block._bottom-right
								.franchise__info-block-inner
									.franchise__info-title Место нахождения
									.franchise__info-desc город с населением не менее 300 тыс. человек
							img.franchise__pic(src="/images/franchise.png")

						p.franchise__text Компания «Нияма» вошла в независимый рейтинг "ТОП-100 франшиз России" по версии делового портала «БиБосс.ру». При составлении рейтинга франшизы оценивались более чем по 30 критериям. Среди прочих анализировались такие показатели, как объем инвестиций, динамика роста сети за последние три года, среднее время окупаемости и другие. В результате в рейтинг вошли 100 наиболее активно развивающихся в России франшиз, которые являются стабильными и максимально привлекательными с инвестиционной точки зрения.

						.franchise__badges 
							+badge_one
							+badge_one_orange
							+badge_franchise
			.page__sidebar
				+nav-side
			.page__sidebar._right._pursed-top._desktop
				.vacancies-form
					form.form(data-parsley-validate)
						h2.h2.vacancies-form__title Отправить заявку
						p.vacancies-form__text Если вы готовы к сотрудничеству, отправляйте нам заявку. Мы обязательно свяжемся с вами.

						label.label.vacancies-form__label._top Представьтесь

						.vacancies-form__fields
							.vacancies-form__col
								label.label._lite Имя и фамилия
								input.input._mb_1(type="text", required)

							.vacancies-form__col
								label.label._lite Телефон
								input.input._mb_1(type="text")

							.vacancies-form__col
								label.label._lite Электронная почта
								input.input._mb_1(type="email", data-parsley-type="email", required)

							.vacancies-form__col
								label.label._lite Город
								input.input._mb_1(type="text")

							.vacancies-form__col
								input.btn._style_1.vacancies-form__submit(type="submit", value="Отправить")
				.franchise__contacts
					h2.h2 Контакты
					h3.franchise__subtitle Арутюнян Армаис Сергеевич
					p директор по продажам франшиз сети ресторанов "Нияма"
					a.franchise__contacts-tel(href="tel:+79261440528") +7 926 144-05-28
					a.franchise__contacts-tel(href="tel:+74957107224") +7 495 710-72-24
					a.franchise__contacts-email(href="mailto:armais.arutyunyan@niyama.ru") armais.arutyunyan@niyama.ru