extends jade/layouts/cabinet

block content
	main.page__main._cabinet
		.page__container.clearfix
			.page__content-wrap
				.cabinet
					.cabinet__main
						.cabinet__title
							h2.h1.pull-left Комната героя
							a(href="#").cabinet__title-link.pull-right История заказов
							a(href="#").cabinet__title-link.pull-right Личный кабинет
						.cabinet__info.cabinet__transparent._medals
							+medal_img('Попадёт в десятку тот, кто закажет лосось','За поедание лосося', "/images/temp/medal_1.png")
							+medal_img('За заказ пяти разных горячих блюд','Некоторые любят погорячее', "/images/temp/medal_2.png")
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается острыми ощущениями','За отвагу')
							+medal('Отвага зарабатывается ощущениями','За отвагу')

					.cabinet__side
						.cabinet__card
							.cabinet__card-title.h1 Моя карта
							.cabinet__card-img-wrap 
								.cabinet__card-img
									img(src="images/temp/card.png")

							a(href="/_popup_cabinet_card_reg.html", data-fancybox-type="ajax").fancybox.cabinet__card-submit.btn._style_4 Зарегистрировать карту

						.cabinet__poll.cabinet__transparent
							form
								h3.cabinet__poll-title Вам понравился наш новый сайт?
								p 
									+radio("yep") Да
								p
									+radio("almost") Привыкаю
								p
									+radio("nope") Старый был лучше
								input(type="submit", value="Ответить").btn._style_4