extends jade/layouts/index-promo

block content
	main.page__main
		+promo
		.page__container.clearfix
			.pull-right
				+search
			h1 Меню
			.page__content-wrap
				.page__content
					+catalog
					+pagination
			.page__sidebar
				+filter

	+virtual