extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			.page__content-wrap
				.page__content._inner
					h1.post__title._one 
						| Скоро! Сеть итальянских ресторанов 
						br
						| «Пицца-Пи» от создателей «Нияма»!
					+post_one
			.page__sidebar
				+nav-side