extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			.page__content-wrap
				.page__content._inner
					h1.page__title Новости
					+news
			.page__sidebar
				+nav-side