extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Оформление заказа
				.auth._order
					.auth__left
						label.label Войти через социальную сеть
							+social__auth
						form(data-parsley-validate)
							label.label.auth__label Имя учётной записи
							input(required).input.auth__input 

							a(href="#").auth__fogot.pull-right Забыли пароль?
							label.label.auth__label Пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")

							input(type="submit", value="Войти").btn._style_2.auth__submit
					.auth__right
						.btn.auth__continue Продолжить в качестве гостя
						.auth__bonus 
							p За регистрацию мы начислим вам 
							.auth__bonus-nyam 
								span.text-brown 5 000
								img(src="/images/nyam.png")
								span.text-orange ниям
									a(href="#").auth__bonus-question 
										span Бонусные баллы, которыми вы можете оплатить часть заказа
							a(href="#") Регистрация