extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title Спасибо за заказ!
				.ordering-form._thanks
					p Наш оператор свяжется с Вами в ближайшее время и уточнит детали заказа.
					p Дополнительно мы отправили подтверждение заказа Вам на почту.

					.ordering-form__coupons
						h2.ordering-form__coupons-title Вы получили бонусные купоны! 
							span Не забудьте воспользоваться ими при следующем заказе!
						div
							+coupon_5
							+coupon_2

				.ordering-form__social Присоединяйтесь к нам в социальных сетях
					br
					- var socials = ['facebook', 'vk', 'ok', 'twitter', 'instagram', 'forsquare'];

					.social._auth
						- each social in socials
							div(class="_#{social}").social__item
								a(href="#", class="_#{social}").social__item-in