extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title Оформление заказа
				.ordering-form(onclick="return {'orderingForm': {} }").js-widget
					form(data-parsley-validate)
						.ordering-form__side
							.order
								.order__amount
									span.h1 итого 
									span.h1.order__amount-sum 2 500 
									span.rouble Р
								.order__bonus
									.order__bonus-img
										img(src="images/icon_1.png")
									span.order__bonus-text 
										span 2 
										span гостя, 
										span 5 
										span блюд

								.order__bonus
									.order__bonus-img
										img(src="images/delivery.png")
									span.order__bonus-text Бесплатная доставка

							.order__embargo Сумма заказа недостаточна для доставки в выбранный вами город

							.order__add
								.label Добавить к заказу
								.order__add-carousel
									.order__add-carousel-item
										+goods-order("images/temp/1.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/2.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/3.jpg")
									.order__add-carousel-item
										+goods-order("images/temp/4.jpg")

						.ordering-form__step
							.ordering-form__counter._orange 1
							h2.ordering-form__title Представьтесь
								.ordering-form__edit#edit1(data-block="1")
									span Редактировать
							div.ordering-form__desc#desc1
							.ordering-form__body.block1
								.ordering-form__row
									.input__wrap
										label.label Имя 
										input.input._name(data-parsley-group="block1", required)

									.input__wrap
										label.label Фамилия
										input.input._surname(data-parsley-group="block1", required)
								
								.ordering-form__row
									.input__wrap
										label.label Телефон
										input.input._phone(data-parsley-group="block1")

									.input__wrap
										label.label Электронная почта
										input.input._email(type="email", data-parsley-group="block1", data-parsley-type="email")
								.ordering-form__row
									button(type="button", data-current-block="1", data-next-block="2").btn._style_3 Продолжить
									+question

						.ordering-form__step
							.ordering-form__counter 2
							h2.ordering-form__title Доставка
								.ordering-form__edit#edit2(data-block="2")
									span Редактировать
							div.ordering-form__desc#desc2
							.ordering-form__body.block2
								.ordering-form__row.align-left#deliverytype
									.ordering-form__col
										input.radio(type="radio", name="deliverytype", id="delivery", class="_delivery", checked)
										label.radio-label.checkbox-label(for="delivery") Доставка

									.ordering-form__col
										input.radio(type="radio", name="deliverytype", id="pickup", class="_pickup")
										label.radio-label.checkbox-label(for="pickup") Самовывоз
								
								div#deliveryTypeGroup
									div#deliveryControls
										.ordering-form__row
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Город
												select.select._city
													option(data-city="REGION_1", value="86") Москва
													option(data-city="REGION_2", value="88") Отрадное
													option(data-city="REGION_3", value="89") Чита
											//- +select("Город", "_city")
											+select("Станция метро", "_metro", "Выберите станцию")

										.ordering-form__row._mkad
											+checkbox-big("В пределах МКАД", "mkad", "mkad", "_mkad")

										.ordering-form__row
											label.label Почтовый адрес: улица, дом
											input.input._address(data-parsley-group="block2", required)

										.ordering-form__row._quarter
											.input__wrap
												label.label Квартира
												input.input._apart

											.input__wrap
												label.label Подъезд
												input.input._porch

											.input__wrap
												label.label Домофон
												input.input._intercom

											.input__wrap
												label.label Этаж
												input.input._floor


										.ordering-form__row.align-left#deliverytime
											.ordering-form__col
												input.radio(type="radio", name="deliverytime", id="soon", class="_soon", checked)
												label.radio-label.checkbox-label(for="soon") Как можно скорее

												//- +radio("soon", "_soon", "_soon") Как можно скорее
											.ordering-form__col
												input.radio(type="radio", name="deliverytime", id="certain", class="_certain")
												label.radio-label.checkbox-label(for="certain") К определённой дате и времени

												//- +radio("certain", "_certain", "_certain") К определённой дате и времени
												.ordering-form__row._certain
													.select__wrap(name="time", onclick="return {'select': {}}").js-widget
														select.select
															option(value="testvalue") 00:00 - 00:30
															option(value="testvalue") 00:30 - 01:00
															option(value="testvalue") 01:00 - 01:30
															option(value="testvalue") 01:30 - 02:00
															option(value="testvalue") 02:00 - 02:30
															option(value="testvalue") 02:30 - 03:00
															option(value="testvalue") 03:00 - 03:30
															option(value="testvalue") 03:30 - 04:00
															option(value="testvalue") 04:00 - 04:30
															option(value="testvalue") 04:30 - 05:00
															option(value="testvalue") 05:00 - 05:30
															option(value="testvalue") 05:30 - 06:00
															option(value="testvalue") 06:00 - 06:30
															option(value="testvalue") 06:30 - 07:00
															option(value="testvalue") 07:00 - 07:30
															option(value="testvalue") 07:30 - 08:00
															option(value="testvalue") 08:00 - 08:30
															option(value="testvalue") 08:30 - 09:00
															option(value="testvalue") 09:00 - 09:30
															option(value="testvalue") 09:30 - 10:00
															option(value="testvalue") 10:00 - 10:30
															option(value="testvalue") 10:30 - 11:00
															option(value="testvalue") 11:00 - 11:30
															option(value="testvalue") 11:30 - 12:00
															option(value="testvalue") 12:00 - 12:30
															option(value="testvalue") 12:30 - 13:00
															option(value="testvalue") 13:00 - 13:30
															option(value="testvalue") 13:30 - 14:00
															option(value="testvalue") 14:00 - 14:30
															option(value="testvalue") 14:30 - 15:00
															option(value="testvalue") 15:00 - 15:30
															option(value="testvalue") 15:30 - 16:00
															option(value="testvalue") 16:00 - 16:30
															option(value="testvalue") 16:30 - 17:00
															option(value="testvalue") 17:00 - 17:30
															option(value="testvalue") 17:30 - 18:00
															option(value="testvalue", selected) 18:00 - 18:30
															option(value="testvalue") 18:30 - 19:00
															option(value="testvalue") 19:00 - 19:30
															option(value="testvalue") 19:30 - 20:00
															option(value="testvalue") 20:00 - 20:30
															option(value="testvalue") 20:30 - 21:00
															option(value="testvalue") 21:00 - 21:30
															option(value="testvalue") 21:30 - 22:00
															option(value="testvalue") 22:00 - 22:30
															option(value="testvalue") 22:30 - 23:00
															option(value="testvalue") 23:00 - 23:30
															option(value="testvalue") 23:30 - 00:00
													.input__wrap
														input.input(name="date", onclick="return {'inputDate': {}}", data-min-date="true", value="25.07.2014").js-widget

													//- +checkbox-big('Как можно скорее', "date", "", '_soon')
													//- +checkbox-big('К определённой дате и времени', "date", "", '_certain')

									div#pickupControls
										.ordering-form__row
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Город
												select.select._city
													option(data-city="REGION_1", value="86") Москва
													option(data-city="REGION_2", value="88") Отрадное
													option(data-city="REGION_3", value="89") Чита
										.ordering-form__row._rests#rest_86
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="1") Нияма в одинцово
													option(value="2") Нияма на автозаводской
													option(value="3")
										.ordering-form__row._rests#rest_88
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="1") Нияма в отрадном 1
													option(value="2") Нияма в отрадном 2
										.ordering-form__row._rests#rest_89
											.select__wrap(onclick="return {'select': {}}").js-widget
												label.label Ресторан
												select.select._restaurant
													option(value="3") Чита 1
													option(value="4") Чита 2
								.ordering-form__row.align-left
									button(type="button", data-current-block="2", data-next-block="3").btn._style_3 Продолжить
									+question

						.ordering-form__step
							.ordering-form__counter 3
							h2.ordering-form__title Оплата
							.ordering-form__body.block3 
								table.ordering-form__table
									tr
										td
											+radio-checked("payment1", "", "ordering-form__radio _cash") Наличными
												.ordering-form__payment-img
													img(src="/images/payment/cash.png")
										td
											+radio("payment2", "", "ordering-form__radio") Банковской картой
												.ordering-form__payment-img
													img(src="/images/payment/cards.png")
										td
											+radio("payment3", "", "ordering-form__radio") Яндекс деньгами
												.ordering-form__payment-img
													img(src="/images/payment/yam.png")
										td
											+radio("payment4", "", "ordering-form__radio") Электронными деньгами
												.ordering-form__payment-img
													img(src="/images/payment/robo.png")
								.ordering-form__row#iscash
									.input__wrap
										label.label Потребуется ли сдача? 
										input.input(placeholder="С какой суммы?")

								input(type="submit", value="Оформить").btn._style_3#submitOrder
								+question



