extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Восстановление пароля
				.auth
					.auth__center
						form
							label.label.auth__label Электронная почта
							input.input.auth__input 

							.auth__message На вашу почту мы выслали пароль

							label.label.auth__label Введите пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")
								a(href="#").auth__send-again Отправить повторно

							input(type="submit", value="Войти").btn._style_2.auth__submit._full-width