extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Смена пароля
				.auth
					.auth__center
						form
							label.label.auth__label Имя учётной записи
							input.input.auth__input 

							label.label.auth__label Контрольная строка
							input.input.auth__input.parsley-error
							.auth__error Неверное контрольное слово для учётной записи somemail@adv.ru 

							label.label.auth__label Новый пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")

							input(type="submit", value="Изменить пароль").btn._style_2.auth__submit