extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title Контроль качества
				p._big Чем Вы недовольны? А может наоборот довольны? Что произошло, в каком ресторане или с каким 
					br
					| номером заказа при доставке? Подробно опишите ситуацию, дату, время и другие подробности.
				+control-form