extends jade/layouts/light

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Регистрация
				.auth
					.auth__bonus._wide
						p За регистрацию мы начислим вам 
						.auth__bonus-nyam 
							span.text-brown 5 000
							img(src="/images/nyam_big.png")
							span.text-orange ниям
								a(href="#").auth__bonus-question 
									span Бонусные баллы, которыми вы можете оплатить часть заказа

					.auth__left
						form(data-parsley-validate)
							label.label.auth__label Электронная почта
							input(required, data-parsley-type="email", type="email").input.auth__input 

							label.label.auth__label Пароль
							.input__wrap(onclick = "return {'togglePass': {} }").js-widget
								.input__showpass
								input.input.auth__input(type="password")
							p
								+checkbox-big("Запомнить пароль", "rememberPass", "rememberPass")

							input(type="submit", value="Войти").btn._style_2.auth__submit
					.auth__right
						label.label Войти через социальную сеть
						+social__auth
						+checkbox-big("Получать рассылку новостей и акций", "subscribe", "subscribe")