extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			h1 Рестораны
			+rests-controls
			.page__content-wrap
				.page__content._rests
					+map-one
					+rests-info-one
			.page__sidebar._rests
				+nav-side-rests-one