extends jade/layouts/inner

block content
	main.page__main
		.page__container.clearfix
			.page__content-wrap
				.page__content._inner
					+vacancies 
			.page__sidebar
				+nav-side
			.page__sidebar._right._pursed-top._desktop
				+vacancies-form