extends jade/layouts/light-2

block content
	main.page__main._light
		.page__container.clearfix
			.page__content-wrap
				h1.auth__title.align-center Бесплатный доступ к интернету
				.wifi-greetings.align-center
					label.label Вы находитесь в зоне бесплатного доступа к интернету "Нияма WI-Fi"
					a(href="#").wifi-greetings__btn.btn._style_2 Подключить