mixin main-slider()
	div(onclick="return {mainSlider: {}}").main-slider.js-widget
		.main-slider__slider
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")