.main-slider {
	.nav-arrow() {
		position: absolute;
		top: -40px;
		bottom: 0;

		margin: auto;
		width: 47px;
		height: 67px;

		cursor: pointer;
		background: fade(@brown, 50%) no-repeat 50% 50%;
	}

	position: relative; // для абсолютно спозиционированных детей
	width: 1065px;
	margin: auto;
	// padding: 0 0 47px;

	@media (max-width: @desktop) {
		max-width: 1065px;
		width: 100%;
		left: 0;
	}

	&__slider {
		white-space: nowrap;
	}


	&__slider-wrap {
		// height: 366px;
		// overflow: hidden;
		border-radius: 0 0 15px 15px;
	}


	&__slider {
		// height: 366px;
		// overflow: hidden;
	}


		// Чтобы рендерилось нормально при загрузке страницы
		&__slider > &__slider-item {
			display: inline-block;
		}


	&__slider-item {
		// height: 366px;
		border-radius: 0px 0px 20px 20px;
		overflow: hidden;


		img {
			width: 100%;
		}

		@media (max-width: @desktop) {
			font-size: 0;
		}
	}

	&__prev, .owl-prev, &__next, .owl-next {
		font-size: 0;

		@media (max-width: @desktop) {
			display: none;
		}
	}


	&__prev, .owl-prev {
		.nav-arrow();
		right: 100%;
		border-radius: 10px 0 0 10px;
		background-image: data-uri('../blocks/composite/main-slider/images/main-slider__prev-icon.png');
	}


	&__next, .owl-next {
		.nav-arrow();
		left: 100%;
		border-radius: 0 10px 10px 0;
		background-image: data-uri('../blocks/composite/main-slider/images/main-slider__next-icon.png');
	}


	&__pagination, .owl-pagination {
		margin: 13px 0 0;
		text-align: center;
		line-height: 0;

		@media (max-width: @desktop) {
			height: 0;
		}
	}


	// &__pagination-item, .owl-page span {
	@media (max-width: @desktop) {
		.owl-controls {
			position: absolute;
			z-index: 1;
			bottom: 60px;
			width: 100%;
			display: inline-block;
			height: 0;
		}
	}

	.owl-page {
			display: inline-block;
			margin: 0 10px;

		span {
			display: inline-block;
			width: 11px;
			height: 11px;
			cursor: pointer;
			border: 2px solid fade(@brown, 25%);
			border-radius: 50%;
			
		}


		/* МОДИФФИКАТОРЫ
		-------------------------------------- */
		/* current */
		&.active  span {
			border-color: @brown;
			background: @brown;
		}
	}

	&__pagination-item {

	}


}