.about-slider {

	position: relative; // для абсолютно спозиционированных детей
	width: 683px;
	margin: auto;
	margin-bottom: 57px;
	position: relative;
	top: 1px;
	left: -20px;

	@media (max-width: @desktop) {
		width: 100%;
		left: 0;
	}

	&__slider-wrap {
		// height: 320px;
		// overflow: hidden;
		border-radius: 15px;
	}


	&__slider {
		// height: 320px;
		// overflow: hidden;
	}


	&__slider-item {
		float: left;
		// height: 320px;
		border-radius: 15px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__pagination, .owl-pagination {
		margin: 13px 0 0;
		text-align: center;
		line-height: 0;
	}


	// &__pagination-item, .owl-page span {
	.owl-page {
			display: inline-block;
			margin: 0 10px;

		span {
			display: inline-block;
			width: 11px;
			height: 11px;
			cursor: pointer;
			border: 2px solid fade(@brown, 25%);
			border-radius: 50%;
			
		}


		/* МОДИФФИКАТОРЫ
		-------------------------------------- */
		/* current */
		&.active  span {
			border-color: @brown;
			background: @brown;
		}
	}

}