mixin about-slider()
	div(onclick="return {aboutSlider: {}}").about-slider._inner.js-widget
		.about-slider__slider
			.about-slider__slider-item
				img(src="images/fish.png")
			.about-slider__slider-item
				img(src="images/fish.png")
			.about-slider__slider-item
				img(src="images/fish.png")