.pagination {
	@item-gap:      8px;
	@item-size:     37px;
	@arrow-padding: 21px;

	.item() {
		display: inline-block;
		vertical-align: top;
		width: @item-size;
		height: @item-size;
		margin: 0 @item-gap 0 0;

		text-align: center;
		line-height: @item-size - 3px;
		text-decoration: none;
		color: @font-color;
	}

	.arrow() {
		display: inline-block;
		font-size: 18px;
		text-decoration: none;
	}


	padding: 19px 0 0;

	border-top: 1px solid #ded3cc;


	&__arrows {
		margin: 0 0 11px;
	}


	&__separator {
		margin: 0 17px;
	}


	&__prev {
		.arrow();
		color: black;
		text-decoration: none;
		padding: 0 0 0 @arrow-padding;
		background: data-uri('../blocks/composite/pagination/images/pagination__prev.png') no-repeat 0 50%;

		&._disabled {
			opacity: 0.4;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}


	&__next {
		.arrow();
		color: black;
		text-decoration: none;
		padding: 0 @arrow-padding 0 0;
		background: data-uri('../blocks/composite/pagination/images/pagination__next.png') no-repeat 100% 50%;

		&._disabled {
			opacity: 0.4;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}


	&__items {
		margin: 0 0 0 -15px;
	}


	&__item {
		.item();

		border: 2px solid transparent;
		border-radius: 50%;
		font-size: 16px;


		&:hover {
			border-color: @orange;
		}


		/* МОДИФИКАТОРЫ
		------------------------------------------ */
		/* active */
		&._active {
			border-color: @orange;
		}
	}


	&__dots {
		.item();
		margin: 0 5px 0 -2px;
	}
}