mixin pagination()
	.pagination
		.pagination__arrows
			a(href="#").pagination__prev предыдущая
			span.pagination__separator |
			a(href="#").pagination__next следующая
		.pagination__items
			a(href="#").pagination__item 1
			a(href="#").pagination__item._active 2
			a(href="#").pagination__item 3
			a(href="#").pagination__item 4
			span.pagination__dots ...
			a(href="#").pagination__item 12