mixin post()
	.post
		h2.post__title
			a(href="#").post__title-link 
				| Скоро! Сеть итальянских ресторанов «Пицца-Пи» 
				br 
				| от создателей «Нияма»!
		p.post__date 23 апреля
		p.post__desc Мы ждем вас в «Пицце-Пи»! У нас вы сможете попробовать пиццу, которую после отличите от всех остальных даже с закрытыми глазами: по запаху, вкусу и хрусту. Да, наша пицца хрустит, потому что это настоящая тонкая итальянская пицца!
		.post__img
			img(src="http://lorempixel.com/646/318")

mixin post_carousel()
	.post._birthday(onclick="return {'post': {}}").js-widget
		h2.post__title
			a(href="#").post__title-link 
				| Ани Лорак отметила День рождения
		p.post__date 5 марта, ресторан на Можайском шоссе, д. 112А
		p.post__desc В начале марта Нияма традиционно предлагает своим гостям специальное постное меню. В этот раз мы исходили из принципа: и поесть вкусно, и посмотреть приятно. И еще – как можно больше витаминов и ярких цветов!
		.post__img._carousel
			img(src="http://lorempixel.com/645/318")
			img(src="http://lorempixel.com/646/318")
			img(src="http://lorempixel.com/647/318")

mixin post_one()
	.post
		p.post__date._one 23 апреля
		p.post__desc Мы ждем вас в «Пицце-Пи»! У нас вы сможете попробовать пиццу, которую после отличите от всех остальных даже с закрытыми глазами: по запаху, вкусу и хрусту. Да, наша пицца хрустит, потому что это настоящая тонкая итальянская пицца!
		.post__img
			img(src="http://lorempixel.com/646/318")
		p.post__desc Дорогие друзья! Почти все люди, независимо от пола, возраста, образования и увлечений, очень любят пиццу! У нас в Нияме тоже есть пицца, и вы довольно часто ее заказываете. Но все-таки – это японская пицца. А настоящей может быть только итальянская. И мы решили, что просто обязаны сделать так, чтобы вы узнали, какова она на вкус – настоящая, тонкая хрустящая итальянская пицца. 
		p.post__desc Поэтому мы позвали шеф-повара из Италии, поставили дровяную печь и закупили самые лучшие итальянские продукты. Так появился наш новый проект – сеть итальянских ресторанов «Пицца-Пи» с демократичными ценами. Попробовать отличную итальянскую пиццу, пасту, ризотто и многое другое вы сможете уже в мае: на станции метро Площадь Ильича откроется первый комбинированный ресторан «Нияма» и «Пицца-Пи». Всех посетителей ждут вкусные подарки!
		.post__share Место под социальные кнопки
		.post__back 
			a(href="#").post__back-link Все новости
