.catalog__cart__wrapper__item {
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 14px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 15px;
    padding: 15px 0px;
    border-bottom: 2px solid #ffffff;
}

@media (max-width: 768px) {
    .catalog__cart__wrapper__item {
        font-size: 12px;
    }
}

.catalog__cart__price span {
    font-size: 18px;
    text-transform: none;
}

.catalog__cart__count--change {
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.catalog__cart__item.delete {
    cursor: pointer;
}

.catalog__cart__itogo {
    font-family: "Museo Sans Cyrl 700";
    margin-right: 35px;
    padding-top: 15px;
    text-align: right;
    font-size: 24px;
}

.catalog__cart__itogo span {
    font-size: 16px;
}

.catalog__cart__wrapper_itogo {
    font-size: 18px;
    text-transform: uppercase;
}

.catalog__cart__buttons {
    margin-left: auto;
    margin-right: 35px;
    width: 215px;
    margin: 30px 30px 30px auto;
}

.catalog__cart__hide {
    font-size: 14px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #ffffff;
    background-color: inherit;
    margin-bottom: 15px;
    cursor: pointer;
}

.catalog__cart__makeorder__button {
    text-align: center;
    width: 215px;
    font-family: "Museo";
    weight:500;
    color: #ffffff;
    line-height: 43px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #ffffff;
    background-color: #71752a;
    height: 43px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.catalog__cart__makeorder__button:hover {
    background-color: #6c6f28;
}
.catalog__cart__hide:hover {

    background-color: rgba(0,0,0,0.1);
}
.catalog__cart__item {
    line-height: 25px;
}

.catalog__cart__item.catalog__cart__price {
    line-height: 25px;
    width: 100px;
}

.catalog__cart__item.catalog__cart__count {
    width: 20px;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .catalog__cart__item.catalog__cart__count {
        width: 14px;
        margin: 0 3px;
    }
}

.catalog__cart__item.catalog__cart__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 18px;
}

.catalog__cart__makeorder a {
    width: 263px;
    height: 54px;
    display: block;
}

.catalog__cart__makeorder--disabled a {
    pointer-events: none;
    cursor: default;

}

.catalog__cart__makeorder--disabled {
    background-color: grey;
    cursor: default;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #ffffff;
}

.catalog__cart__makeorder {
    position: relative;
}

.catalog__cart__wrapper {
    /*  border-bottom: 2px solid #ffffff;
      width: 420px;
      margin: 0 25px;*/
}
.catalog__cart__wrapper_scroll{
    /*max-height: 500px;*/
    /*overflow-y: scroll;*/
    max-width: 611px;
}
/************************/
.catalog__menu ::-webkit-scrollbar {
    width: 6px;
}

.catalog__menu ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #fff;
    border-radius: 10px;
}

.catalog__menu ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 20px #fff;
}