.label {
	display: block;
	margin-bottom: 5px;
	color:  @brown;
	font-size: 14px; /* Approximation due to font substitution */
	font-weight: 700;
	text-transform: uppercase;

	&._lite {
		color: @grey-common;
		font-size: 15px;
		font-weight: 400;
		text-transform: none;
		margin-bottom: -2px;
	}

	&._smaller {
		font-size: 13px;
	}
}