mixin popup()
	.popup(onclick="return {'popup': {}}").js-widget
		.popup__overlay
		.popup__window
			.popup__close
			h2.h1.popup__title Новый гость
			label.label Как зовут гостя?
			input.input._mb_2(type="text")

			label.label Выберите фото или аватар
			.input__file._photo Выбрать фото...
				.input__file-pic
				input.input__file-input(type="file")

			.popup__avatars
				input.radio(type="radio", value="0", id="avatar1", name="avatar", checked)
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar1")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="1", id="avatar2", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar2")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="2", id="avatar3", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar3")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="3", id="avatar4", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar4")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="4", id="avatar5", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar5")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="5", id="avatar6", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar6")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

			input.btn._style_1(type="submit", value="добавить")