.popup {
	display: none;

	&__overlay {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		// background: rgba(105, 73, 58, 0.6);
		background: rgba(68, 23, 1, 0.7);
		z-index: 1000;
	}

	&__card {
		.ordering-form__row {
			// margin-bottom: -10px;
			font-size: 12px;

			&:last-child {
				font-size: 0;
			}

			&._quarter {
				.input__wrap {
					margin-bottom: 20px;
				}
			}

			& .parsley-errors-list {
				font-size: 13px;
				line-height: 13px;
			}
		}
	}

	&__alert {
		width: 800px;
		min-height: 214px;
		text-align: center;
		padding: 30px;

		&-title {
			font-size: 30px;
			margin-bottom: 31px;
		}

		.auth__bonus._wide {
			width: 652px;
			padding: 14px 28px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__gratz {
		width: 870px;
		padding: 55px 80px 0 80px;

		&-medal {
			margin: 3px 0px 0px -11px;
		}

		&-side {
			float: right;
			width: 385px;
			padding-top: 23px;
		}

			&-title {
				font-family: @europec;
				color:  @brown;
				font-size: 30px; 
				font-weight: 700;
				line-height: normal;
				margin-bottom: 10px;
			}

			&-subtitle {
				font-family: @arimo;
				color: #481b07;
				font-size: 18px;
				font-weight: 400;
				line-height: normal;
				margin-bottom: 39px;
			}

			&-desc {
				font-family: @arimo;
				color: #4a2b07;
				font-size: 15px;
				font-weight: 400;
				line-height: 18px;

			}

		&-share {
			text-align: center;

			.social._auth {
				margin-bottom: 24px;
			}
		}
	}

	&__window {
		background: @brown-extralight;
		position: fixed;
		width: 457px;
		// height: 533px;
		top: 50%;
		left: 50%;
		margin-left: -234px;
		margin-top: -267px;
		padding: 38px;
		padding-top: 47px;
		padding-right: 76px;
		z-index: 1001;
		background: #f0e8de;
		border-radius: 10px;

		.input._mb_2 {
			margin-bottom: 19px;
		}

		.avatars {
			margin-bottom: 35px;
		}

		&__row {
			position: relative;
		}

		& .parsley-errors-list {
			position: relative;
			height: 22px;
			margin-top: -16px;
		}
	}

	&__gift {
		width: 420px;
		padding: 10px;
	}

	&__close {
		position: absolute;
		top: 14px;
		right: 17px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		z-index: 8040;
		background: data-uri('../images/base64/close.png') center center no-repeat;

		.fancybox-custom & {
			display: none;
		}
	}

	&__guest {
		width: 457px;
		padding: 28px;
		padding-top: 37px;
		padding-right: 66px;

		.btn + .btn {
			margin-left: 30px;
		}

		.input._mb_2 {
			margin-bottom: 19px;
		}
	}

		&__title {
			margin-bottom: 48px;
			line-height: 28px
		}

		&__avatars {
			margin-bottom: 40px;
		}

	&__user {
		&:extend(.clearfix all);

		width: 768px;
		height: 100%;
		padding: 25px;
		padding-right: 0;
		outline: none;
		padding-top: 13px;
		padding-bottom: 15px;

		&._wide {
			width: 968px;
		}

		form {
			height: 100%;
		}

		&-body {
			width: 750px;
			height: 85%;
			outline: none;

			._wide & {
				width: 950px;

				.jspPane {
					width: 930px !important;
				}
			}

			.jspVerticalBar {
				right: 15px;
				background: white;
				border-radius: 10px;
				width: auto;
			}

			.jspPane {
				padding-right: 40px !important;
				width: 730px !important;
			}

			.jspDrag {
				width: 8px;
				background: @input-border;
			}

			.jspTrack {
				padding: 3px;
			}
		}

		.row {
			margin: 0;
			width: 100%;
			line-height: 1.5;
		}

		.input + .parsley-errors-list {
			margin: -15px 0 3px 0;
		}


		&-change-pass {
			display: inline-block;

			margin-top: 6px;
			margin-bottom: 4px;
			padding-left: 37px;
			line-height: 27px;

			background: data-uri("../images/base64/change-pass.png") no-repeat center left;

			cursor: pointer;

			span {
				color: #686868;
				border-bottom: 1px dotted;
			}
		}

		&-photo {
			float: left;
		}

		&-pic {
			display: inline-block;
			width: 64px;
			height: 64px;
			overflow: hidden;
			border: 2px solid @orange;
			border-radius: 50%;
			margin-top: 3px;

			&.error {
				border-color: #c00;
			}

			img {
				width: 100%;
			}
		}

		.popup__avatars {
			// float: right;
			// margin: 30px 0px 0px 0px;
			margin: 40px 0px 0px 270px;

			& + .parsley-errors-list {
				margin-top: 9px;
			}
		}

		.col {
			width: 50%;
			// padding: 0px 20px 0px 0px;
		} 

		&._wide .col {
			width: 285px;
		}

		.col + .col {
			padding: 0px 0px 0px 20px;
		}

		.input {
			margin-bottom: 18px;
			height: 51px;
			font-size: 20px;
			font-weight: 700;
		}

		.btn {
			margin: 20px 0;
			margin-bottom: 0;
			padding: 0px 52px;
		}

		.question {
			margin-top: 27px;
			// padding-right: 45px;
		}

		.ui-datepicker-trigger {
			margin-left: 278px;
			margin-top: -66px;
		}
	}

	&__crop {
		display: none;
		width: 640px;
		height: auto;
		position: absolute;
		z-index: 999;
		top: 10px;
		left: 50%;
		margin-left: -320px;

		& .fancybox-skin {
			box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
		}

		&-body {
			padding: 15px 0 0 25px;
			overflow: hidden;

			h1 {
				margin-bottom: 10px;
			}

			& .row {
				clear: both;
				padding: 13px 0 19px;

				.btn {
					margin-top: 5px;
				}

				.popup__crop-cancel {
					position: relative;
					top: 5px;
				}
			}
		}

		&-notice {
			margin: -12px 0 10px
		}

		&-img {
			float: left;
			border-radius: 10px;
			overflow: hidden;

			& img {
				position: relative;
				z-index: 1;
				display: block;
				// width: 390px;
				// height: 320px;
				max-width: 390px;
				max-height: 320px;
			}
		}

		&-preview {
			margin-left: 430px;

			& h2 {
				font-size: 14px;
				margin-bottom: 5px;
			}

			& div {
				overflow: hidden;
				width: 60px;
				height: 60px;
				border: 2px solid #f2a839;
				border-radius: 50%;

				& img {
					display: none;
				}
			}
		}

		&-cancel {
			color: #5a2300;
			font-family: arimo,Arial,sans-serif;
			font-size: 16px;
			font-weight: 700;
			text-decoration: none;
			border-bottom: 1px dotted;
			text-transform: uppercase;
			margin-left: 20px;
		}

	}


}

#files {
	// float: right;
	// position: relative;
	// width: 100px;

	& img {
		display: block;
		width: 100%;
		border-radius: 50%;
	}
}

#progress {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white data-uri("../images/ajax-loader.gif") no-repeat center;

	& .progress-bar {
		height: 100%;
		background: url();
	}
}


.imgareaselect-border1 {
	border: 2px dashed #f2a839;
}

.imgareaselect-handle {
	background-color: #fff;
	border: solid 1px #000;
}

.imgareaselect-outer {
	background-color: #201000;
	filter: alpha(opacity=40);
	opacity: 0.4;
}

