mixin checkbox()
	input.checkbox(type="checkbox", name="checkbox1", id="checkbox1")
	label(for="checkbox1", class="checkbox-label") Выбрать

mixin checkbox-big(text, name, id, cClass)
	input.checkbox._big(type="checkbox", name=name || "checkbox1", id=id || "checkbox1", class= cClass || '')
	label(for=id || "checkbox1", class="checkbox-label")= text

mixin radio(forid, lClass, rClass)
	input.radio(type="radio", name="checkbox1", id=forid, class= rClass || '')
	label.radio-label.checkbox-label(for=forid, class= lClass || "checkbox-label")
		block content

mixin radio-checked(forid, lClass, rClass)
	input.radio(type="radio", name="checkbox1", id=forid, class= rClass || '', checked)
	label.radio-label.checkbox-label(for=forid, class= lClass || "checkbox-label")
		block content
mixin select(label, sClass)
	//- .select__wrap
	.select__wrap(onclick="return {'select': {}}").js-widget
		if (label)
			label.label= label
		select(class= sClass || '', required, data-placeholder="Выберите станцию").select
			option(value="")
			option(value="1") Все рестораны Москвы
			option(value="2") Все рестораны Москвы
			option(value="3") Все рестораны Москвы
			option(value="4") Все рестораны Москвы
			option(value="5") Все рестораны Москвы

mixin select-mini()
	.select__wrap._mini(onclick="return {'select': {}}").js-widget
		select.select
			option 1
			option 2
			option 11
			option 12
mixin about-slider()
	div(onclick="return {aboutSlider: {}}").about-slider._inner.js-widget
		.about-slider__slider
			.about-slider__slider-item
				img(src="images/fish.png")
			.about-slider__slider-item
				img(src="images/fish.png")
			.about-slider__slider-item
				img(src="images/fish.png")
mixin about()
	.about
		h1.h1 Что вы знаете о нияме?
		p.about__text То, что это сеть японских ресторанов, расположенных в Москве и за ее пределами? То, что это место, где всегда можно отведать свежие продукты, приготовленные в лучших традициях японской кухни? То, что это качественное обслуживание, преисполненное уважением к гостям?
		p.about__text «Нияма» — это намного больше. «Нияма» — это целая философия. Само название сети ресторанов многозначно.
		+about-slider
		p.about__text С японского «Нияма» переводится как «две горы». Символ горы всегда означал достижение. Высокий уровень сервиса и качества кухни — это два достижения и «две горы», которым сотрудники компании стараются ежедневно соответствовать.
		p.about__text._styled Для жителей Индии «Нияма» означает нравственную чистоту. Заложенная в основу, она позволяет создавать особую атмосферу, в которой спокойно и уютно как сотрудникам, так и гостям ресторанов.
		p.about__text._last Но к чему слова? Для того, чтобы узнать истинную философию Ниямы, достаточно всего лишь побывать в гостях.
mixin achievements()
	.achievements.pull-left

		.achievements__title МОИ ДОСТИЖЕНИЯ

		.achievements__bar
			a.achievements__link._one
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Чизкейк 
					br
					| За регистрацию
			a.achievements__link._two
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Скидка 5%
					br
					| на новый заказ
			a.achievements__link._three
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Карта 5%
			a.achievements__link._four
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Следующий
					br
					| уровень
			.achievements__bar-progress

mixin adv-logo()
	a(href="http://www.adv.ru").adv-logo Сделано в ADV
mixin ajax-progress()
	.ajax-progress
		
mixin auth()
	.auth
		.auth__left
			form(data-parsley-validate)
				label.label.auth__label Имя учётной записи
				input(required).input.auth__input 

				a(href="#").auth__fogot.pull-right Забыли пароль?
				label.label.auth__label Пароль
				.input__wrap(onclick = "return {'togglePass': {} }").js-widget
					.input__showpass
					input.input.auth__input(type="password")

				input(type="submit", value="Войти").btn._style_2.auth__submit
		.auth__right
			label.label Войти через социальную сеть
			+social__auth
			a(href="#") Регистрация
mixin badge_one()
	.badge._presentation
		.badge__text
			a(href="#").badge__link Презентация компании
			br
			.badge__desc pdf (34 Кб)

mixin badge_one_orange()
	.badge._presentation-2
		.badge__text
			a(href="#").badge__link О франшизе
			br
			.badge__desc pdf (218 Кб)

mixin badge_franchise()
	.badge._franchise
		img(src="/images/franchise_badge.png")
		a(href="#").badge__link 
			span.badge__link-text Диплом.pdf
			| 
			span.badge__link-size  (415 Кб) 

mixin badge_menu()
	.badge._menu
		.badge__text
			a(href="#").badge__link Меню ресторана
			br
			.badge__desc pdf(34 Кб)

mixin badge_two()
	.badge._rests
		.badge__text
			a(href="#").badge__link Наши рестораны
			br
			.badge__desc более 20 ресторанов

mixin badge_three()
	.badge._features
		.badge__text
			a(href="#").badge__link Особенности интерьера
			br
			.badge__desc атмосфера хорошего 
				br 
				| настроения и ненавязчивый уют
mixin breadcrumbs()
	.breadcrumbs
		a(href="#").breadcrumbs__back Назад
		ul.breadcrumbs__list
			li.breadcrumbs__list-item 
				a(href="#") Меню
			li.breadcrumbs__list-item._last 
				a(href="#") Роллы
mixin cabinet()
	.cabinet
mixin card-check()
	.card-check
mixin cart-buy()
	.cart-buy.pull-right
		span.cart-buy__sum 3 250
			span.rouble Р
		span.cart-buy__button.btn._style_1.pull-right._disabled Купить
		.cart-buy__min-sum Минимальная сумма заказа - 1 000
			+rouble
mixin cart-history()
	.cart-history.pull-left(onclick="return {cartHistory: {}}").js-widget
		a.cart-history__title 
			span КОРЗИНА 
		//- &#x25B2; &#x25BC;
		.cart-history__date 8 апреля
		.cart-history__list-wrap
			.cart-history__list-scroll
				ul.cart-history__list
					li.cart-history__list-item
						a(href="#", data-id="1").cart-history__list-link
							.cart-history__list-date 18 АПРЕЛЯ
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="2").cart-history__list-link
							.cart-history__list-date 10 АПРЕЛЯ
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="3").cart-history__list-link
							.cart-history__list-date 29 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="4").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="5").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="6").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="7").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="8").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р

mixin cart-progress()
	.cart-progress
		.cart-progress__bar(style="width: 17%;")
		.cart-progress__overlay
		.cart-progress__point._one._active
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Бесплатная доставка 
						br 
						| в пределах МКАД
		.cart-progress__point._two
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Бесплатная 
						br 
						| доставка за МКАД
		.cart-progress__point._three
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Карта "Нияма"
						br 
						| в подарок
mixin cart()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table._filled
			.goods._by-coupon._table
				.goods__wrap
					.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
						img(src="images/temp/4.jpg")
					.goods__desc
						.goods__composition 
							h2.goods__name Филадельфия
							|Лосось, сливочный сыр, авокадо
						.goods__cost 460 
							span.rouble Р 

						.goods__cost._old 660 
							span.rouble Р 
				.goods__static-count x1
				.goods__remove


			.goods._table(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
				+select-mini
				.goods__remove

			.goods._table(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item._disabled
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/3.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/2.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/1.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") Заменить
				.goods__not-in-menu Отсутствует в меню
				+select-mini
				.goods__change
					.goods__change-text Похожие блюда
					.goods__change-next
					.goods__change-prev
				.goods__remove

			.goods._table._auction(onclick="return {'goods': {}}").js-widget
				.goods__wrap
					.goods__item
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							.goods__composition 
								h2.goods__name Филадельфия
								| Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn(data-id="123") В корзину

			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия
			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия
			.coupon._style_2._table(data-id="3")
				.coupon__remove
				.coupon__pic
					img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
					img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
					.coupon__pic-price
						span.coupon__pic-price-actual 390
							+rouble
						span.coupon__pic-price-old 520
							+rouble
				.coupon__info
					.coupon__title Апельсиновый фреш в подарок
					p.coupon__desc При заказе роллов Филадельфия

		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle
			.cart__toggle-button


mixin cart-promo()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table._empty(title='Чтобы сделать заказ, перетащите сюда блюдо или кликните по кнопке "В корзину"')
		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle._promo
			.cart__toggle-button


mixin cart-cabinet()
	.cart(onclick="return {'cart': {}}").js-widget
		+cart-history
		+guests
		+cart-buy
		.clearfix
		.cart__table
		.cart__toggle-shadow
		+cart-progress
		.cart__toggle
			.cart__toggle-circle._cabinet
			.cart__toggle-button._cabinet
mixin catalog()
	ul(onclick="return {'catalog': {}}").catalog.js-widget#iso
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/2.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/3.jpg")
		.catalog__separator
			div Сашими
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		.catalog__separator
			div Роллы
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
mixin cities()
	.cities
		a(href="#").cities__item._active
			span Вакансии в Москве 
		a(href="#").cities__item
			span Чите
		a(href="#").cities__item
			span Твери
		a(href="#").cities__item
			span Красноярске
mixin contacts()
	.contacts
		.contacts__column._address
			.contacts__title адрес
			.contacts__desc Можайское шоссе, 
				br
				| д. 112а
		.contacts__column._time
			.contacts__title время работы 
			.contacts__desc ежедневно 
				br	
				| с 12:00 до 02:00
		.contacts__column._phone
			.contacts__title телефон
			.contacts__desc +7 (495) 961-50-12

mixin control-form()
	.control-form
		.control-form__side
			h2 Заявка по телефону
			.control-form__tel +7 495 781-781-9
			p В рабочие дни мы готовы принять ваш отзыв по телефону 
				b до 19:00. 
				| В выходные дни заявки принимаются 
				b до 17:00.
			.control-form__promises
				h2 Наши гарантии
				p Мы гарантируем, что ваша заявка будет обработана. 
					br
					| По каждой заявке мы проводим собственное расследование.
				p Если на вашу заявку не отреагировали в течение двух дней — вы получите персональную карту постоянного гостя со скидкой 5%.
			
		.control-form__main
			h2 Заявка в электронном виде
			form
				label.label._lite Представьтесь
				input.input

				label.label._lite Что произошло?
				textarea.textarea

				label.label._lite Где это произошло?
				+select

				label.label._lite Когда?
				input.input(onclick="return {'inputDate': {}}").js-widget

				label.label._lite Контактный телефон
				input.input

				label.label._lite Электронная почта
				input.input

				input.btn._style_1(type="submit", value="Отправить") 

mixin copyright()
	.copyright © Нияма, 2014
mixin coupon-popup()
	.coupon-popup
mixin coupon(cClass)
	a.fancybox.coupon._style_1(class= cClass || '', data-id="3", data-fancybox-href="/_popup_coupon.html", data-fancybox-type="ajax")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left 3 000
			.coupon__title-right НИЯМ
			.coupon__title-center
				.coupon__badge._nyam
		p.coupon__desc 100 ниям = 1р Воспользуйтесь при оплате любого заказа

mixin coupon_2(cClass)
	.coupon._style_2(class= cClass || '', data-id="3")
		.coupon__add В КОРЗИНУ
		.coupon__pic
			img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
			img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
			.coupon__pic-price
				span.coupon__pic-price-actual 390
					+rouble
				span.coupon__pic-price-old 520
					+rouble
		.coupon__info
			.coupon__title Апельсиновый фреш в подарок
			p.coupon__desc При заказе роллов Филадельфия

mixin coupon_3()
	.coupon._style_3(data-id="3")
		.coupon__add В КОРЗИНУ
		.coupon__pic
			img(src="/images/coupons/coupon_goods-3.jpg").coupon__pic-img 
			.coupon__pic-price
				span.coupon__pic-price-actual 200
					+rouble
				span.coupon__pic-price-old 290
					+rouble
		.coupon__info
			.coupon__title Еще выгоднее!
			p.coupon__desc Ваш любимый суп Том Ям по очень привлекательной цене

mixin coupon_4(cClass)
	.coupon._style_1(class= cClass || '', data-id="4")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left 500
			.coupon__title-right рублей
			.coupon__title-center
				.coupon__badge._gift
		p.coupon__desc Воспользуйтесь при оплате любого заказа


mixin coupon_5(cClass)
	.coupon._style_1(class= cClass || '', data-id="5")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left разовая
			.coupon__title-right скидка
			.coupon__title-center
				.coupon__badge._percent 
					span 3
						sup %
		p.coupon__desc Воспользуйтесь при оплате любого заказа


mixin coupon_6(cClass)
	.coupon._style_4(class= cClass || '', data-id="6")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left
				.coupon__title-left-top постоянная 
				.coupon__title-left-bottom скидка
			.coupon__title-right
				img(src="/images/coupons/coupon_card.png")
			.coupon__title-center
				.coupon__badge._percent 
					span 5
						sup %

mixin coupon_img(cClass)
	.coupon._image(class= cClass || '', data-id="6")
		.coupon__add В КОРЗИНУ
		img(src='/images/coupon.png')
		img(src='/images/coupon_vert.png')


mixin coupons()
	.coupons(onclick="return {'coupons': {}}").js-widget
			+coupon_img
			+coupon('_disabled')
			+coupon
			+coupon_2
			+coupon_3
			+coupon_4
			+coupon_5
			+coupon_6
			+coupon_6('_disabled _used')
mixin fancyshow()
	.fancyshow
mixin feedback()
	.feedback
		.feedback__phone +7 495 781-781-9
		.feedback__links.centrifuge
			a(href="#").feedback__link.centrifuge__item Обратный звонок
			|  
			a(href="#").feedback__link.centrifuge__item Контроль качества

mixin feedback-light()
	.feedback
		.feedback__phone +7 495 781-781-9
		.feedback__links.align-right
			a(href="#").feedback__link.centrifuge__item Обратный звонок
mixin filter()
	div(onclick="return {'sideFilter': {}}", data-isfilter="true").filter.clearfix.js-widget
		.filter__group.clearfix
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link one
				div(data-filter="two").filter__item
					a(href="#").filter__link
						span.pseudo-link two
				div(data-filter="three").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col

		.filter__group.clearfix
			.filter__title Ингредиенты
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link._disabled
						span.pseudo-link Роллы
						
		.filter__group.clearfix
			.filter__title специальное меню
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
			.filter__col
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
				div(data-filter="one").filter__item
					a(href="#").filter__link
						span.pseudo-link Роллы
mixin footer-nav()
	.footer-nav.clearfix
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link меню
			li.footer-nav__item
				a(href="#").footer-nav__link Рестораны
			li.footer-nav__item
				a(href="#").footer-nav__link Доставка
			li.footer-nav__item
				a(href="#").footer-nav__link скидки и акции
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link О компании
			li.footer-nav__item.hidden-tablet
				a(href="#").footer-nav__link франшиза
			li.footer-nav__item.hidden-tablet
				a(href="#").footer-nav__link вакансии
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link Обратный звонок
			li.footer-nav__item
				a(href="#").footer-nav__link контроль качества

mixin goods-one()
	.goods-one
		.goods-one__img
			img(src="images/big-roll.png")
		.goods-one__desc
			h1.goods-one__title Филадельфия
			.goods-one__specs
				span.goods-one__specs-count 6шт 
				| 
				span.goods-one__specs-bullet &bull; 
				| 
				span.goods-one__specs-energy 300 ккал
				| 
				span.goods-one__specs-bullet &bull; 
				| 
				span.goods-one__specs-weight 240 г
			.goods-one__composition Лосось, сливочный сыр, авокадо
			p.goods-one__about Деликатный сливочный вкус роллам Филадельфия придает сочетание нежнейшего сливочного сыра с одноименным названием и свежего лосося. Роллы Филадельфия появились в США в 70-х годах минувшего века и изначально в составе которого была рыба, традиционно - водоросль нори и самый главный ингредиент - мягкий сыр Филадельфия. 
		.goods-one__side
			.goods-one__cart
				.goods-one__cost
					div.goods-one__sum 460 
						span.rouble Р
					div.goods-one__count
						+select-mini
				a.btn._full-width._style_1.goods-one__add в корзину
			+social__orange


mixin goods-slider()
	.goods-slider(onclick="return {goodsSlider: {}}").js-widget
		.goods-slider__slider
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")
			.goods-slider__slider-item
				.goods
					.goods__wrap
						.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax")
							img(src="images/temp/4.jpg")
						.goods__desc
							h2.goods__name Филадельфия
							.goods__composition Лосось, сливочный сыр, авокадо
							.goods__cost 460 
								span.rouble Р 
							.goods__add-btn.btn В корзину
						.goods__num 6 шт.
						.goods__sheff
			.goods-slider__slider-item
				+goods("images/temp/3.jpg")
			.goods-slider__slider-item
				+goods("images/temp/4.jpg")
			.goods-slider__slider-item
				+goods("images/temp/5.jpg")
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")
			.goods-slider__slider-item
				+goods("images/temp/2.jpg")
			.goods-slider__slider-item
				+goods("images/temp/3.jpg")
			.goods-slider__slider-item
				+goods("images/temp/4.jpg")
			.goods-slider__slider-item
				+goods("images/temp/5.jpg")
			.goods-slider__slider-item
				+goods("images/temp/1.jpg")
mixin goods(link)
	.goods
		.goods__wrap
			.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax", data-fancybox-group="goods")
				img(src=link)
			.goods__desc
				.goods__composition
					h2.goods__name Филадельфия
					| Лосось, сливочный сыр, авокадо
				.goods__cost 460 
					span.rouble Р 
				.goods__add-btn.btn В корзину
			.goods__num 6 шт.

mixin goods-order(link)
	.goods._order
		.goods__wrap
			.goods__image
				img(src=link)
			.goods__desc
				h2.goods__name Секуе Эби
				.goods__cost 215 
					span.rouble Р 
				.goods__add-btn.btn(data-id="123") Добавить
mixin guests()
	.guests.pull-left(onclick="return{'guests': {}}").js-widget
		.guests__list
			.guests__card._current
				a(href="#").guests__card-remove
				.guests__card-img
					img(src="http://lorempixel.com/47/47/people")
				.guests__card-sum 3 250 
					span.rouble Р
				.guests__card-name Гость
			.guests__list-wrap



		.guests__add.pull-right
			a(href="#").guests__add-sign
				span Добавьте гостя и разделите заказ
			a(href="#").guests__add-button
			.guests__add-wrap
				.guests__add-list
					a(href="#").guests__card._new._small
						.guests__card-img
						.guests__card-name 
							| Новый
							br
							| гость
					a(href="#").guests__card._all._small._disabled
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small._disabled
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость


mixin guests-cabinet()
	.guests._cabinet
		.guests__list
			.guests__card._current
				a(href="#").guests__card-remove
				.guests__card-img
					img(src="http://lorempixel.com/47/47/people")
				.guests__card-name Анастасия
			.guests__list-wrap

		.guests__add.pull-right
			a.cabinet__edit.fancybox(href="/_popup_cabinet_1.html", data-fancybox-type="ajax")
mixin logo()
	.logo
		a(href="#")
			img(src="images/logo.png", width="244", height="60", alt="Нияма - японский ресторан")
mixin main-slider()
	div(onclick="return {mainSlider: {}}").main-slider.js-widget
		.main-slider__slider
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")
			.main-slider__slider-item
				a(href="#")
					img(src="images/banner.png")
mixin map
	.map(onclick="return {'restsMap': {}}", data-rests-url="/rests.json", data-one-rest-url="/rest_one.json").js-widget
		div#map

mixin map-one
	.map._one(onclick="return {'restsMap': {}}", data-rests-url="/rests.json", data-one-rest-url="/rest_one.json").js-widget
		div#map
mixin medal(desc, ribbon)
	.medal
		.medal__body._empty
			.medal__desc= desc
		.medal__ribbon
			.medal__ribbon-text= ribbon


mixin medal_img(desc, ribbon, src)
	.medal
		.medal__body
			img(src=src)
		.medal__ribbon
			.medal__ribbon-text= ribbon

mixin medal_big(desc, ribbon, src)
	.medal._big
		.medal__body
			img(src=src)
		.medal__ribbon
			.medal__ribbon-text= ribbon
mixin nav-side()
	ul.nav-side
		li.nav-side__item
			a.nav-side__link(href='#')
				span Компания сегодня
		li.nav-side__item
			a.nav-side__link(href='#')
				span История компании
		li.nav-side__item
			a.nav-side__link(href='#')
				span Особенности интерьера
		li.nav-side__item
			a.nav-side__link(href='#')
				span Франшиза
		li.nav-side__item
			a.nav-side__link(href='#')
				span Арендодателям
		li.nav-side__item
			a.nav-side__link(href='#')
				span Контактная информация
		li.nav-side__item
			a.nav-side__link(href='#')
				span Вакансии
		li.nav-side__item
			a.nav-side__link._active(href='#')
				span Новости


mixin nav-side-rests()
	label.label В Москве
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Митино 
		li.nav-side__item
			a(href='#', data-rid="2").nav-side__link
				span Домодедовская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Молодежная 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТРЦ «РИО» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Новокузнецкая 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Одинцово 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТЦ «Экватор» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Партизанская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Люберцы 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span ВДНХ 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Севастопольский проспект 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Таганская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Проспект Вернадского 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Адмирала Ушакова 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Свиблово  

	label.label В других городах
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Чите
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Твери
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span И еще один в Красноярске

mixin nav-side-rests-one()
	label.label В Москве
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Митино 
		li.nav-side__item
			a(href='#', data-rid="2").nav-side__link
				span Домодедовская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Молодежная 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТРЦ «РИО» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Новокузнецкая 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link._active
				span Одинцово 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТЦ «Экватор» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Партизанская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Люберцы 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span ВДНХ 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Севастопольский проспект 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Таганская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Проспект Вернадского 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Адмирала Ушакова 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Свиблово  

	label.label В других городах
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Чите
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Твери
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span И еще один в Красноярске














mixin nav()
	nav.nav.centrifuge(onclick="return {'nav': {}}").js-widget
		a(href="#").nav__item.centrifuge__item меню
		| 
		a(href="#").nav__item.centrifuge__item Рестораны
		| 
		a(href="#").nav__item.centrifuge__item Доставка
		| 
		a(href="#").nav__item.centrifuge__item._hidden-tablet Скидки и акции
		| 
		a(href="#").nav__item.centrifuge__item#coupons Купоны
		| 
		a(href="#").nav__item.centrifuge__item._hidden-tablet О компании
		| 
		span.nav__item.centrifuge__item.pseudo-link._more Еще
			div.nav__more
				p: a(href="#").nav__item.centrifuge__item Скидки и акции
				p: a(href="#").nav__item.centrifuge__item О компании
		| 

mixin nav-active()
	nav.nav.centrifuge
		a(href="#").nav__item.centrifuge__item меню
		| 
		a(href="#").nav__item.centrifuge__item Рестораны
		| 
		a(href="#").nav__item.centrifuge__item Доставка
		| 
		a(href="#").nav__item.centrifuge__item Скидки и акции
		| 
		a(href="#").nav__item.centrifuge__item#coupons Купоны
		| 
		a(href="#").nav__item.centrifuge__item._active О компании
		| 
mixin news()
	.news 
		.news__years
			+years
		.news__rests
			+select("Все рестораны Москвы")
		.news__posts
			+post
			+post_carousel
			+post
			+post
		+pagination
mixin order-history()
	.order-history
mixin order()
	.order(onclick="return {'order': {}}").js-widget
		.order__side
			.order__amount
				span.h1 итого 
				span.h1.order__amount-sum 2 500 
				span.rouble Р
			.order__bonus
				.order__bonus-img
					img(src="images/icon_1.png")
				span.order__bonus-text 
					span 2 
					span гостя, 
					span 5 
					span блюд

			.order__bonus
				.order__bonus-img
					img(src="images/delivery.png")
				span.order__bonus-text Бесплатная доставка
			.order__bonus
				.order__bonus-img
					img(src="images/free_card.png")
				span.order__bonus-text Карта в подарок
			.order__checkout
				.btn._style_3 Оформить заказ
				p или по телефону
					b +7 495 781-781-9 
				p сообщить № заказа 
					b 345-200-15

			.order__add
				.label Карта в подарок
				.order__add-desc
					.order__add-img 
						img(src="images/card.png")
					.order__add-text
						| Закажи еще на 
						.order__add-text-sum 1050 
							span.rouble Р
						| и получи карту 
						br
						| в подарок
				.order__add-carousel
					.order__add-carousel-item
						+goods-order("images/temp/1.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/2.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/3.jpg")
					.order__add-carousel-item
						+goods-order("images/temp/4.jpg")




		.order__main
			.order__group._coupons
				.order__group-title
					.order__group-name Купоны
				.order__item
					+coupon_6
					+coupon_2
					+coupon_5

			.order__group(data-tableid="table_1", data-guestid="1")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 1
						.order__group-info 3 блюда, 
							b 750 
							+rouble
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/119/86/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/125/83/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/115/78/food")
					.order__item-desc
						.order__item-title Секуе суши
						.order__item-ingredients Шампиньоны и вешенки, огурец
			.order__group(data-tableid="table_2", data-guestid="2")
				.order__group-title
					.order__group-guest
						img(src="images/guest.png")
					.order__group-name Гость 2
						.order__group-info 2 блюда, 
							b 750 
							+rouble

				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/117/83/food")
					.order__item-desc
						.order__item-title Гюнику
						.order__item-ingredients Телятина, руккола, сыр пармезан, луковый соус
				.order__item
					.order__item-remove
					.order__item-count
						span.order__item-cost 195 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="http://lorempixel.com/110/71/food")
					.order__item-desc
						.order__item-title Авокадо маки
						.order__item-ingredients Лосось, сливочный сыр, авокадо

			.order__group._all(data-tableid="table_3", data-guestid="3")
				.order__group-title
					.label Дополнительно на всех
						.order__group-info 
							b 30 
							+rouble
				.order__item._sticks
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sticks.png")
					.order__item-desc
						.order__item-title Палочки
						.order__item-ingredients Два комплекта бесплатно
				.order__item._sauce
					.order__item-remove
					.order__item-count
						span.order__item-cost 0 
							span.rouble Р 
						.order__item-select
							+select_mini
					.order__item-img
						img(src="../images/sauce.png")
					.order__item-desc
						.order__item-title Соевый соус
						.order__item-ingredients Две порции бесплатно
mixin ordering-form()
	.ordering-form
mixin pagination()
	.pagination
		.pagination__arrows
			a(href="#").pagination__prev предыдущая
			span.pagination__separator |
			a(href="#").pagination__next следующая
		.pagination__items
			a(href="#").pagination__item 1
			a(href="#").pagination__item._active 2
			a(href="#").pagination__item 3
			a(href="#").pagination__item 4
			span.pagination__dots ...
			a(href="#").pagination__item 12
mixin phone-mask()
	.phone-mask
mixin popup()
	.popup(onclick="return {'popup': {}}").js-widget
		.popup__overlay
		.popup__window
			.popup__close
			h2.h1.popup__title Новый гость
			label.label Как зовут гостя?
			input.input._mb_2(type="text")

			label.label Выберите фото или аватар
			.input__file._photo Выбрать фото...
				.input__file-pic
				input.input__file-input(type="file")

			.popup__avatars
				input.radio(type="radio", value="0", id="avatar1", name="avatar", checked)
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar1")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="1", id="avatar2", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar2")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="2", id="avatar3", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar3")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="3", id="avatar4", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar4")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="4", id="avatar5", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar5")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

				input.radio(type="radio", value="5", id="avatar6", name="avatar")
				label.radio-avatar(data-url="../images/avatars/active.png", for="avatar6")
					img._unactive(src="/images/avatars/unactive.png")
					img._active(src="/images/avatars/active.png")

			input.btn._style_1(type="submit", value="добавить")
mixin post()
	.post
		h2.post__title
			a(href="#").post__title-link 
				| Скоро! Сеть итальянских ресторанов «Пицца-Пи» 
				br 
				| от создателей «Нияма»!
		p.post__date 23 апреля
		p.post__desc Мы ждем вас в «Пицце-Пи»! У нас вы сможете попробовать пиццу, которую после отличите от всех остальных даже с закрытыми глазами: по запаху, вкусу и хрусту. Да, наша пицца хрустит, потому что это настоящая тонкая итальянская пицца!
		.post__img
			img(src="http://lorempixel.com/646/318")

mixin post_carousel()
	.post._birthday(onclick="return {'post': {}}").js-widget
		h2.post__title
			a(href="#").post__title-link 
				| Ани Лорак отметила День рождения
		p.post__date 5 марта, ресторан на Можайском шоссе, д. 112А
		p.post__desc В начале марта Нияма традиционно предлагает своим гостям специальное постное меню. В этот раз мы исходили из принципа: и поесть вкусно, и посмотреть приятно. И еще – как можно больше витаминов и ярких цветов!
		.post__img._carousel
			img(src="http://lorempixel.com/645/318")
			img(src="http://lorempixel.com/646/318")
			img(src="http://lorempixel.com/647/318")

mixin post_one()
	.post
		p.post__date._one 23 апреля
		p.post__desc Мы ждем вас в «Пицце-Пи»! У нас вы сможете попробовать пиццу, которую после отличите от всех остальных даже с закрытыми глазами: по запаху, вкусу и хрусту. Да, наша пицца хрустит, потому что это настоящая тонкая итальянская пицца!
		.post__img
			img(src="http://lorempixel.com/646/318")
		p.post__desc Дорогие друзья! Почти все люди, независимо от пола, возраста, образования и увлечений, очень любят пиццу! У нас в Нияме тоже есть пицца, и вы довольно часто ее заказываете. Но все-таки – это японская пицца. А настоящей может быть только итальянская. И мы решили, что просто обязаны сделать так, чтобы вы узнали, какова она на вкус – настоящая, тонкая хрустящая итальянская пицца. 
		p.post__desc Поэтому мы позвали шеф-повара из Италии, поставили дровяную печь и закупили самые лучшие итальянские продукты. Так появился наш новый проект – сеть итальянских ресторанов «Пицца-Пи» с демократичными ценами. Попробовать отличную итальянскую пиццу, пасту, ризотто и многое другое вы сможете уже в мае: на станции метро Площадь Ильича откроется первый комбинированный ресторан «Нияма» и «Пицца-Пи». Всех посетителей ждут вкусные подарки!
		.post__share Место под социальные кнопки
		.post__back 
			a(href="#").post__back-link Все новости

mixin promo()
	.promo(onclick="return {'promo': {}}").js-widget
		.page__container.clearfix
			.promo__slider
				div
					a(href="#")
						img(src="images/promo/promo_1.png")
				div
					a(href="#")
						img(src="images/promo/promo_2.png")
				div
					a(href="#")
						img(src="images/promo/promo_3.png")
				div
					a(href="#")
						img(src="images/promo/promo_1.png")
				div
					a(href="#")
						img(src="images/promo/promo_2.png")
				div
					a(href="#")
						img(src="images/promo/promo_3.png")
mixin question()
	.question
		span Возникли вопросы? Позвоните нам 
		a(href="tel:+74957817819") +7 495 781-781-9 
		| или 
		a(href="#") мы можем сами перезвонить вам

mixin question-mail()
	.question
		span Если Вы хотите изменить почту, позвоните нам 
		a(href="tel:+74957817819") +7 495 781-781-9 
		| или 
		a(href="#") мы можем сами перезвонить вам
mixin rests-checkboxes()
	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="wifi", id="wifi")
		label(for="wifi", class="checkbox-label") Wi-Fi
			.rests-controls__filter-img 
				img(src="/images/rests/filter_1.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="parking", id="parking")
		label(for="parking", class="checkbox-label") Парковка
			.rests-controls__filter-img 
				img(src="/images/rests/filter_2.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="vip", id="vip")
		label(for="vip", class="checkbox-label") VIP зал
			.rests-controls__filter-img 
				img(src="/images/rests/filter_3.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="banquet", id="banquet")
		label(for="banquet", class="checkbox-label") Банкетный зал
			.rests-controls__filter-img 
				img(src="/images/rests/filter_4.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="veranda", id="veranda")
		label(for="veranda", class="checkbox-label") Летняя веранда
			.rests-controls__filter-img 
				img(src="/images/rests/filter_5.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="karaoke", id="karaoke")
		label(for="karaoke", class="checkbox-label") Караоке
			.rests-controls__filter-img 
				img(src="/images/rests/filter_6.png")


mixin rests-controls()
	.rests-controls(onclick="return {'restsControls': {}}").js-widget
		.rests-controls__city
			+select
		.rests-controls__station
			+select
		.rests-controls__filter
			+rests-checkboxes
mixin rests-info()
	.rests-info(onclick="return {'restsInfo': {}}").js-widget
		h2.rests-info__title Добро пожаловать в Нияму!
		.rests-info__side 
			+badge_menu
		.rests-info__desc
			p Рестораны «Нияма» появились потому, что нам хотелось сделать место, где будет хорошо и комфортно любому человеку. Увлекаетесь ли вы йогой, близка ли вам японская философия или просто хотите вкусно поесть свежие блюда — вам точно понравится в «Нияме».
			p После открытия стало понятно, что одной «Ниямы» для этого мира слишком мало. Друзей, знакомых и незнакомых гостей, оценивших уют и качество обслуживания стало так много, что потребовалось растить и развивать нашу сеть.
			p Сейчас в трёх городах — Москве, Чите и Твери, — уже около 20 наших ресторанов, и их точно будет больше. Открывая новую точку, мы в точности воспроизводим в ней то, что нравится нашим гостям в других местах. В любой «Нияме» их ждут вкусные блюда из свежих продуктов, приветливый расторопный персонал и приятные ощущения.
			p Наша задача — и дальше поддерживать и тиражировать эту особую философию «Нияма». Её суть в том, что в любом нашем ресторане любой точки планеты персонал будет любить свою работу, гости будут чувствовать себя как дома, а «Нияма» будет бесконечной…

mixin rests-info-one()
	.rests-info(onclick="return {'restsInfo': {}}").js-widget
		h2.rests-info__title Нияма в Одинцово
		.rests-info__side 
			+badge_menu
		.rests-info__desc
			.rests-info__contacts
				+contacts
			p У каждого из нас есть место, где мы любим отдохнуть в обеденный перерыв или после трудного рабочего дня, разделить вечер с приятным собеседником. Место, где хочется фантазировать, черпать вдохновение, наблюдая за жизнью вокруг. Такое место — наш ресторан прямо на въезде в г. Одинцово. Спокойно покурить кальян, маленькими глоточками выпить оригинальный коктейль от бармена, ощутить аромат востока, мечтая о самом светлом с Нияма.
			.rests-info__carousel
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/86")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/87")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/88")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/89")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/90")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/91")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/85")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/84")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/84")
			.rests-info__howto
				label.label.rests-info__howto-title Как добраться
				.rests-info__howto-row
					.rests-info__howto-img
						img(src="images/rests/metro.png")
					.rests-info__howto-desc
						.rests-info__howto-subtitle На метро
						.rests-info__howto-body 
							span.rests-info__howto-metro(style="background: #00f") 
							| «Парк Победы», автобус № 339 в г. Одинцово до остановки «Школа искусств».
				.rests-info__howto-row
					.rests-info__howto-img
						img(src="images/rests/auto.png")
					.rests-info__howto-desc
						.rests-info__howto-subtitle На автомобиле
						.rests-info__howto-body по Кутузовскому проспекту до г. Одинцово, на втором светофоре налево, сразу на право, далее проехать вдоль стройки до места назначения.












mixin rouble()
	span.rouble Р

mixin search()
	form.search(onclick="return {'search': {}}").js-widget
		label(for="search-field").search__title Поиск по меню
		.search__field-wrap.ui-front
			input.search__field#search-field
			button.search__submit-btn
			button.search__clear-btn

mixin side-menu()
	.side-menu._hidden(onclick="return {'sideMenu': {}}").clearfix.js-widget
		.side-menu__group.clearfix
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link one
				.side-menu__item 
					a(href="#").side-menu__link two
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col

		.side-menu__group.clearfix
			.side-menu__title Ингредиенты
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
mixin side-switch()
	.side-switch
mixin social-group()
	.social-group
		.social-group__item группа facebook
		.social-group__item группа vk
mixin social()
	- var socials = ['facebook', 'vk', 'twitter', 'forsquare', 'linkedin', 'ok'];

	.social
		- each social in socials
			div(class="_#{social}").social__item
				a(href="#", class="_#{social}").social__item-in

mixin social__orange()
	- var socials = ['facebook', 'vk', 'ok', 'twitter'];

	.social._orange
		- each social in socials
			.social__item
				a(href="#", class="_#{social}").social__item-in

mixin social__auth()
	- var socials = ['facebook', 'vk', 'ok', 'google', 'mail', 'ya'];

	.social._auth
		- each social in socials
			div(class="_#{social}").social__item
				a(href="#", class="_#{social}").social__item-in
mixin tooltip()
	.tooltip
mixin user-controls()
	.user-controls.pull-right
		a(href="#").user-controls__item Регистрация
		span.user-controls__divider |
		a(href="#").user-controls__item Войти

mixin user()
	.user
mixin vacancies-form()
	.vacancies-form
		form.form
			h2.h2.vacancies-form__title Отправить резюме
			p.vacancies-form__text Даже если вы не нашли подходящую вакансию, присылайте нам резюме. В любом случае.

			label.label.vacancies-form__label._top Представьтесь

			.vacancies-form__fields
				.vacancies-form__col
					label.label._lite Имя  *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Фамилия *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Телефон *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Электронная почта *
					input.input._mb_2(type="email")

				.vacancies-form__col
					.vacancies-form__select
						label.label Интересующая позиция
						+select

				.vacancies-form__col
					label.label Резюме
					.input__file._mb_1 Выбрать файл...
						input.input__file-input(type="file")

				.vacancies-form__col
					input.btn._style_1.vacancies-form__submit(type="submit", value="Отправить")
					label.label._lite._smaller * - поля, обязательные для заполнения

mixin vacancies()
	.vacancies
		h1 Вакансии 
		+cities
		p.vacancies__text Наша компания — это быстро развивающаяся сеть ресторанов. В наши ближайшие планы входит экспансивное развитие сети, создание большого количества новых точек. Для этой цели мы расширяем управленческую команду и нам нужны умные, самостоятельные, не боящиеся работы специалисты.
		.vacancies__select(onclick="return {'vacancies': {}}").js-widget
			.select__wrap(onclick="return {'select': {}}").js-widget
				select.select
					option(value='1') Все рестораны Москвы
					option(value='2') Одинцово
					option(value='3') Люберцы

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1,2]').js-widget
			.vacancy__img
				img(src="../images/job_1.png")
			.vacancy__body
				h2.h2.vacancy__title Пеший курьер
				.vacancy__desc
					.vacancy__desc-to В 2 ресторана:
					.vacancy__rests
						a(href="#", data-id="1").vacancy__rest
							span Одинцово
						a(href="#", data-id="2").vacancy__rest
							span Проспект Вернадского
						a(href="#", data-id="3").vacancy__rest
							span Проспект Вернадского

					.vacancy__about(id="1")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="2")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="3")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1]').js-widget
			.vacancy__img
				img(src="../images/job_2.png")
			.vacancy__body
				h2.h2.vacancy__title Официант
				.vacancy__desc
					.vacancy__desc-to В 8 ресторанов:
					.vacancy__rests
						a(href="#", data-id="4").vacancy__rest
							span Одинцово
						| 
						a(href="#", data-id="5").vacancy__rest
							span Люберцы
						| 
						a(href="#", data-id="6").vacancy__rest
							span Новокузнецкая
						| 
						a(href="#", data-id="7").vacancy__rest
							span Митино
						| 
						a(href="#", data-id="8").vacancy__rest
							span Таганская
						| 
						a(href="#", data-id="9").vacancy__rest
							span Севастопольский проспект
						| 
						a(href="#", data-id="10").vacancy__rest
							span Реутов
						| 
						a(href="#", data-id="11").vacancy__rest
							span Партизанская
						| 
					.vacancy__about(id="4")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="5")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="6")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
					.vacancy__about(id="7")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="8")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="9")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

					.vacancy__about(id="10")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="11")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

		.vacancy(onclick="return {'vacancy': {}}", data-rests='[1,3]').js-widget
			.vacancy__img
				img(src="../images/job_1.png")
			.vacancy__body
				h2.h2.vacancy__title Повар
				.vacancy__desc
					.vacancy__desc-to В 5 ресторанов
						.vacancy__rests
							a(href="#", data-id="12").vacancy__rest
								span Одинцово
							| 
							a(href="#", data-id="13").vacancy__rest
								span Люберцы
							| 
							a(href="#", data-id="14").vacancy__rest
								span Новокузнецкая
							| 
							a(href="#", data-id="15").vacancy__rest
								span Митино
							| 
							a(href="#", data-id="16").vacancy__rest
								span Таганская
					.vacancy__about(id="12")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="13")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="14")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость

					.vacancy__about(id="15")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
							li Стрессоустойчивость

					.vacancy__about(id="16")
						p.vacancy__about-text Звоните: 
							b +7 (495) 544 57 25 
							| (пн-пт, с 12.00 до 21.00)
						p.vacancy__about-text Если Вы молоды и энергичны, готовы строить карьеру в ресторанном бизнесе — приглашаем Вас присоединиться к нашей дружной команде! 
						h4.h4 Требования:
						ul.ul
							li Серьезное отношение к работе
							li Коммуникабельность, пунктуальность, вежливость
mixin vacancy()
	.vacancy
mixin virtual()
	.virtual(onclick="return {'virtual': {}}").js-widget
		.virtual_wrap
			.content
				svg.circle(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
					defs
						clipPath#virtual
							circle#circle(cx="362", cy="60", r="138")
					image(xlink:href="images/virtual_bg.jpg", x="0", y="0", width="1247", height="2507", clip-path="url(#virtual)")

				.desc_wrap
					.desc.step1
						.desc_circle.__back(data-newx="632", data-newy="360", data-step="7")
						span.desc_text Получайте бонусы и подарки, делая заказы в «Нияме»
						.desc_circle(data-newx="532", data-newy="60", data-step="2")
					.desc.step2
						.desc_circle.__back(data-newx="362", data-newy="60", data-step="1")
						span.desc_text Каждый новый заказ дает вам новые возможности и предложения
						.desc_circle(data-newx="142", data-newy="1220", data-step="3")
					.desc.step3
						.desc_circle.__back(data-newx="532", data-newy="60", data-step="2")
						span.desc_text Каждый новый заказ делает условия доставки более выгодными
						.desc_circle(data-newx="472", data-newy="1220", data-step="4")
					.desc.step4
						.desc_circle.__back(data-newx="142", data-newy="1220", data-step="3")
						span.desc_text Карта сушиеда дает возможность накапливать «Ниямы» и получать скидку при каждом заказе
						.desc_circle(data-newx="792", data-newy="140", data-step="5")
					.desc.step5
						.desc_circle.__back(data-newx="472", data-newy="1220", data-step="4")
						span.desc_text Каждый заказ дает возможность получить купон на скидку или подарок, воспользоваться купоном или получить подарок вы сможете при следующем заказе
						.desc_circle(data-newx="672", data-newy="150", data-step="6")
					.desc.step6
						.desc_circle.__back(data-newx="792", data-newy="140", data-step="5")
						span.desc_text Получайте свежую информацию о спецпредложениях в разделе «Скидки и акции»
						.desc_circle(data-newx="632", data-newy="360", data-step="7")
					.desc.step7
						.desc_circle.__back(data-newx="672", data-newy="150", data-step="6")
						span.desc_text Самые актуальные предложения показаны на главной странице
						.desc_circle(data-newx="362", data-newy="60", data-step="1")

mixin years()
	.years
		a(href="#").years__item._active
			span 2014
		a(href="#").years__item
			span 2013
		a(href="#").years__item
			span 2012
		a(href="#").years__item
			span 2011
		a(href="#").years__item
			span 2010
		a(href="#").years__item
			span 2009
		a(href="#").years__item
			span 2009
