.order__recommend{
flex-wrap: wrap;
}


.recommend__space__hack{
width:300px;
}
  .order_recommend__title {
        padding: 40px 0 20px;
        font-weight: 700;    
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
 .order__recommend{
        display: flex;
        justify-content: space-between;
    }
    .order__recommend__item{
        display: flex;
        margin-top: 26px;
       
        font-size: 26px;
        color: #FFFFFF;
        letter-spacing: 2px;
    }

    .order__recommend__item__description{
        margin-left: 40px;
    }
.order__recommend__item__description__add{
    cursor:pointer;
    text-align: center;
    line-height: 39px;
    width: 45px;
    height: 45px;
    font-size: 39px;
    margin-top: 30px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #de411d;
    background-color: #de411d;
    }

    .order__recommend__item__description__add:hover {
        opacity: 0.9;
    }

.order__recommend__item__image img {
    width: 150px;
}