@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio : 2) {
    .catalog__detail__element {
        flex-direction: column;
    }

    .catalog__detail__element__title {
        text-align: center;
    }

    .catalog__detail__element__text.detail {
        margin: auto;
        width: auto;
        font-size: 15px;
        margin-left: 0;
        text-align: center;
    }

    .catalog__detail__element__title.detail {
width: auto;
    }
}

.element__detail__wrapper > .catalog__detail__element__offers-block {
    width: 265px
}

.catalog__detail__element__offers-block {
    margin-top: 15px;
    width: 240px;
    justify-content: center;
}

@media (max-width: 768px){
    .catalog__detail__element__offers-block {
        margin:auto;
    }
}
.catalog__item__offer--single.detail{
    width: 100%;
}

.catalog__detail__element__offer.detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    color: gray;
    letter-spacing: 2px;
    box-sizing: border-box;
}

.catalog__detail__element__offer--active {
    color: black;
}

.catalog__detail__element__offer--active > .catalog__detail__element__offer div span {
    color: black;
}

.qqqq.catalog__detail__element__size.catalog__detail__element__size__left.detail {
    margin-top: 10px;
    width: 100%;
    color: white;
    font-size: 17px;
    height: 43px;
    letter-spacing: 1px;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 3px solid #71752a;
}

.catalog__detail__element__offer--active > .catalog__detail__element__size {
    background-color: #71752a;
}

.qqqq.catalog__detail__element__size.catalog__detail__element__size__right.detail {
    margin-top: 10px;
    width: 100%;
    color: white;
    font-size: 17px;
    height: 43px;
    letter-spacing: 1px;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 3px solid #71752a;
}

.catalog__detail__element__size {
    cursor: pointer;
    transition: 0.5s;
}

.catalog__detail__element__size span {
    display: block;
}

.catalog__detail__element__size img {
    height: 25px;
    margin: 0 10px;
    display: block;
}

.catalog__detail__element__offer--active div {
    color: white;
}

.catalog__detail__element__offer--active > .catalog__detail__element__size {
    color: #fff;
}

.catalog__detail__element__offer--active > .catalog__detail__element__size div {
    background: url("/local/templates/pizzapi/img/diametr.png") no-repeat;
}

.catalog__detail__element__size div {
    margin: 0 11px;
    width: 25px;
    height: 25px;
    background: url("/local/templates/pizzapi/img/diametr.png") no-repeat;
}
.popup-window-close-icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url("/local/templates/pizzapi/img/closepopup.png") no-repeat;
    background-size: contain;
}

.popup-window-close-icon:hover {
    width: 20px;
    height: 20px;
    display: block;
    background: url("/local/templates/pizzapi/img/closepopup.png") no-repeat;
    background-size: contain;

}
.catalog__item__price.catalog__item__price--popup{
    color: black;
}
.fancybox-container .message img{
    width: 100%;
}


.catalog__detail__element__title.detail{
    color: white;
}
.catalog__detail__element__text.detail {
    color: white;
}
.catalog__detail__element__offer.catalog__detail__element__offer--active.detail{
    color: white;
}

.element__detail__wrapper.detail {
    background: inherit;
}
.catalog__detail__element__offer.catalog__detail__element__offer--active.detail>.catalog__detail__element__price.detail div{
    color: #fff;
}
.addtocart.add2cart.detail{
    margin: 25px 0;
}
.catalog__item__price.catalog__item__price--popup.detail{
    color: white;
    font-size: 20px;
}
.catalog__item__size.catalog__item__size--single.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
    height: 43px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 3px solid #71752a;
    background-color: #71752a;
}
.catalog__item__size.catalog__item__size--single.detail>img {
    margin-right: 10px;
}

.catalog__detail__element__offers-block.detail{
   justify-content: flex-start;
}

.catalog__detail__element__text.detail{
    margin-left: 0px;
}