
.element__detail__wrapper > .catalog__detail__element__offers-block {
    width: 265px
}
.catalog__detail__element__offers-block {
    margin-top: 15px;
    width:240px;
    margin: auto;
    justify-content: center;

}


.catalog__detail__element__offer {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    color: gray;
    letter-spacing: 2px;
    box-sizing: border-box;
}
.catalog__detail__element__offers__popup-block{
    width:215px;
}

.catalog__detail__element__offer--active {
    color: black;
}

.catalog__detail__element__offer--active > .catalog__detail__element__offer div span {
    color: black;
}

.catalog__detail__element__size__left {
    margin-top: 10px;
    width: 100%;
    color: black;
    font-size: 17px;
    height: 43px;
    letter-spacing: 1px;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 3px solid #71752a;
}

.catalog__detail__element__offer--active > .catalog__detail__element__size {
    background-color: #71752a;
}

.catalog__detail__element__size__right {
    margin-top: 10px;
    width: 100%;
    color: black;
    font-size: 17px;
    height: 43px;
    letter-spacing: 1px;
    border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    border: 3px solid #71752a;
}
.catalog__detail__element__size{
    cursor:pointer;
    transition: 0.5s;
}

.catalog__detail__element__size span {
    display: block;
}

.catalog__detail__element__size img {
    height: 25px;
    margin: 0 10px;
    display: block;
}

.catalog__detail__element__offer--active div{
    color:black;
}


.catalog__detail__element__offer--active > .catalog__detail__element__size{
    color: #fff;
}

.catalog__detail__element__offer--active > .catalog__detail__element__size div{
    background: url("<?= SITE_TEMPLATE_PATH ?>/img/diametr.png") no-repeat;
}
.catalog__detail__element__size div {
    margin: 0 11px;
    width: 25px;
    height: 25px;
    background: url("<?= SITE_TEMPLATE_PATH ?>/img/diametrBlack.png") no-repeat ;
}

