mixin cart-history()
	.cart-history.pull-left(onclick="return {cartHistory: {}}").js-widget
		a.cart-history__title 
			span КОРЗИНА 
		//- &#x25B2; &#x25BC;
		.cart-history__date 8 апреля
		.cart-history__list-wrap
			.cart-history__list-scroll
				ul.cart-history__list
					li.cart-history__list-item
						a(href="#", data-id="1").cart-history__list-link
							.cart-history__list-date 18 АПРЕЛЯ
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="2").cart-history__list-link
							.cart-history__list-date 10 АПРЕЛЯ
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="3").cart-history__list-link
							.cart-history__list-date 29 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="4").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="5").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="6").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="7").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
					li.cart-history__list-item
						a(href="#", data-id="8").cart-history__list-link
							.cart-history__list-date 15 МАРТА
							.cart-history__list-sum 4 500
								span.rouble Р
