mixin nav()
	nav.nav.centrifuge(onclick="return {'nav': {}}").js-widget
		a(href="#").nav__item.centrifuge__item меню
		| 
		a(href="#").nav__item.centrifuge__item Рестораны
		| 
		a(href="#").nav__item.centrifuge__item Доставка
		| 
		a(href="#").nav__item.centrifuge__item._hidden-tablet Скидки и акции
		| 
		a(href="#").nav__item.centrifuge__item#coupons Купоны
		| 
		a(href="#").nav__item.centrifuge__item._hidden-tablet О компании
		| 
		span.nav__item.centrifuge__item.pseudo-link._more Еще
			div.nav__more
				p: a(href="#").nav__item.centrifuge__item Скидки и акции
				p: a(href="#").nav__item.centrifuge__item О компании
		| 

mixin nav-active()
	nav.nav.centrifuge
		a(href="#").nav__item.centrifuge__item меню
		| 
		a(href="#").nav__item.centrifuge__item Рестораны
		| 
		a(href="#").nav__item.centrifuge__item Доставка
		| 
		a(href="#").nav__item.centrifuge__item Скидки и акции
		| 
		a(href="#").nav__item.centrifuge__item#coupons Купоны
		| 
		a(href="#").nav__item.centrifuge__item._active О компании
		| 