.catalog {
	@gap: 25px;

	margin: -12px 0 0 -@gap;
	padding: 0;

	-webkit-transition: height 300ms;
	-moz-transition: height 300ms;
	-ms-transition: height 300ms;
	-o-transition: height 300ms;
	transition: height 300ms;

	list-style-type: none;

	@media (max-width: @tablet) and (orientation: portrait) {
		margin: -12px 0px 0 -35px;
	}

	&__filters-act {
		padding: 15px 0 20px;
		overflow: hidden;
		margin-top: -79px;
		width: 520px;
		position: relative;
		z-index: 10;

		&._inner {
			margin-top: -20px;
		}

		@media (max-width: @desktop) {
			width: 360px;
			left: 12px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			width: 325px;
			margin-top: -30px;
		}

		div {
			background: #facf74;
			border-radius: 10px;
			color: #5a2300;
			display: inline-block;
			margin: 0 10px 10px 0;
			padding: 0 11px 2px;
			line-height: 18px;
			font-size: 13px;
		}

		a {
			color: #5a2300;
			margin-left: 5px;
			text-decoration: none;
			position: relative;
			top: -1px;
			font: bold 12px 'Trebuchet MS', Arial;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 214px;
		margin: 0 0 22px @gap;

		@media (max-width: @tablet) and (orientation: portrait) {
			width: 200px;
		}
	}

	&__separator {
		width: 100%;
		padding-left: 25px;

		div {
			background: #facf74;
			border-radius: 10px;
			color: #5a2300;
			display: inline-block;
			margin: 0 10px 10px 0;
			padding: 0 11px 2px;
			line-height: 18px;
			font-size: 13px;
		}
	}
}