mixin catalog()
	ul(onclick="return {'catalog': {}}").catalog.js-widget#iso
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/2.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/3.jpg")
		.catalog__separator
			div Сашими
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")
		.catalog__separator
			div Роллы
		li(data-category="three").catalog__item
			+goods("images/temp/4.jpg")
		li(data-category="two").catalog__item
			+goods("images/temp/5.jpg")
		li(data-category="one").catalog__item
			+goods("images/temp/1.jpg")