.centrifuge {
	text-align: justify;
	line-height: 0;

	&:after {
		content: '';

		display: inline-block;
		width: 100%;
	}


	&__item {
		display: inline-block;
		vertical-align: middle;
		
		line-height: normal;
	}
}