mixin cart-buy()
	.cart-buy.pull-right
		span.cart-buy__sum 3 250
			span.rouble Р
		span.cart-buy__button.btn._style_1.pull-right._disabled Купить
		.cart-buy__min-sum Минимальная сумма заказа - 1 000
			+rouble