.cart-buy {
	height: 62px;
	min-width: 345px;
	border-radius: 32px 17px 17px 32px;
	background-color:  rgba(90, 35, 0, 0.8);

	&__button._disabled {
		opacity: 0.7;
		cursor: default;
	}

	&__min-sum {
		color: #fff;
		padding-left: 35px;
		margin-top: 6px;
		font-size: 14px;
		white-space: nowrap;
	}

	&__sum {
		color: #FFF;
		font-size: 33px;
		font-family: @europec;
		font-weight: bold;
		line-height: 60px;
		padding-left: 31px;
		padding-right: 12px;

		i {
			font-style: normal;
		}

		.rouble {
			// font-size: 23px;
			margin-left: 3px;
			font-weight: 800;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			font-size: 25px;
			padding: 0px 7px 0px 14px;
			line-height: 64px;
		}
	}

	@media (max-width: @desktop) {
		min-width: 328px;
	}

	@media (max-width: @tablet) and (orientation: portrait) {
		min-width: 290px;
		min-width: 266px;
	}

}