mixin cart-progress()
	.cart-progress
		.cart-progress__bar(style="width: 17%;")
		.cart-progress__overlay
		.cart-progress__point._one._active
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Бесплатная доставка 
						br 
						| в пределах МКАД
		.cart-progress__point._two
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Бесплатная 
						br 
						| доставка за МКАД
		.cart-progress__point._three
			.cart-progress__desc
				a.cart-progress__link(data-title="Какой-то текст с подсказкой")
					span Карта "Нияма"
						br 
						| в подарок