mixin feedback()
	.feedback
		.feedback__phone +7 495 781-781-9
		.feedback__links.centrifuge
			a(href="#").feedback__link.centrifuge__item Обратный звонок
			|  
			a(href="#").feedback__link.centrifuge__item Контроль качества

mixin feedback-light()
	.feedback
		.feedback__phone +7 495 781-781-9
		.feedback__links.align-right
			a(href="#").feedback__link.centrifuge__item Обратный звонок