.feedback {
	max-width: 280px;
	padding: 13px 0 0;

	@media (max-width: @desktop) { 
		body:not(._light) & {
			padding: 27px 0 0;
		}
		
		.page__wrap._light-2 & {
			padding: 10px 0 0;
		}
	}

	&__phone {
		margin: 0 2px 4px 0;

		font-size: 23px;
		font-family: @europec;
		font-weight: 700;
		line-height: 1;
		white-space: nowrap;
		color: @brown;
		text-decoration: none;
		border: none;

		@media (max-width: @desktop) { 
			body:not(._light) & {
				margin: 0 11px 4px 0;
				font-size: 20px;
			}
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			body:not(._light) & {
				margin: 0 -10px 4px 0;
				font-size: 15px;
			}
		}
	}


	&__links {
		font-size: 13px;
		line-height: normal;
		height: 21px;

		@media (max-width: @desktop) { 
			body:not(._light) & {
				display: none;
			}
		}
	}


	&__link {
		color: lighten(@font-color, 20%); // #333
	}
}