.contacts {
	
	background: @brown-extralight;
	padding: 15px 33px;
	padding-bottom: 18px;
	padding-right: 10px;
	border-radius: 12px;

	&__column {
		vertical-align: top;
		display: inline-block;

		&._address {
			width: 38%;
		}

		&._time {
			width: 32%;
		}
	}

	&__title {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
	}

	&__desc {
		font-size: 15px;
		color: @brown;
		line-height: 18px;
	}
}