mixin contacts()
	.contacts
		.contacts__column._address
			.contacts__title адрес
			.contacts__desc Можайское шоссе, 
				br
				| д. 112а
		.contacts__column._time
			.contacts__title время работы 
			.contacts__desc ежедневно 
				br	
				| с 12:00 до 02:00
		.contacts__column._phone
			.contacts__title телефон
			.contacts__desc +7 (495) 961-50-12
