.order__makeorder__button {
padding: 15px 46px;
  margin-top: 135px;
        text-align: center;
        width: 260px;
        font-family: "Museo Sans Cyrl 500";
        color: #ffffff;
        line-height: 17px;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #de411d;
        background-color: #de411d;
        height: 54px;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 1px;
}

.bx_ordercart_order_pay_center {
    margin-top: 135px !important;
    border-top: none !important;
}

    .order__wrapper__props {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

 .personal__data{
        margin-top:120px;
        font-family: "Museo Sans Cyrl 700";
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
.order__wrapper__props.order__wrapper__props2 {
    display: block;
margin-top 100px;
}


.order__delivery__select_title {
    font-family: "Museo Sans Cyrl 300";
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 25px;
    margin-top: 62px;
}

    .order__delivery__select__place{
        margin-top: 25px;
    }

    .order__delivery__select__place{
        width: 345px;
        height: 57px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        outline: none;
    }

/* ///////////////////////////////////////////
  ///////////////////////////////////////////
 ///////////////////////////////////////////
///////////////////////////////////////////
*/


    .dropcontainer_demo2 {
        position:absolute;
        font-size: 16px;
        color: #FFFFFF;
        background: transparent;
        text-decoration: none;
    }

    .trigger_demo2 {
        color: #FFFFFF;
        padding: 10px;
        font-size: 24px;
        width: 345px;
        height:57px;
        background: transparent url("images/selectarrowdown.png") 98% center no-repeat;
        display: block;
        border: 2px solid #FFFFFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-decoration: none;
    }

    .trigger_demo2:hover {
        color: #FFFFFF;
        background:  url("images/selectarrowdown.png") 98% center no-repeat;
        text-decoration: none;
    }

    .trigger_demo2:focus{
        color: #FFFFFF;
        text-decoration: none;
    }

    .activetrigger_demo2 {
        color: #FFFFFF;
        padding: 10px;
        font-size: 24px;
        width: 345px;
        background: transparent url("images/selectarrowclose.png") 98% center no-repeat;
        display: block;
        border: 2px solid #FFFFFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }

    .activetrigger_demo2:hover {
        background: transparent url("images/selectarrowclose.png") 98% center no-repeat;
        color: #FFFFFF;
        text-decoration: none;
    }

    .activetrigger_demo2:active {
        background: transparent url("images/selectarrowclose.png") 98% center no-repeat;
        color: #FFFFFF;
        text-decoration: none;
    }

    .activetrigger_demo2:focus{
        color: #FFFFFF;
        text-decoration: none;
    }

    .dropcontainer_demo2 ul {
        font-size: 24px;
        color: #FFFFFF;
        text-decoration: none;
        border: 2px solid #FFFFFF;
        border-top: none;
        background: transparent;
        list-style-type: none;
        padding: 10px;
        margin: 0;
        width: 345px;
        z-index: 100;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
    }

    .dropcontainer_demo2 ul li {
        padding: 5px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-decoration: none;
    }

    .dropcontainer_demo2 ul li:hover {
        background: #bdbdbd;
        outline: none;
        text-decoration: none;
    }

    .dropcontainer_demo2 ul li:first-child {
        display: none;
        text-decoration: none;
    }

    .dropcontainer_demo2 ul li:last-child {
        border-bottom: none;
        text-decoration: none;
    }

    .dropdownhidden_demo2 {
        display: none;
        text-decoration: none;
    }

    .dropdownvisible_demo2 {
        height: auto;
        text-decoration: none;
    }

    .dropdownvisible_demo2 {
        height: 200px;
        overflow-y: scroll;
    }

/********************************************************/
 .radio {
        width: 18px;
        height: 18px;
    }
    .radio + label {
        cursor: pointer;
    }
    .radio:not(checked) {
        position: absolute;
        opacity: 0;
    }
    .radio:not(checked) + label {
        position: relative;
        padding: 0 0 0 35px;
    }
    .radio:not(checked) + label:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 22px;
        height: 22px;
        border: 3px solid #FFFFFF;

    }
    .radio:not(checked) + label:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 2px;
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        opacity: 0;
        transition: all .2s;
    }
    .radio:checked + label:after {
        opacity: 1;
    }

    .order__delivery_radiobutton_title{
        font-family: "Museo Sans Cyrl 500";
        color: #ffffff;
        font-size: 24px;
        letter-spacing: 3px;
    }
    .order__delivery__select{
        margin-top: 65px;
    }


    .order__delivery__select__place{
        margin-top: 25px;
    }

    .order__delivery__select__place{
        width: 345px;
        height: 57px;
        padding: 10px;
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        outline: none;
    }
  .order__delivery__radiobutton{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        margin-top: 65px;
    }

.paymen_select_block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 65px;
    margin-left: -50px;
}

.bx_block.horizontal {
    margin-left: 50px;
}

.order_description_area{
background-color: transparent;
width: 100%;
resize: none;
height: 240px;
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 3px solid #ffffff;
}