mixin radio(forid, lClass, rClass)
	input.radio(type="radio", name="checkbox1", id=forid, class= rClass || '')
	label.radio-label.checkbox-label(for=forid, class= lClass || "checkbox-label")
		block content

mixin radio-checked(forid, lClass, rClass)
	input.radio(type="radio", name="checkbox1", id=forid, class= rClass || '', checked)
	label.radio-label.checkbox-label(for=forid, class= lClass || "checkbox-label")
		block content