input[type=radio].radio, input[type=radio].radio1 {
	display:none;
}

input[type=radio].radio + label.radio-label, input[type=radio].radio + label.radio-avatar, input[type=radio].radio1 + label.radio-avatar1 {
	padding-left: 33px;
	height:24px;
	line-height:24px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
	cursor:pointer;

	font-family: @arimo;
	color: #000000;
	font-size: 15px;
	font-weight: 400;

	
	.ordering-form__row & {
		.block2 & {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;

		@media (max-width: @desktop) {
				display: block;
			}
		}
	}
}

input[type=radio].radio:checked + label.radio-label {
	background-position:0 -24px;
}

label.radio-label, label.radio-avatar, label.radio-avatar1 {
	 // background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_da5236bb41641c3774adcf8e40549dae.png);
	 background-image: data-uri("../images/base64/radio.png");
	background-position: center;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

	input[type=radio].radio + label.radio-avatar, input[type=radio].radio1 + label.radio-avatar1 {
		background: none;
		height: 47px;
		width: 47px;
		border-radius: 50%;
		border: 2px solid @grey-border;
		position: relative;
		padding: 0;
		background-color: white;
		overflow: hidden;

		img {
			position: absolute;
			margin: auto;
			left: -2px;
			top: -2px;
			// max-height: 45px;

			&._active {
				display: none;
			}

			&._unactive {
				display: block;
			}
		}
	}

	input[type=radio].radio:checked + label.radio-avatar, input[type=radio].radio1:checked + label.radio-avatar1 {
		// background-image: none !important;
		border-color: @orange;

		img {
			// top: -49px;

			&._active {
				display: block;
			}

			&._unactive {
				display: none;
			}
		}
	}

	label.radio-avatar, label.radio-avatar1 {
		margin-right: 5px;
	}