mixin about()
	.about
		h1.h1 Что вы знаете о нияме?
		p.about__text То, что это сеть японских ресторанов, расположенных в Москве и за ее пределами? То, что это место, где всегда можно отведать свежие продукты, приготовленные в лучших традициях японской кухни? То, что это качественное обслуживание, преисполненное уважением к гостям?
		p.about__text «Нияма» — это намного больше. «Нияма» — это целая философия. Само название сети ресторанов многозначно.
		+about-slider
		p.about__text С японского «Нияма» переводится как «две горы». Символ горы всегда означал достижение. Высокий уровень сервиса и качества кухни — это два достижения и «две горы», которым сотрудники компании стараются ежедневно соответствовать.
		p.about__text._styled Для жителей Индии «Нияма» означает нравственную чистоту. Заложенная в основу, она позволяет создавать особую атмосферу, в которой спокойно и уютно как сотрудникам, так и гостям ресторанов.
		p.about__text._last Но к чему слова? Для того, чтобы узнать истинную философию Ниямы, достаточно всего лишь побывать в гостях.