.map {
	height: 445px;
	margin-bottom: 60px;
	background: #fff;
	box-shadow: inset 2px 2px 17px -10px #000;

	-moz-border-radius:  15px; /* Firefox */
	-webkit-border-radius:  15px; /* Safari, Chrome */
	-khtml-border-radius:  15px; /* KHTML */
	border-radius:  15px; /* CSS3 */

	overflow: hidden;
	position: relative;
	/* chrome bug fix */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	
	transition: height 0.5s;

	&._one {
		// height: 175px;
		height: 445px;
		margin-bottom: 53px;
	}
}

#map {
	height: 100%;
}