mixin map
	.map(onclick="return {'restsMap': {}}", data-rests-url="/rests.json", data-one-rest-url="/rest_one.json").js-widget
		div#map

mixin map-one
	.map._one(onclick="return {'restsMap': {}}", data-rests-url="/rests.json", data-one-rest-url="/rest_one.json").js-widget
		div#map