.cities {
	margin-bottom: 22px;
	font-size: 16px;

	&__item {
		margin-right: 44px;
		text-decoration: none;
		border-bottom: 1px dotted @brown;

		&._active {
			position: relative;
			display: inline-block;
			color: #FFF;
			border-bottom: none;
			cursor: default;

			span {
				position: relative;
				z-index: 1;
			}
			
			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				top: 1px;
				left: -9px;
				right: -12px;
				bottom: 1px;
				background: @orange;
				border-radius: 15px;
			}
		}
	}
}