mixin cities()
	.cities
		a(href="#").cities__item._active
			span Вакансии в Москве 
		a(href="#").cities__item
			span Чите
		a(href="#").cities__item
			span Твери
		a(href="#").cities__item
			span Красноярске