.ajax-progress {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(68, 23, 1, 0.7);
	z-index: 1000;

	&:before {
		content: '';

	}

	&__dots {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 147px;
		width: 330px;
		margin: auto;
		background: data-uri("../images/base64/niyama.png") no-repeat;
		background-position: top center;
		line-height: 97px;
		text-align: center;

		&:after {
			content: attr(title);
			position: absolute;
			line-height: normal;
			color: white;
			font-size: 18px;
			font-weight: 700;
			white-space: nowrap;
			top: 100%;
			text-align: center;
			right: 0;
			left: 0;
			margin-top: -36px;
		}

		&:before {
			content: '';
			background: data-uri("../images/base64/ajax-progress.gif") no-repeat center;
			width: 100px;
			height: 8px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
}