.footer-nav {
	margin: 0 0 52px;

	@media (max-width: @tablet) and (orientation: portrait) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		line-height: 88px;
		padding-left: 29px;
	}


	&__col {
		float: left;

		width: 171px;
		margin: 0;
		padding: 0;
		list-style-type: none;

		@media (max-width: @desktop) {
			&:last-child {
				margin-top: 18px;
			}
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			width: auto;

			&:last-child {
				margin-top: 0;
			}
		}
	}


	&__item {
		padding: 0 0 0 14px;

		font-size: 12px;
		text-transform: uppercase;

		background: data-uri('../blocks/composite/footer-nav/images/footer-nav__item-bullet.png') no-repeat 2px 50%;


		& + & {
			margin-top: 18px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			padding: 0 16px 0 0px;
			float: left;
			background: none;
			line-height: 3.5;

			& + & {
				margin-top: 0;
			}
		}
	}


	&__link {
		text-decoration: none;
		color: @font-color;

		&:hover {
			text-decoration: underline;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			text-decoration: underline;
		}
	}
}