mixin footer-nav()
	.footer-nav.clearfix
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link меню
			li.footer-nav__item
				a(href="#").footer-nav__link Рестораны
			li.footer-nav__item
				a(href="#").footer-nav__link Доставка
			li.footer-nav__item
				a(href="#").footer-nav__link скидки и акции
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link О компании
			li.footer-nav__item.hidden-tablet
				a(href="#").footer-nav__link франшиза
			li.footer-nav__item.hidden-tablet
				a(href="#").footer-nav__link вакансии
		ul.footer-nav__col
			li.footer-nav__item
				a(href="#").footer-nav__link Обратный звонок
			li.footer-nav__item
				a(href="#").footer-nav__link контроль качества
