.question {
	color: black;
	display: inline-block;
	font-size: 14px;
	line-height: 17px;
	color: #686868;

	a[href^=tel] {
		color: black;
		text-decoration: none;
		// white-space: nowrap;
	}

	a {
		color: black;
	}
}