mixin question()
	.question
		span Возникли вопросы? Позвоните нам 
		a(href="tel:+74957817819") +7 495 781-781-9 
		| или 
		a(href="#") мы можем сами перезвонить вам

mixin question-mail()
	.question
		span Если Вы хотите изменить почту, позвоните нам 
		a(href="tel:+74957817819") +7 495 781-781-9 
		| или 
		a(href="#") мы можем сами перезвонить вам