mixin search()
	form.search(onclick="return {'search': {}}").js-widget
		label(for="search-field").search__title Поиск по меню
		.search__field-wrap.ui-front
			input.search__field#search-field
			button.search__submit-btn
			button.search__clear-btn
