.social-group {
	@gap: 50px;

	margin: 0 0 0 -@gap;


	&__item {
		float: left;

		width: 260px;
		height: 283px;
		margin: 0 0 0 @gap;
		padding: 10px 9px;

		border-radius: 5px;
		background: #d6ba9a;

		@media (max-width: @desktop) {
			margin-left: 16px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			margin-left: 45px;
		}

		&:first-child {
			margin-left: 87px;

			@media (max-width: @desktop) {
				margin-left: 57px;
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				margin-left: 27px;
			}
		}

		.shadow();
	}
}