.coupons {
	&:extend(.clearfix all);

	padding-bottom: 35px;
	padding-top: 20px;
	
	&__column {
		width: 454px;
		float: left;

		&._left {
			margin-right: 24px;
		}
	}

	// text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}