mixin coupons()
	.coupons(onclick="return {'coupons': {}}").js-widget
			+coupon_img
			+coupon('_disabled')
			+coupon
			+coupon_2
			+coupon_3
			+coupon_4
			+coupon_5
			+coupon_6
			+coupon_6('_disabled _used')