.years {
	margin-bottom: 22px;
	font-size: 16px;

	&__item {
		margin-right: 35px;

		@media (max-width: @desktop) {
			margin-right: 30px;
		}

		&._active {
			position: relative;
			display: inline-block;
			text-decoration: none;
			color: #FFF;
			cursor: default;

			span {
				position: relative;
				z-index: 1;
			}
			
			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				top: 1px;
				left: -9px;
				right: -12px;
				bottom: 1px;
				background: @orange;
				border-radius: 15px;
			}
		}
	}
}