
<div class="popup__alert">
  <h2 class="popup__alert-title h1">Спасибо за регистрацию</h2>
  <div class="auth__bonus _wide">
    <p>За регистрацию мы начислили вам </p>
    <div class="auth__bonus-nyam"> <span class="text-brown">5 000</span><img src="/images/nyam_big.png"/><span class="text-orange">ниям</span></div>
  </div>
</div>