
<div onclick="return {'cardCheck': {}}" class="card-check js-widget">
  <h2 class="h1 popup__title">Проверка карты</h2>
  <label class="label">Номер карты</label>
  <input type="text" class="input _mb_2"/>
  <div class="card-check__error"></div>
  <input value="Проверить" type="submit" class="btn _style_4 _full-width"/>
</div>