
<div class="ordering-form popup__card">
  <h1>Карта уже зарегистрирована</h1>
  <div class="popup__user-body">
    <div class="ordering-form__row">
      <p class="text-brown">Если вы являетесь владельцем карты, введите e-mail и телефон, который вы указывали при регистрации карты</p>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Электронная почта</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Телефон</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <input value="Подтвердить" type="submit" class="btn _style_4 _full-width"/>
      </div>
    </div>
  </div>
</div>