
<div class="goods-one">
  <div class="goods-one__img"><img src="images/big-roll.png"/></div>
  <div class="goods-one__desc">
    <h1 class="goods-one__title">Филадельфия</h1>
    <div class="goods-one__specs"><span class="goods-one__specs-count">6шт </span> <span class="goods-one__specs-bullet">&bull; </span> <span class="goods-one__specs-energy">300 ккал</span> <span class="goods-one__specs-bullet">&bull; </span> <span class="goods-one__specs-weight">240 г</span></div>
    <div class="goods-one__composition">Лосось, сливочный сыр, авокадо</div>
    <p class="goods-one__about">Деликатный сливочный вкус роллам Филадельфия придает сочетание нежнейшего сливочного сыра с одноименным названием и свежего лосося. Роллы Филадельфия появились в США в 70-х годах минувшего века и изначально в составе которого была рыба, традиционно - водоросль нори и самый главный ингредиент - мягкий сыр Филадельфия. </p>
  </div>
  <div class="goods-one__side">
    <div class="goods-one__cart">
      <div class="goods-one__cost">
        <div class="goods-one__sum">460 <span class="rouble">Р</span></div>
        <div class="goods-one__count">
          <div onclick="return {'select': {}}" class="select__wrap _mini js-widget">
            <select class="select">
              <option>1</option>
              <option>2</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
        </div>
      </div><a class="btn _full-width _style_1 goods-one__add">в корзину</a>
    </div>
    <div class="social _orange">
      <div class="social__item"><a href="#" class="_facebook social__item-in"></a></div>
      <div class="social__item"><a href="#" class="_vk social__item-in"></a></div>
      <div class="social__item"><a href="#" class="_ok social__item-in"></a></div>
      <div class="social__item"><a href="#" class="_twitter social__item-in"></a></div>
    </div>
  </div>
</div>