
<div class="goods-one _removed">
  <div class="goods-one__img"><img src="images/big-roll.png"/></div>
  <div class="goods-one__desc">
    <p class="goods-one__about">Блюдо "Филадельфия" было удалено из Вашего заказа. Если это произошло случайно - можно вернуть блюдо обратно.</p>
  </div>
  <div class="goods-one__side"><a class="btn _full-width _style_1 goods-one__add">Вернуть</a></div>
</div>