
<div class="ordering-form">
  <form>
    <h1>Добавление адреса доставки</h1>
    <div class="popup__user-body">
      <div onclick="return {'streetAutocomplete': {}}" class="ordering-form__body block2 js-widget">
        <div class="ordering-form__row">
          <div onclick="return {'select': {}}" class="select__wrap js-widget">
            <label class="label">Город</label>
            <select required="required" data-placeholder="Выберите станцию" class="_city select">
              <option value=""></option>
              <option value="1">Все рестораны Москвы</option>
              <option value="2">Все рестораны Москвы</option>
              <option value="3">Все рестораны Москвы</option>
              <option value="4">Все рестораны Москвы</option>
              <option value="5">Все рестораны Москвы</option>
            </select>
          </div>
          <div onclick="return {'select': {}}" class="select__wrap js-widget">
            <label class="label">Станция метро</label>
            <select required="required" data-placeholder="Выберите станцию" class="_metro select">
              <option value=""></option>
              <option value="1">Все рестораны Москвы</option>
              <option value="2">Все рестораны Москвы</option>
              <option value="3">Все рестораны Москвы</option>
              <option value="4">Все рестораны Москвы</option>
              <option value="5">Все рестораны Москвы</option>
            </select>
          </div>
        </div>
        <div class="ordering-form__row">
          <label class="label">Почтовый адрес: улица, дом</label>
          <input class="input _address"/>
        </div>
        <div class="ordering-form__row _quarter">
          <div class="input__wrap">
            <label class="label">Квартира</label>
            <input class="input _apart"/>
          </div>
          <div class="input__wrap">
            <label class="label">Подъезд</label>
            <input class="input _porch"/>
          </div>
          <div class="input__wrap">
            <label class="label">Домофон</label>
            <input class="input _intercom"/>
          </div>
          <div class="input__wrap">
            <label class="label">Этаж</label>
            <input class="input _floor"/>
          </div>
        </div>
        <div class="ordering-form__row align-left">
          <input type="checkbox" name="address" id="address" class="checkbox _big address"/>
          <label for="address" class="checkbox-label">Мой основной адрес</label>
        </div>
        <div class="ordering-form__row">
          <input type="submit" value="Сохранить" class="btn _style_3"/>
        </div>
      </div>
    </div>
  </form>
</div>