
<h2 class="h1 popup__title">Новый гость</h2>
<label class="label">Как зовут гостя?</label>
<input type="text" class="input _mb_2"/>
<label class="label">Выберите фото или аватар</label>
<div class="input__file _photo">Выбрать фото...
  <input type="file" class="input__file-input"/>
</div>
<p class="avatars">
  <input type="radio" name="checkbox1" id="avatar" class="radio"/>
  <label for="avatar" class="radio-label checkbox-label">1 </label>
  <input type="radio" name="checkbox1" id="avatar2" class="radio"/>
  <label for="avatar2" class="radio-label checkbox-label">2</label>
  <input type="radio" name="checkbox1" id="avatar3" class="radio"/>
  <label for="avatar3" class="radio-label checkbox-label">3</label>
  <input type="radio" name="checkbox1" id="avatar4" class="radio"/>
  <label for="avatar4" class="radio-label checkbox-label">4</label>
  <input type="radio" name="checkbox1" id="avatar5" class="radio"/>
  <label for="avatar5" class="radio-label checkbox-label">5</label>
  <input type="radio" name="checkbox1" id="avatar6" class="radio"/>
  <label for="avatar6" class="radio-label checkbox-label">6</label>
</p>
<input value="Добавить" type="submit" class="btn _style_4"/>