
<div class="ordering-form popup__card">
  <h1>Описание проблемы</h1>
  <div class="popup__user-body">
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Имя</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Фамилия</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Телефон</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Электронная почта</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <label class="label">Текст обращения</label>
      <textarea class="textarea"></textarea>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <input value="Отправить" type="submit" class="btn _style_4 _full-width"/>
      </div>
    </div>
  </div>
</div>