
<div class="popup__gratz">
  <div class="popup__gratz-side">
    <h2 class="popup__gratz-title">Поздравляем!</h2>
    <h3 class="popup__gratz-subtitle">Вы награждаетесь медалью за преданность!</h3>
    <p class="popup__gratz-desc">За ваш заказ Сельдереево-яблочного фреша, Секуе суши, Гюники. Благодарим  за преданность японской кухни  и нашему  ресторану.</p>
  </div>
  <div class="popup__gratz-medal">
    <div class="medal _big">
      <div class="medal__body"><img src="/images/gratz/medal_big.png"/></div>
      <div class="medal__ribbon">
        <div class="medal__ribbon-text">За преданность</div>
      </div>
    </div>
  </div>
  <div class="popup__gratz-share">
    <div class="label">Поделиться новостью с друзьями</div>
    <div class="social _auth">
      <div class="_facebook social__item"><a href="#" class="_facebook social__item-in"></a></div>
      <div class="_vk social__item"><a href="#" class="_vk social__item-in"></a></div>
      <div class="_ok social__item"><a href="#" class="_ok social__item-in"></a></div>
      <div class="_google social__item"><a href="#" class="_google social__item-in"></a></div>
      <div class="_mail social__item"><a href="#" class="_mail social__item-in"></a></div>
      <div class="_ya social__item"><a href="#" class="_ya social__item-in"></a></div>
    </div>
  </div>
</div>