
<div class="ordering-form popup__card">
  <h1>Регистрация карты</h1>
  <div class="popup__user-body">
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Имя</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Фамилия</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Дата рождения</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <label class="label">Телефон</label>
        <input class="input"/>
      </div>
      <div class="input__wrap">
        <label class="label">Электронная почта</label>
        <input class="input"/>
      </div>
    </div>
    <div class="ordering-form__row">
      <div class="input__wrap">
        <input value="Зарегистрировать" type="submit" class="btn _style_4 _full-width"/>
      </div>
    </div>
  </div>
</div>