
<table class="order-history__table">
  <thead>
    <tr>
      <th><span>Дата</span></th>
      <th>№ заказа</th>
      <th class="align-right"><span>Сумма </span><span class="rouble">Р</span>
      </th>
      <th><span>Статус</span></th>
      <th>Гости и блюда</th>
      <th><span>Ниямы</span></th>
    </tr>
    <tr>
      <th colspan="6" class="_top"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>28.05.2014</td>
      <td>292</td>
      <td class="align-right">2 839</td>
      <td>выполняется</td>
      <td>3/6</td>
      <td>будет начислено 35 ниям</td>
    </tr>
    <tr data-href="/cabinet_order.html">
      <td>24.02.2014</td>
      <td>245</td>
      <td class="align-right">2 750</td>
      <td>выполнен</td>
      <td>2/2</td>
      <td>начислено 560 ниям</td>
    </tr>
  </tbody>
</table>