!!! 5
//if IE 8
	html(class="ie8", lang="ru")
//if IE 9
	html(class="ie9", lang="ru")
//if gt IE 9
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title

		link(rel="stylesheet", href="css/main.css")

		//if IE 8
			script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
	body.page
		include ../_mixins
		include ../particial/top-index-promo

		block content

		include ../particial/bottom

		script(src="js/main.js")
