!!! 5
//if IE 8
	html(class="ie8", lang="ru")
//if IE 9
	html(class="ie9", lang="ru")
//if gt IE 9
html._light(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="viewport", content="width=device-width")
		title

		link(rel="stylesheet", href="css/main.css")

		//if IE 8
			script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
	body.page._light
		.page__wrap._light-2
			include ../_mixins
			header.page__header
				.page__container.clearfix
					.pull-left
						+logo
					.pull-right
						+feedback-light
						
			block content
		footer.page__footer._light
			.page__container.clearfix
				.page__footer-left
					+copyright




		script(src="js/main.js")