.adv-logo {
	display: inline-block;
	position: relative;
	font-size: 12px;
	margin-top: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.64);

	&:after {
		content: data-uri("../images/base64/adv.png");
		position: absolute;
		bottom: 0;
		right: -35px;

	}

	@media (max-width: @tablet) and (orientation: portrait) {
		position: absolute;
		margin: 0;
		bottom: 70px;
		left: 31px;
	}
}