.order__makeorder__button {
    padding: 14px 37px;
    text-align: center;
    width: 215px;
    font-weight: 500;
    color: #ffffff;
    line-height: 14px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #de411d;
    background-color: #de411d;
    height: 43px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bx_ordercart_order_pay_center {
    margin-top: 60px;
}

@media (max-width: 768px) {
    .bx_ordercart_order_pay_center {
        text-align: center;
    }
}

.order__descrirption {
    color: #fff;
}

.order__descrirption:focus {
    outline: none;
}

.errortext:before {
    content: "- ";
}