mixin select(label, sClass)
	//- .select__wrap
	.select__wrap(onclick="return {'select': {}}").js-widget
		if (label)
			label.label= label
		select(class= sClass || '', required, data-placeholder="Выберите станцию").select
			option(value="")
			option(value="1") Все рестораны Москвы
			option(value="2") Все рестораны Москвы
			option(value="3") Все рестораны Москвы
			option(value="4") Все рестораны Москвы
			option(value="5") Все рестораны Москвы

mixin select-mini()
	.select__wrap._mini(onclick="return {'select': {}}").js-widget
		select.select
			option 1
			option 2
			option 11
			option 12