    .catalog__section__description{
        font-size: 16px;
        color: white;
        text-align: justify;
    }

    .catalog__item__offers-block {
        display: flex;
        justify-content: center;
        width:230px;
        margin: 0 auto 0;
    }

    .catalog__item__offer {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 24px;
        font-size: 24px;
        color: gray;
        letter-spacing: 2px;
        box-sizing: border-box;
        align-items: center;
    }

    .catalog__item__price > div {
        text-align: center;
    }

    .catalog__item__offer--active {
        color: #FFFFFF;
    }

    .catalog__item__offer--active > .catalog__item__offer div span {
        color: #FFFFFF;
    }

    .catalog__item__offer--single > .catalog__item__price {
        text-align: center;
    }

    .catalog__item__price-weight {
        font-size: 12px!important;
    }

    .catalog__item__price-measure {
        font-size: 12px!important;
    }

    .height36 {height: 36px;}
    .catalog__item__size__left {
        -js-display: flex;
   display: flex;
        align-items: center;
    margin-top: 20px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    height: 43px;
    letter-spacing: 2px;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 3px solid #71752a;
    }

    .catalog__item__offer--active > .catalog__item__size {
        background-color: #71752a;
    }
    .catalog__item__offer--single {
        width: 100%;
       
    }

    .catalog__item__size--single{
        font-size: 24px;
        color: #fff;
    }

    .catalog__item__size.catalog__item__size--single{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        color: #fff;
        margin-top: 20px;
        font-size: 16px;
        height: 43px;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 3px solid #71752a;
        background-color: #71752a;
    }


    .catalog__item__length--singl{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        color: #fff;
        margin-top: 20px;
        font-size: 16px;
        height: 43px;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 3px solid #71752a;
        background-color: #71752a;
    }

    .catalog__item__length--singl img {
        height: 25px;
        margin: 0 10px;
        display: block;
    }
    .catalog__item__size__right {
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        color: #ffffff;
           font-size: 16px;
         height: 43px;
        letter-spacing: 2px;
        border-radius: 0px 200px 200px 0px;
        -moz-border-radius: 0px 200px 200px 0px;
        -webkit-border-radius: 0px 200px 200px 0px;
        border: 3px solid #71752a;
    }
    .catalog__item__size{
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        cursor:pointer;
        transition: 0.5s;
    }

    .catalog__item__size span {
        display: block;
    }

    .catalog__item__size img {
        margin: 0 10px;
        display: block;
        width: 18px;
    }
.catalog__item__price.catalog__item__price--singl {
    color: #fff;
    font-size: 20px;
    align-items: flex-end;
 }
