mixin goods-one()
	.goods-one
		.goods-one__img
			img(src="images/big-roll.png")
		.goods-one__desc
			h1.goods-one__title Филадельфия
			.goods-one__specs
				span.goods-one__specs-count 6шт 
				| 
				span.goods-one__specs-bullet &bull; 
				| 
				span.goods-one__specs-energy 300 ккал
				| 
				span.goods-one__specs-bullet &bull; 
				| 
				span.goods-one__specs-weight 240 г
			.goods-one__composition Лосось, сливочный сыр, авокадо
			p.goods-one__about Деликатный сливочный вкус роллам Филадельфия придает сочетание нежнейшего сливочного сыра с одноименным названием и свежего лосося. Роллы Филадельфия появились в США в 70-х годах минувшего века и изначально в составе которого была рыба, традиционно - водоросль нори и самый главный ингредиент - мягкий сыр Филадельфия. 
		.goods-one__side
			.goods-one__cart
				.goods-one__cost
					div.goods-one__sum 460 
						span.rouble Р
					div.goods-one__count
						+select-mini
				a.btn._full-width._style_1.goods-one__add в корзину
			+social__orange

