
    .catalog__cart--open__wrapper {
        background: url("images/cartbackground.jpg");
    }

    .catalog__cart__wrapper {
        padding: 30px 0;
        font-family: "Museo Sans Cyrl 700";
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 2px solid #ffffff;
        margin: 0 25px;
    }

    .catalog__cart__wrapper__item {
        text-align: center;
        align-content: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .catalog__cart__item.catalog__cart__title {
        flex: 1;
    }

    .catalog__cart__item.catalog__cart__price {
        font-size: 30px;
        line-height: 25px;
        width: 100px;
        margin: 0 40px;
    }

    .catalog__cart__item.catalog__cart__price span {
        font-size: 30px;
    }

    .catalog__cart__item.catalog__cart__count {
        width: 35px;
        margin: 0px 10px;
    }

    .catalog__cart__item {
        line-height: 35px;
    }

    .catalog__cart__countplus {
        text-align: center;
        font-size: 36px;
        line-height: 25px;
        width: 36px;
        height: 36px;
        background: url("images/cirlceorder.png");
        background-repeat: no-repeat;
        display: block;
    }

    .catalog__cart__countminus {
        text-align: center;
        line-height: 35px;
        width: 36px;
        height: 36px;
        background: url("images/cirlceorder.png");
        background-repeat: no-repeat;
        display: block;
    }

    .catalog__cart__wrapper:last-child {
        border-bottom: none;
    }

    .catalog__cart__itogo {
        color: #fff;
        font-size: 30px;
    }

    .order__price__block__itogo {
        text-align: right;
        font-family: "Museo Sans Cyrl 700";
        color: #ffffff;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 200px;
    }

    .order__price__block__price {
        font-size: 32px;
    }

    .order__price__block__promo {
        width: 220px;
        margin-right: 185px;

    }

    .order__price__block__promo__title {
        font-family: "Museo Sans Cyrl 300";
        font-size: 16px;
        color: #FFFFFF;
    }

    .order__price__input {
        width: 210px;
        height: 35px;
        padding: 10px;
        background-color: transparent;
        /*border-radius: 0px 0px 03px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;*/
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    .order__price__input__button {
        margin-top: 23px;
        text-align: center;

        width: 210px;
        font-family: "Museo Sans Cyrl 500";
        color: #ffffff;

        line-height: 12px;

        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #ffffff;
        background-color: #71752a;
        height: 54px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .order__price__block {
        display: flex;
        justify-content: flex-end;
        margin-top: 200px;
    }