div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	max-width: 633px;
	width: 100%;
	max-height: 318px;
	margin: auto;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.news-list {
	word-wrap: break-word;
	max-width: 700px;
	margin: auto;
}

.news-date-time {
	color:#486DAA;
}
.new_list__promos__name {
	color: #fff;
	margin-top: 70px;
	margin-bottom: 10px;
	font-size: 22px;


}
.new_list__promos__text{
	color: #fff;
}

a.news_list__link {
	text-decoration: underline;
	margin-bottom: 5px;
}

a.news_list__link:visited{
	text-decoration: underline;
}

a.news_list__link:active{
	text-decoration: underline;
}

a.news_list__link:hover{
	text-decoration: underline;
}

.promos__text {
	margin-bottom: 50px;
}