.goods {
	position: relative; // для абсолютно спозиционированных детей
	border: 2px solid transparent;
	border-radius: 15px;
	width: 214px;

	.owl-carousel .owl-wrapper-outer {
		border-radius: 0;

		.goods__add-btn {
			bottom: 2px;
		}
	}

	.select__wrap {
		position: absolute;
		right: 11px;
		bottom: 17px;
		z-index: 6;
	}

	&.ui-draggable-dragging {
		z-index: 1000;
		width: 214px;
		border: 2px  @grey solid;
		position: fixed !important;

		&._order {
			z-index: 1000;
			width: 284px;
			border: 2px  @grey solid;
			position: fixed !important;
		}
	}

	&._table {
		float: left;
		height: 306px;
		margin: 10px 18px;
		margin-left: 0px;
		margin-bottom: 60px;
		border: none;
		border-radius: 15px;
		text-decoration: none;
		color: #000;
		background: #fff;
		position: relative;

		&:hover {
			border-color: transparent;
		}

		// &:nth-child(5n + 1) {
		// 	clear: left;
		// }
	}

	&._table & {
		&__add-btn {
			display: block;
		}
	}

	&._auction {
		background: none;
		text-align: center;

		&:before {
			content: '';
			background: data-uri("../images/base64/stripe.png");
			position: absolute;
			width: 160px;
			height: 28px;
			top: 19px;
			left: 0px;
			right: 0px;
			margin: auto;
			z-index: 6;
		}
	}

	&__static-count {
		position: absolute;
		bottom: 20px;
		right: 16px;
		z-index: 5;
		color: @brown;
		font-size: 20px;
		font-weight: bold;
	}

	&._auction & {

		&__wrap {
			background: none;
		}

		&__image {
			border-radius: 50%;
			overflow: hidden;
			height: 185px;
			background: white;
			width: 185px;
			margin: 0 auto;

			img {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				width: 90%;
				border-radius: 50%;
			}
		}

		&__desc {
			margin-top: 41px;
		}

		&__name {
			color: white;
			margin: 0px 0px 20px 0px;
		}

		&__composition {
			color: #ddb89f;
			margin: -14px 0px -8px 0px;
			height: 36px;

			&:after {
				content: none;
			}
		}

		&__cost {
			color: #fff;
			width: 100%;


		}

		&__add-btn {
			display: block;
			font-weight: 700;
			left: 0;
			right: 0;
			margin: auto;
			width: 130px;
			top: -44px;
			bottom: auto;
		}
	}

	&._by-coupon {

		&:before {
			content: '';
			width: 110px;
			height: 24px;
			position: absolute;
			background: data-uri("../images/base64/good_by_coupon.png");
			top: -5px;
			left: 11px;
			z-index: 6;
		}
	}

	&__wrap {
		position: relative;
		z-index: 5;
		padding: 3px 11px 17px;
		border-radius: 15px;
		background: #fff;

		.owl-controls {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -31px;
			text-align: center;
			display: none !important;;
		}

		.owl-pagination {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
		}

		.owl-page {
				display: inline-block;
				margin: 0;
				width: 15px;
				margin: 0 4px;
				text-align: center;

			span {
				cursor: pointer;
				display: inline-block;
				vertical-align: top;
				width: 11px;
				height: 10px;
				background: data-uri("../images/base64/goods__change_dot.png");
			}


			/* МОДИФФИКАТОРЫ
			-------------------------------------- */
			/* current */
			&.active  span {
				width: 15px;
				height: 14px;
				background: data-uri("../images/base64/goods__change_dot_active.png");
			}
		}
	}

	&__item {
		height: 286px;

		&._disabled {
			opacity: 0.6;
		}
	}

	&__not-in-menu {
		display: none;
		background: #d53a06;
		border-radius: 5px;
		white-space: nowrap;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		height: 35px;
		line-height: 36px;
		position: absolute;
		bottom: 16px;
		z-index: 7;
		width: 196px;
		margin: auto;
		right: 0;
		left: 0;
	}

	&__change {
		position: absolute;
		display: none;
		z-index: 4;
		background-color:  rgba(90, 35, 0, 0.8);
		border-radius: 20px;
		top: -10px;
		left: -11px;
		right: -11px;
		bottom: -55px;

		&-next, &-prev, &-dots, &-text {
			position: absolute;
			z-index: 1;
		}

		&-text {
			bottom: 30px;
			text-align: center;
			width: 100%;
			color: white;
			font-size: 13px;
			font-weight: 400;
			line-height: 16px;
			z-index: 0;
		}

		&-next, &-prev {
			cursor: pointer;
			bottom: 21px;
			width: 11px;
			height: 16px;
		}
		
		&-next {
			right: 10px;
			background: data-uri("../images/base64/goods__change_next.png") no-repeat;
		}

		&-prev {
			left: 13px;
			background: data-uri("../images/base64/goods__change_prev.png") no-repeat;
		}

		&-dots {
			width: 100%;
			bottom: 0px;
			text-align: center;
			display: none;

			span {
				cursor: pointer;
				display: inline-block;
				vertical-align: top;
				margin: 0 6px;
				width: 11px;
				height: 10px;

				background: data-uri("../images/base64/goods__change_dot.png");

				&._active {
					width: 15px;
					height: 14px;
					background: data-uri("../images/base64/goods__change_dot_active.png");
				}
			}
		}
	}


	&__image {
		position: relative;
		top: 10px;
		height: 171px;

		img {
			width: 100%;
			max-height: 170px;
		}

		&.fancybox {
			cursor: pointer;
		}

		._order & {
			height: auto;
		}
	}


	&__desc {
		position: relative; // для абсолютно спозиционированных детей

		margin: 8px 4px 3px;
		padding: 0 0 2px;

		& a {
			text-decoration: none;
		}
	}


	&__name {
		margin: 0 0 5px;
		text-transform: none;
		font-size: 18px;
		font-weight: normal;
		line-height: 1;
	}
	

	&__composition {
		margin: 0 0 9px;
		// min-height: 40px;
		// max-height: 66px;
		height: 66px;

		font-size: 14px;
		line-height: 16px;
		color: #8d8d8d;

		overflow: hidden;
		position: relative;

		&:after {
			content: "";
			width: 100%;
			height: 9px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 100%)
		}
	}
	

	&__cost {
		padding: 0 0 0 4px;
		padding: 0;

		font-size: 20px;
		font-weight: 700;
		color: @brown;

		.rouble {
			// font-size: 15px;

			&:after {
				margin-top: 0px;
			}
		}

		&._old {
			line-height: 0;
			font-size: 14px;
			font-weight: 100;
			text-decoration: line-through;
			opacity: 0.8;
			height: 0;
			margin-top: 3px;
			margin-bottom: -3px;

			.rouble {
				// font-size: 14px;
			}
		}
	}
	

	&__add-btn {
		position: absolute;
		right: 0;
		bottom: 0;

		display: none;

			&.__disabled {
				z-index: -100;
				opacity: .2;
			}
	}


	&__num {
		position: absolute;
		top: 11px;
		right: 11px;

		display: none;
		padding: 0 6px;

		font-size: 14px;
		line-height: 27px;
		color: #514e4a;

		border-radius: 4px;
		background: #ede5dc;
	}

	&__sheff {
		position: absolute;
		top: 11px;
		left: 11px;
		width: 29px;
		height: 29px;
		right: auto;
		font-size: 0;
		background: data-uri("../images/base64/sheff.png");
	}

	&__remove {
		position: absolute;
		display: none;
		top: 15px;
		right: 15px;
		height: 13px;
		width: 13px;
		z-index: 6;
		cursor: pointer;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAARVBMVEVaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwBaIwD////ReIIEAAAAFXRSTlMAe4MBmmKCnP0CtAaetZuBn7YDmX+uhSErAAAAAWJLR0QWfNGoGQAAAFxJREFUCNc1zVsWgCAIBFDMykx7qex/q81A8eHxHmAQkTAJK84L3qC6Ekm3RfKuJKCaRIqRqBkz5VArw88PvmNRxOmTl9/B736chtqKM3YCUeBAsxPksMXmabjwAk7CBrVnZgRUAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA1LTIwVDA4OjM4OjIxKzAwOjAw+Aoo4wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNS0yMFQwODozODoyMSswMDowMIlXkF8AAAAASUVORK5CYII=);
		background-repeat: no-repeat;
	}

		&._order {
			width: 100%;

			&:hover {
				border-color: transparent;
			}
		}

		&._order & {

			&__image {
				float: left;
				width: 110px;
				margin-right: 10px;

				@media (max-width: @tablet) and (orientation: portrait) {
					width: 40%;
					margin-right: 15px;
				}
			}

			&__wrap {
				&:extend(.clearfix all);
				padding: 10px;

				@media (max-width: @tablet) and (orientation: portrait) {
					padding-bottom: 15px;
				}
			}

			&__num {
				display: none;
			}

			&__add-btn {
				display: block;
				right: 36px;
				font-size: 12px;
				bottom: auto;

				@media (max-width: @tablet) and (orientation: portrait) {
					right: auto;
					margin-left: 15px;
					left: 40%;
				}
			}

			&__change {
				display: none;
			}

			&__remove {
				display: none;
			}
		}


	/* 
	-------------------------------------- */

	@media screen and (min-width: 1025px) {
		/* hover */
		&:hover {
			border-color: @grey;

			.owl-controls {
				display: block !important;
			}
		}


		&:hover & {
			&__num {
				display: block;
			}

			&__add-btn {
				display: block;
			}

			&__change {
				display: block;
			}

			&__remove {
				display: block;
			}

		}
	}

	@media screen and (max-width: 1024px) { 
		// &:hover {
		// 	border-color: @grey;
		// }


		& {
			&__num {
				display: block;
			}

			&__add-btn {
				display: block;
			}

			&__change {
				display: block;
			}

			&__remove {
				display: block;
				width: 26px;
				height: 26px;
				background-position: center;
				top: 8px;
				right: 8px;
				z-index: 5;
			}

			.owl-controls {
				display: block !important;;
			}
		}
	}
}