mixin goods(link)
	.goods
		.goods__wrap
			.goods__image.fancybox(href="/_popup_goods.html", data-fancybox-type="ajax", data-fancybox-group="goods")
				img(src=link)
			.goods__desc
				.goods__composition
					h2.goods__name Филадельфия
					| Лосось, сливочный сыр, авокадо
				.goods__cost 460 
					span.rouble Р 
				.goods__add-btn.btn В корзину
			.goods__num 6 шт.

mixin goods-order(link)
	.goods._order
		.goods__wrap
			.goods__image
				img(src=link)
			.goods__desc
				h2.goods__name Секуе Эби
				.goods__cost 215 
					span.rouble Р 
				.goods__add-btn.btn(data-id="123") Добавить