mixin control-form()
	.control-form
		.control-form__side
			h2 Заявка по телефону
			.control-form__tel +7 495 781-781-9
			p В рабочие дни мы готовы принять ваш отзыв по телефону 
				b до 19:00. 
				| В выходные дни заявки принимаются 
				b до 17:00.
			.control-form__promises
				h2 Наши гарантии
				p Мы гарантируем, что ваша заявка будет обработана. 
					br
					| По каждой заявке мы проводим собственное расследование.
				p Если на вашу заявку не отреагировали в течение двух дней — вы получите персональную карту постоянного гостя со скидкой 5%.
			
		.control-form__main
			h2 Заявка в электронном виде
			form
				label.label._lite Представьтесь
				input.input

				label.label._lite Что произошло?
				textarea.textarea

				label.label._lite Где это произошло?
				+select

				label.label._lite Когда?
				input.input(onclick="return {'inputDate': {}}").js-widget

				label.label._lite Контактный телефон
				input.input

				label.label._lite Электронная почта
				input.input

				input.btn._style_1(type="submit", value="Отправить") 
