mixin achievements()
	.achievements.pull-left

		.achievements__title МОИ ДОСТИЖЕНИЯ

		.achievements__bar
			a.achievements__link._one
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Чизкейк 
					br
					| За регистрацию
			a.achievements__link._two
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Скидка 5%
					br
					| на новый заказ
			a.achievements__link._three
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Карта 5%
			a.achievements__link._four
				span.achievements__tooltip При регистрации на нашем сайте мы дарим Вам чизкейк в подарок.
				span Следующий
					br
					| уровень
			.achievements__bar-progress
