.ordering-form {
	background: #FFF;
	padding: 58px 439px 60px 64px;
	border-radius: 20px;
	position: relative;

	.question {
		max-width: 350px;
		position: relative;
		top: 3px;
		text-align: left;

		& a {
			white-space: nowrap;
		}
	}

	.align-left .question {
		top: 9px;
		margin-left: 14px;
		width: 350px;
	}

	label.label {
		margin-bottom: 1px;
	}

	input.input {
		height: 51px;
		font-size: 20px;
		font-weight: 700;

		&._address {
			position: relative;
			z-index: 10;
		}
	}

	& .metro-error input {
		border-color: #c00;
	}

	input[type="submit"] + .question {
		margin-left: 29px;
		width: 354px;
	}

	&__comment {
		padding-bottom: 35px;

		@media (max-width: @tablet) and (orientation: portrait) {
		}

		.textarea {
			height: 80px;
		}
	}

	@media (max-width: @tablet) and (orientation: portrait) {
		padding: 31px 44px 60px 34px;
		border-radius: 20px;
		position: relative;
		width: 60%;
	}

	.fancybox-wrap & {
		max-width: 800px;
		padding: 20px 30px 15px;
		background: none;
		padding-right: 0;
		height: 100%;

		form {
			height: 100%;
		}
	}

	&__desc {
		display: none;

		line-height: 10px;
		margin-top: 29px;

		padding-top: 5px;
	}

	.btn {
		margin-left: 0px;
		margin-bottom: 0;
	}

	&._thanks {
		padding: 50px 70px;
		padding-bottom: 33px;
		font-size: 18px;

		p {
			margin-bottom: 7px;
		}

		.coupon {
			top: 0;
			cursor: default;

			&:nth-child(odd) {
				margin-right: 39px;
			}
		}

		@media (max-width: @desktop) {
			text-align: center;
			padding: 50px 40px;

			h2 span {
				display: block;
				margin-top: 5px;
			}
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			margin: 0 auto;
		}
	}

	&._thanks & {
		&__coupons {
			margin-top: 66px;

			&-title {
				color: @orange;
				margin-bottom: 28px;

				span {
					text-transform: none;
					color: black;
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}

	.ui-autocomplete-loading {
		background: data-uri('../images/ajax-loader.gif') right 15px center no-repeat;
	}


	&__autocomplete {
		// margin-left: -2px;
		// margin-top: -9px;
		border-width: 0px 2px 2px;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-right-color: @input-border;
		border-bottom-color: @input-border;
		border-left-color: @input-border;
		padding: 11px 0;
		padding-top: 15px;
		border-radius:  0 0 15px 15px;
		z-index: 9999;
		position: absolute;
		background: white;

		&._toppest {
			z-index: 8020;
		}

		& > div {
			max-height: 325px;
			overflow: auto;
		}

		// border-bottom: 21px #bfae99 solid;
		// border-top: 21px #FFFFFF solid;

		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// 	height: 11px;
		// 	background: #FFF;
		// 	border-radius:  0 0 15px 15px;
		// }

		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	height: 11px;
		// 	border-right: 2px solid @input-border;
		// 	border-left: 2px solid @input-border;
			
		// }

		.ui-menu-item {
			background: #FFF;
			font-family: @arimo;
			font-size: 18px;

			.ui-corner-all {
				padding-top: 5px;
				padding-bottom: 4px;
				padding-left: 18px;

				&.ui-state-focus {
					background: #efe7dd;
					border: none;
					border-radius: 0;
					margin: 0;
					color: #000;
				}
			}
		}
	}

	&__social {
		margin-top: 27px;
		margin-bottom: -105px;
		text-align: center;

		.social._auth {
			padding-top: 15px;
		}

		._light & {
			margin-bottom: 0;
		}
	}

	// min-height: 1000px;

	&__side {
		position: absolute;
		top: 88px;
		right: 6%;
		width: 293px;

		@media (max-width: @tablet) and (orientation: portrait) {
			position: absolute;
			right: -300px;
			top: 13px;
			background: none;
		}

		.order {
			background: @brown-extralight;
			padding: 16px 10px 31px 24px;
			border-radius: 15px;

			&__bonus {
				margin-top: 10px;
				margin-bottom: -5px;
			}

			&__add {
				margin-top: 20px;

				.label {
					margin-bottom: 16px;
				}

				.order__add-carousel {
					width: 284px;
					margin: 0 auto;

					&:before {
						top: -4px;
						bottom: -4px;
						border-radius: 15px;
					}

					&:after {
						content: none;
					}

					.goods._order {
						.goods__name {
							margin: 0 0 0px;
						}

						.goods__add-btn {
							position: static;
							display: inline-block;
							margin-top: 4px;
							margin-left: 2px;
							font-weight: bold;
							padding: 7px 8px;
						}

						.goods__wrap {
							padding: 15px;
							padding-bottom: 17px;
							padding-right: 5px;
							border-radius: 10px;
						}

						.goods__image {
							float: left;
							width: 110px;
							margin-right: 6px;
							top: 4px;
						}
					}

				}
			}

			&__embargo {
				margin-top: 30px;
				padding: 19px;
				padding-left: 59px;
				padding-bottom: 18px;
				border-radius: 15px;
				color: white;
				font-size: 15px;
				line-height: 20px;
				background: #f39200 no-repeat data-uri("../images/base64/order__embargo.png");
				background-position: 24px 21px;

			}
		}

	}

	&__counter {
		position: absolute;
		left: 1px;
		top: 5px;
		width: 47px;
		height: 47px;

		border-radius: 50%;
		background: #f0e8de;
		font-family: @europec;
		color: rgba(90, 35, 0, 0.4);
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		line-height: 45px;
		padding-right: 2px;

		& + .ordering-form__title {
			opacity: 0.6;
		}

		&._orange {
			background: @orange;
			color: #fff;

			& + .ordering-form__title {
				opacity: 1;
			}
		}
	}

	&__title {
		font-family: @europec;
		font-weight: normal;
		font-size: 26px;
		line-height: 100%;
	}

	&__edit {
		position: absolute;
		margin: -15px 0px 0px 21px;
		padding: 9px 24px 13px 51px;
		background: @brown-extralight;
		border-radius: 15px;
		font-family: @arimo;
		color: #000;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-transform: capitalize;
		cursor: pointer;
		display: none;

		&._visible {
			display: inline-block;
		}

		&:before {
			content: '';
			position: absolute;
			left: 14px;
			top: 9px;
			height: 27px;
			width: 27px;
			background: data-uri("../images/base64/ordering-form__edit.png");
		}

		span {
			border-bottom: 1px dotted black;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			font-size: 0;
			padding: 20px 44px 1px 1px;
			border-radius: 50%;
			margin-left: 12px;
			margin-top: -11px;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	&__body {
		overflow: visible;
		margin-top: 0;

		@media (max-width: @desktop) {
			margin-top: 0;
		}

		&.block3 {
			@media (max-width: @tablet) and (orientation: portrait) {
				margin-right: -30px;
			}
		}
	}

	&__step {
		position: relative;
		padding-left: 64px;
		padding-top: 16px;
		padding-bottom: 20px;

		& + & {
			border-top: 2px dashed @social-border;
			padding-top: 43px;
		}
	}

		&__step + &__step &__body {
			display: none;
		}

		&__step + &__step &__counter {
			top: 30px;
		}


	&__col {
		display: inline-block;
		vertical-align: top;
	}

	&__row, .row {
		margin-bottom: 20px;
		margin-bottom: 1px;
		text-align: justify;
		line-height: 1.5;

		&#iscash {
			text-align: left;

			@media (max-width: @desktop) {
				.input__wrap {
					width: 100%;
				}
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				width: 95%;
			}
		}

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
			font-size: 0;
		}

		.select {
			height: 51px;
		}

		.__addresses .select {
			border: 0;
			background: #f99300;
			background: linear-gradient(to bottom, #ffa200, #f38300);
			box-shadow: inset 0 -3px 0 rgba(162,77,1,.75);
		}


		.__addresses .chosen-container-single .chosen-drop {
			border-radius: 5px 5px 10px 10px;
		}

		.chosen-container-single .chosen-single span {
			font-size: 20px;
			line-height: 48px;
			color: black;
			font-weight: 700;
		}

		.__addresses .chosen-container-single .chosen-single span {
			color: #fff;
		}

		.chosen-container-single .chosen-single div {
			padding: 20px;
		}

		.__addresses .chosen-container-single .chosen-single div b {
			border-top-color: #fff;
		}

		.chosen-container-active.chosen-with-drop .chosen-single div {
			padding-top: 10px;
		}

		.__addresses .chosen-container-active.chosen-with-drop .chosen-single div b {
			border-top-color: transparent;
			border-bottom-color: #fff;
		}

		.chosen-container-single .chosen-default span {
			color: #999;
		}

		.chosen-container-single.chosen-container-error {
			border-color: #c00;

			.chosen-default span {
				color: #B94A48;
			}
		}

		.input__wrap, .select__wrap {
			display: inline-block;
			width: 48%;
			vertical-align: top;

			&._hidden {
				display: none;
			}

			&.__addresses {
				width: 100%;
			}
			&._street-wrap {
				width: 74%;
			}
			&._house-wrap {
				width: 23%;
			}

			@media (max-width: @desktop) {
				.block1 &, .block2 & {
					width: 100%;
					display: block;

					&._hidden {
						display: none;
					}

					& + .input__wrap, & + .select__wrap {
						margin-top: 20px;
					}
				}
			}
		}

		&._quarter {
			@media (max-width: @desktop) {
				.block2 & {
					margin-top: -20px;
				}
			}
			

			.input__wrap, .select__wrap {
				width: 23%;

				@media (max-width: @desktop) {
					width: 47%;
					display: inline-block;
					margin-top: 20px;
				}
			}
		}

		&._certain {
			text-align: left;
			margin-bottom: -40px;

			.select__wrap {
				width: 160px;
				margin-right: 15px;
				vertical-align: top;

				.chosen-container .chosen-results {
					max-height: 125px;
				}

				.chosen-container-single .chosen-single span {
					font-size: 16px;
				}
			}

			.input__wrap {
				width: 200px;
				vertical-align: top;

				.input {
					display: block;
					width: 115px;
					margin-bottom: 16px;
					font-size: 16px;
				}
			}
		}
		
		.btn {
			.block2 & {
				margin: 0;
			}
		}

		@media (max-width: @desktop) {
			.block1 &, .block2 &  {
				margin-bottom: 0;
			}

			.btn {
				.block1 & {
					margin-top: 20px;
				}

				.block2 & {
					margin: 0;
				}
			}
		}

		&._other-txt {
			font-size: 14px;
			color: #5f5f5f;
			text-align: left;
			margin-top: -20px;

			& span {
				color: #000;
			}
		}
	}

	&__table {
		width: 100%;
		margin-top: 127px;
		margin-bottom: 50px;

		td {
			width: 25%;
		}

		@media (max-width: @desktop) {
			display: block;
			margin-top: -20px;

			td {
				display: inline-block;
				width: 50%;
				margin-top: 125px;
			}
		}
	}

	&__radio {

		&[type="radio"] + label.radio-label.checkbox-label {
			position: relative;
			line-height: 22px;

			.ordering-form__payment-img {
				-o-transition: background 150ms, border 150ms;
				-ms-transition: background 150ms, border 150ms;
				-moz-transition: background 150ms, border 150ms;
				-webkit-transition: background 150ms, border 150ms;
				transition: background 150ms, border 150ms;

				position: absolute;
				top: -101px;
				left: 0;

				background: -webkit-linear-gradient(90deg, #f2ece3 0%, #ffffff 76%);
				background: -moz-linear-gradient(90deg, #f2ece3 0%, #ffffff 76%);
				background: -o-linear-gradient(90deg, #f2ece3 0%, #ffffff 76%);
				background: -ms-linear-gradient(90deg, #f2ece3 0%, #ffffff 76%);
				background: linear-gradient(0deg, #f2ece3 0%, #ffffff 76%);
				border-radius: 10px;
				width: 140px;
				height: 83px;

				border: 1px solid @input-border;
				border-bottom: 3px solid @input-border;

				img {
					// display: none;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;

					max-width: 90%;
				}

				@media (max-width: @desktop) {
					width: 174px;
				}

				@media (max-width: @tablet) and (orientation: portrait) {
					width: 136px;
				}
			}
		}

		&[type="radio"]:checked + label.radio-label {
			font-weight: 700;

			.ordering-form__payment-img {
				background: -webkit-linear-gradient(-90deg, #f2ece3 0%, #ffffff 76%);
				background: -moz-linear-gradient(-90deg, #f2ece3 0%, #ffffff 76%);
				background: -o-linear-gradient(-90deg, #f2ece3 0%, #ffffff 76%);
				background: -ms-linear-gradient(-90deg, #f2ece3 0%, #ffffff 76%);
				background: linear-gradient(180deg, #f2ece3 0%, #ffffff 76%);
				border-radius: 10px;

				border: 1px solid @input-border;
				border-top: 3px solid @input-border;

				img {
					top: 2px;
				}
			}
		}

	}

}

#deliverytype {
	margin-bottom: 0;
}
