.medal {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	margin-bottom: 37px;
	width: 185px;
	height: 190px;

	width: percentage(1/3);

	&__body {
		width: 152px;
		height: 152px;
		line-height: 152px;
		display: inline-block;

		&._empty {
			background-color: rgba(255, 255, 255, 0.3);
			border-radius: 50%;
			border-width: 2px;
			border-color: #ffffff;
			border-style: dashed;
		}

		img {
			position: absolute;
			top: -4px;
			left: 0;
			right: -2px;
			bottom: 0;
			margin: 0 auto;
			width: 161px;
		}
	}

	&__desc {
		display: inline-block;
		width: 100%;
		padding: 0 13px;
		text-align: center;
		vertical-align: middle;
		font-family: @arimo;
		color: #2b2b2b;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	&__ribbon {
		position: absolute;
		bottom: 11px;
		left: 50%;
		margin-left: -87px;
		width: 174px;
		height: 43px;

		background: data-uri('../blocks/composite/medal/images/ribbon.png');
		line-height: 43px;
		padding: 0 20px;
		padding-top: 5px;

		&-text {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			text-transform: uppercase;
			text-align: center;
			font-family: @arimo;
			color: @brown;
			font-size: 10px;
			font-weight: 700;
			line-height: 13px;
		}
	}

	&._big {
		width: 251px;
		height: 258px;
		margin-bottom: 58px;
	}

	&._big & {

		&__body {
			width: 235px;
			height: 235px;
			line-height: 235px;
			display: inline-block;

			img {
				position: absolute;
				top: -4px;
				left: 0;
				right: -2px;
				bottom: 0;
				margin: 0 auto;
				width: 229px;
			}
		}

		&__ribbon {
			width: 250px;
			height: 63px;
			bottom: 4px;
			margin-left: -125px;
			padding: 0 30px;
			padding-top: 13px;
			line-height: 49px;
			background: data-uri('../blocks/composite/medal/images/ribbon_big.png');

			&-text {
				font-size: 14px;
				line-height: 15px;
			}
		}
	}
}