mixin medal(desc, ribbon)
	.medal
		.medal__body._empty
			.medal__desc= desc
		.medal__ribbon
			.medal__ribbon-text= ribbon


mixin medal_img(desc, ribbon, src)
	.medal
		.medal__body
			img(src=src)
		.medal__ribbon
			.medal__ribbon-text= ribbon

mixin medal_big(desc, ribbon, src)
	.medal._big
		.medal__body
			img(src=src)
		.medal__ribbon
			.medal__ribbon-text= ribbon