mixin coupon(cClass)
	a.fancybox.coupon._style_1(class= cClass || '', data-id="3", data-fancybox-href="/_popup_coupon.html", data-fancybox-type="ajax")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left 3 000
			.coupon__title-right НИЯМ
			.coupon__title-center
				.coupon__badge._nyam
		p.coupon__desc 100 ниям = 1р Воспользуйтесь при оплате любого заказа

mixin coupon_2(cClass)
	.coupon._style_2(class= cClass || '', data-id="3")
		.coupon__add В КОРЗИНУ
		.coupon__pic
			img(src="/images/coupons/coupon_goods-1.jpg").coupon__pic-img.pull-left
			img(src="/images/coupons/coupon_goods-2.jpg").coupon__pic-img.pull-right
			.coupon__pic-price
				span.coupon__pic-price-actual 390
					+rouble
				span.coupon__pic-price-old 520
					+rouble
		.coupon__info
			.coupon__title Апельсиновый фреш в подарок
			p.coupon__desc При заказе роллов Филадельфия

mixin coupon_3()
	.coupon._style_3(data-id="3")
		.coupon__add В КОРЗИНУ
		.coupon__pic
			img(src="/images/coupons/coupon_goods-3.jpg").coupon__pic-img 
			.coupon__pic-price
				span.coupon__pic-price-actual 200
					+rouble
				span.coupon__pic-price-old 290
					+rouble
		.coupon__info
			.coupon__title Еще выгоднее!
			p.coupon__desc Ваш любимый суп Том Ям по очень привлекательной цене

mixin coupon_4(cClass)
	.coupon._style_1(class= cClass || '', data-id="4")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left 500
			.coupon__title-right рублей
			.coupon__title-center
				.coupon__badge._gift
		p.coupon__desc Воспользуйтесь при оплате любого заказа


mixin coupon_5(cClass)
	.coupon._style_1(class= cClass || '', data-id="5")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left разовая
			.coupon__title-right скидка
			.coupon__title-center
				.coupon__badge._percent 
					span 3
						sup %
		p.coupon__desc Воспользуйтесь при оплате любого заказа


mixin coupon_6(cClass)
	.coupon._style_4(class= cClass || '', data-id="6")
		.coupon__add В КОРЗИНУ
		.coupon__title 
			.coupon__title-left
				.coupon__title-left-top постоянная 
				.coupon__title-left-bottom скидка
			.coupon__title-right
				img(src="/images/coupons/coupon_card.png")
			.coupon__title-center
				.coupon__badge._percent 
					span 5
						sup %

mixin coupon_img(cClass)
	.coupon._image(class= cClass || '', data-id="6")
		.coupon__add В КОРЗИНУ
		img(src='/images/coupon.png')
		img(src='/images/coupon_vert.png')

