mixin badge_one()
	.badge._presentation
		.badge__text
			a(href="#").badge__link Презентация компании
			br
			.badge__desc pdf (34 Кб)

mixin badge_one_orange()
	.badge._presentation-2
		.badge__text
			a(href="#").badge__link О франшизе
			br
			.badge__desc pdf (218 Кб)

mixin badge_franchise()
	.badge._franchise
		img(src="/images/franchise_badge.png")
		a(href="#").badge__link 
			span.badge__link-text Диплом.pdf
			| 
			span.badge__link-size  (415 Кб) 

mixin badge_menu()
	.badge._menu
		.badge__text
			a(href="#").badge__link Меню ресторана
			br
			.badge__desc pdf(34 Кб)

mixin badge_two()
	.badge._rests
		.badge__text
			a(href="#").badge__link Наши рестораны
			br
			.badge__desc более 20 ресторанов

mixin badge_three()
	.badge._features
		.badge__text
			a(href="#").badge__link Особенности интерьера
			br
			.badge__desc атмосфера хорошего 
				br 
				| настроения и ненавязчивый уют