.badge {
	width: 180px;
	height: 165px;
	margin-bottom: 40px;
	position: relative;

	&__text {
		position: absolute;
		bottom: 12px;
		padding-left: 15px;
		line-height: 19px;
	}

		&__link {
			font-size: 14px;
		}

		&__desc {
			font-size: 13px;
		}

	&._presentation, &._menu {
		margin-left: 108px;
		margin-top: 4px;
		background: data-uri("../images/badge_1.png");
	}

		&._presentation &, &._menu &, &._presentation-2 & {
			
			&__link {
				color: #FFF;
			}

			&__text {
				color: rgba(255, 255, 255, 0.8);
			}
		}

	&._franchise {
		text-align: center;
	}

	&._franchise & {
		
		&__link {
			text-decoration: none;

			&-text {
				text-decoration: underline;
			}

			&-size {
				color: #737373;
			}
		}

	}

	&._presentation-2 {
		background: data-uri("../images/badge_1a.png");
	}

	&._menu {
		margin-left: 0;
	}

	&._rests {
		margin-left: 108px;
		background: data-uri("../images/badge_2.png");
	}

		&._rests & {
			
			&__link {
				font-size: 14px;
			}

			&__text {
				color: rgba(0, 0, 0, 0.7);
			}
		}

	&._features {
		width: 240px;
		height: 300px;
		margin-left: 76px;
		background: url(../images/badge_3.png);
		background-repeat: no-repeat;
	}

		&._features & {
			&__text {
				color: @grey-common;
				bottom: 15px;
				padding-left: 34px;
			}
		}


}