@font-face {
	font-family: 'arimo';
	src: url('@{font-path}arimo-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'arimo';
	src: url('@{font-path}arimo-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'arimo';
	src: url('@{font-path}arimo-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'arimo';
	src: url('@{font-path}arimo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// @font-face {
// 	font-family: 'europec';
// 	src: url('@{font-path}europec-bold-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'europec';
// 	src: url('@{font-path}EuropeExt_Bold.Ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: normal;
// }


// @font-face {
// 	font-family: 'europec';
// 	src: url('@{font-path}europec-bolditalic-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: italic;
// }


// @font-face {
// 	font-family: 'europec';
// 	src: url('@{font-path}europec-italic-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: italic;
// }


// @font-face {
// 	font-family: 'europec';
// 	src: url('@{font-path}europec-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'europec';
	src: url('@{font-path}Europe_Bold.eot');
	src: local('Europe Web Bold'), local('EuropeWebBold'),
	     url('@{font-path}Europe_Bold.eot?#iefix') format('embedded-opentype'),
	     url('@{font-path}Europe_Bold.woff') format('woff'),
	     url('@{font-path}Europe_Bold.ttf') format('truetype'),
	     url('@{font-path}Europe_Bold.svg#EuropeWeb-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rouble';
	src: url('@{font-path}rouble-webfont.eot');
	src: url('@{font-path}rouble-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('@{font-path}rouble-webfont.woff') format('woff'), 
		 url('@{font-path}rouble-webfont.ttf') format('truetype'), 
		 url('@{font-path}rouble-webfont.svg#als_rublregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	// height: 100%;
}


body {
	&:extend(.clearfix all);

	// min-width: 1280px;
	// height: 100%;
	min-width: 1024px;
	font: @font-size @font-family;
	line-height: @line-height;
	color: @font-color;
	overflow: auto;
	-webkit-text-size-adjust: 100%;

	@media (max-width: @tablet) and (orientation: portrait) {
		min-width: 768px;
	}

	@media (min-width: 1024px) {
		width: 100%;
	}
}

html, body {

	&._light {
		height: 100%;
	}
}


* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}



/* LINK
---------------------------------------------------------------------- */
a {
	color: @link-color;
	outline: none;

	&:focus {
		outline: none;
	}
}



/* HEADER
---------------------------------------------------------------------- */
h1,
.h1 {
	margin: 0 0 22px;
	font-size: 26px;
	font-family: @europec;
	font-weight: bold;
	text-transform: uppercase;
	color: @brown;
	position: relative;
	z-index: 5;

	&._order {
		margin: 0;
		line-height: 110px;
		color: #FFF;
	}
}


h2,
.h2 {
	margin: 0 0 22px;
	font-size: 22px;
	line-height: 18px;
	font-weight: 700;
	font-family: @arimo;
	text-transform: uppercase;
	color: @brown;
}


h3 {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}

h4, 
.h4 {
	margin: 0;
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	font-family: @arimo;
}



/* TEXT
---------------------------------------------------------------------- */
p, 
ul, 
ol {
	margin: 0 0 1em;
}

p._big {
	font-size: 18px;
	line-height: 31px;
	margin-bottom: 22px;
}





.chromeperfectpixel-overlay {
  -webkit-filter: invert(100%);
}