.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.hidden-text{
	font: 0px/0 a;
}

.invisible {
	visibility: hidden;
}

.hidden-bl {
	display: none;
}

.pseudo-link {
	text-decoration: none;
	border-bottom: 1px dotted;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

.clear-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix {
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
}

.hidden-tablet {
	@media (max-width: 1024px) {
		display: none;
	}
}


.text-brown {
	color: @brown;
}

.text-orange {
	color: @orange;
}

._relative {
	position: relative;
}