/* COLORS
---------------------------------------------------------------------- */
@white:            #fff;
@black:            #000;
@brown:            #5a2300;
@brown-light:      #facf74;
@brown-extralight: #f0e8de;
@brown-medium:     #693715;
@orange:           #fc9b00;
@orange-light:     #efe7de;
@grey:             #ede5dc;
@grey-common:      #737373;
@grey-common2:     #ede5dc;

@border:           #ded3cc;
@social-border:    #e2d9d0; // для оранжевых социальных иконок
@input-border:     #bfae99; // для полей ввода

@grey-border:      #d3d1cf; // серый бордер в инпутах фалйа.

/* FONTS
---------------------------------------------------------------------- */
@arimo:             arimo, Arial, sans-serif;
@europec:           europec, Arial, sans-serif;



/* FONT SETTINGS
---------------------------------------------------------------------- */
@font-size:         15px;
@font-family:       @arimo;
@line-height:       24/15;
@font-color:        @black;



/* LINK SETTINGS
---------------------------------------------------------------------- */
@link-color:        @brown;
@link-hover-color:  @brown;
@link-active-color: @brown;



/* PATHS
---------------------------------------------------------------------- */
@image-path:       '../images/';
@font-path:        '../fonts/';


/* RESOLUTIONS
---------------------------------------------------------------------- */
@desktop: 1260px;
@tablet: 1023px;
@tablet-vert: 767px;

