.catalog__cart__wrapper__item {
    align-content: center;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 20px 0;
}

.catalog__cart__price span {
    font-size: 18px;
    text-transform: none;
}

 .catalog__cart__count--change {
        line-height: 20px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: top left;
        display: block;
        border: 1px solid white;
        border-radius: 100px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

.catalog__cart__item.delete {
    cursor: pointer;
}

.catalog__cart__itogo {
    font-family: "Museo Sans Cyrl 700";
    margin-right: 35px;
    padding-top: 45px;
    text-align: right;
    font-size: 24px;
}

.catalog__cart__itogo span {
    font-size: 16px;
}

.catalog__cart__wrapper_itogo {
    font-size: 18px;
    text-transform: uppercase;
}

.catalog__cart__buttons {
    margin-left: auto;
    margin-right: 35px;
    width: 215px;
    margin: 30px 30px 30px auto;
}

.catalog__cart__hide {
    font-size: 14px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #ffffff;
    background-color: inherit;
    margin-bottom: 15px;
    cursor: pointer;
}

.catalog__cart__makeorder__button {
    text-align: center;
    width: 215px;
    font-family: "Museo";
    weight:500;
    color: #ffffff;
    line-height: 43px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #ffffff;
    background-color: #71752a;
    height: 43px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.catalog__cart__makeorder__button:hover {
    background-color: #6c6f28;
}
.catalog__cart__hide:hover {
 
    background-color: rgba(0,0,0,0.1);
}
.catalog__cart__item {
    line-height: 25px;
}

.catalog__cart__item.catalog__cart__price {
    line-height: 25px;
    width: 100px;
}

.catalog__cart__item.catalog__cart__count {
    width: 20px;
    margin: 0 5px;
}

.catalog__cart__item.catalog__cart__title {
    flex: 1;
}

.catalog__cart__makeorder a {
    width: 263px;
    height: 54px;
    display: block;
}

.catalog__cart__makeorder--disabled a {
    pointer-events: none;
    cursor: default;

}

.catalog__cart__makeorder--disabled {
    background-color: grey;
    cursor: default;
 border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #ffffff;
}

.catalog__cart__makeorder {
    position: relative;
}

.catalog__cart__wrapper {
    border-bottom: 2px solid #ffffff;
    width: 420px;
    margin: 0 25px;
}


