@font-face {
	font-family: 'arimobold';
	src: url('@{font-path}arimo-bold-webfont.eot');
	src: url('@{font-path}arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}arimo-bold-webfont.woff') format('woff'),
		 url('@{font-path}arimo-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'arimobold_italic';
	src: url('@{font-path}arimo-bolditalic-webfont.eot');
	src: url('@{font-path}arimo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}arimo-bolditalic-webfont.woff') format('woff'),
		 url('@{font-path}arimo-bolditalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'arimoitalic';
	src: url('@{font-path}arimo-italic-webfont.eot');
	src: url('@{font-path}arimo-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}arimo-italic-webfont.woff') format('woff'),
		 url('@{font-path}arimo-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'arimoregular';
	src: url('@{font-path}arimo-regular-webfont.eot');
	src: url('@{font-path}arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}arimo-regular-webfont.woff') format('woff'),
		 url('@{font-path}arimo-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'europecbold';
	src: url('@{font-path}europec-bold-webfont.eot');
	src: url('@{font-path}europec-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}europec-bold-webfont.woff') format('woff'),
		 url('@{font-path}europec-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'europecbold_italic';
	src: url('@{font-path}europec-bolditalic-webfont.eot');
	src: url('@{font-path}europec-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}europec-bolditalic-webfont.woff') format('woff'),
		 url('@{font-path}europec-bolditalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'europecitalic';
	src: url('@{font-path}europec-italic-webfont.eot');
	src: url('@{font-path}europec-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}europec-italic-webfont.woff') format('woff'),
		 url('@{font-path}europec-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'europecregular';
	src: url('@{font-path}europec-webfont.eot');
	src: url('@{font-path}europec-webfont.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}europec-webfont.woff') format('woff'),
		 url('@{font-path}europec-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}