mixin promo()
	.promo(onclick="return {'promo': {}}").js-widget
		.page__container.clearfix
			.promo__slider
				div
					a(href="#")
						img(src="images/promo/promo_1.png")
				div
					a(href="#")
						img(src="images/promo/promo_2.png")
				div
					a(href="#")
						img(src="images/promo/promo_3.png")
				div
					a(href="#")
						img(src="images/promo/promo_1.png")
				div
					a(href="#")
						img(src="images/promo/promo_2.png")
				div
					a(href="#")
						img(src="images/promo/promo_3.png")