mixin checkbox()
	input.checkbox(type="checkbox", name="checkbox1", id="checkbox1")
	label(for="checkbox1", class="checkbox-label") Выбрать

mixin checkbox-big(text, name, id, cClass)
	input.checkbox._big(type="checkbox", name=name || "checkbox1", id=id || "checkbox1", class= cClass || '')
	label(for=id || "checkbox1", class="checkbox-label")= text
