.wifi-greetings {
	width: 1173px;
	height: 242px;
	margin: 0 auto;
	background: white;
	border-radius: 20px;
	margin-top: 30px;
	padding: 44px;

	&__btn.btn {
		margin: 30px;
		line-height: 36px;
		letter-spacing: 0px;
		padding: 10px 37px;
	}
}