.container-thanks-page {
    border-radius: 10px;
    background-color: #fff;
}
.container-thanks-page__title {
    color: black;
    margin-top: 40px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container-thanks-page__body {
    font-size: 20px;
    font-weight: 300;
    max-width: 950px;
}
.popup_personal_link, .popup_personal_link:visited  {
    color: #337ab7;
}
