.page {
	background: #fff;

	&__wrap {
		
		&._light {
			margin: 0;
			min-height: 100%;
			box-shadow: none;
			background-image: data-uri('../images/light_template/back__body.jpg'), data-uri('../images/light_template/bg.jpg');
			background-repeat: no-repeat, repeat;
			background-position: center 34px;
			padding-bottom: 300px;

			@media (max-width: @tablet) and (orientation: portrait) {
				background-image: data-uri('../images/light_template/back__body_2.jpg'), data-uri('../images/light_template/bg.jpg');
			}
		}

		&._light-2 {
			margin: 0;
			min-height: 100%;
			box-shadow: none;
			background-image: data-uri('../images/light_template/back__body_2.jpg'), data-uri('../images/light_template/bg.jpg');
			background-repeat: no-repeat, repeat;
			background-position: center 34px;
			padding-bottom: 300px;
		}
	}

	&__container {
		width: 100%;
		max-width: 1225px;
		min-width: 767px;
		
		padding: 0 26px;
		margin: auto;

		@media (max-width: @desktop) {
			padding: 0 39px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			// padding: 0 29px;

			._cabinet & {
				padding: 0 30px;
			}
		}

	}


	&__user-panel {
		padding: 20px 0 16px;
		background: #f0e8de;
	}


	&__header {
		position: relative;
		z-index: 100; // "поднимаем" блок что бы была видна его тень на ниже расположенном блоке
		padding: 15px 0 16px;
		background: #fff;
		.shadow-2();

		@media (max-width: @desktop) {
			.page__wrap:not(._light-2) & {
				padding: 11px 0 11px;
			}
		}
	}

	&__title {
		margin-bottom: 38px;
		position: relative;
		z-index: 10;
	}

	&__slider {
		padding-bottom: 47px; // для точек пагинации
		position: relative;
		z-index: 90; // "поднимаем" блок что бы была видна его тень на ниже расположенном блоке
		background: #e5d8c9 url('@{image-path}/page__slider-bg.jpg') 50% 0;
		.shadow-2();

		overflow: hidden;

		@media (max-width: @desktop) {
			padding-bottom: 0;

			.page__container {
				padding: 0;
			}
		}
	}


	&__cart {
		min-height: 110px; // удалить
		background: #9a6c4a url('@{image-path}page__cart-bg.jpg') no-repeat 50% 0;
		background-size: 100%;
		background-repeat: repeat-y;
		box-shadow: inset 0px -3px 30px -8px #000; 

		&._fixed {
			height: 125px;
			position: fixed;
			z-index: 100;
			width: 100%;
			top: 0;

			.cart__toggle-shadow, .cart__toggle {
				display: none;
			}

			& + .page__main {
				margin-top: 125px;
			}

			@media (max-width: @desktop) {
				min-width: 1024px;
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				min-width: 768px;
			}
		}
	}


	&__main {
		@border-radius: 13px;
		position: relative;
		z-index: 3;
		padding: 40px 0 104px;
		margin: -@border-radius 0 0;
		border-radius: @border-radius @border-radius 0 0;
		background: #FFF;
		box-shadow: 1px -4px 3px rgba(2, 3, 3, 0.18);

		._light-2 & {
			z-index: auto;
		}

		&._light {
			padding-top: 85px;
			padding-bottom: 0px;
			min-height: 480px;
			background: none;

			@media (max-width: @desktop) {
				padding-top: 64px;
			}
		}

		&._normal {
			margin: 0;
			box-shadow: none;
			padding-top: 0;
		}

		&._cabinet {
			background: #a4ece4;
			background: url("../images/lk/patterns/pattern_5.png"), url("../images/lk/footer_overlay.png"), url("../images/lk/bg/bg_5.png");
			background-position: center top 40px, center bottom -1px, left;
			background-repeat: no-repeat, no-repeat, repeat;

			.loop(@counter) when (@counter > 4) {
			  .loop((@counter - 1));    // next iteration

				  &-@{counter}  {
					  background: url("../images/lk/patterns/pattern_@{counter}.png"), url("../images/lk/footer_overlay.png"), url("../images/lk/bg/bg_@{counter}.png");
					  background-position: center top 40px, center bottom -1px, left;
					  background-repeat: no-repeat, no-repeat, repeat;
				  }
			}

			.loop(15);

		}


	}


	&__content-wrap {
		float: left;
		width: 100%;

		& .description_main {
			padding-top: 20px;

			&.__footer {
				margin-left: 240px;
			}
		}

		& .description_main h1,
		& .description_main h2,
		& .description_main h3 {
			color: #5a2300;
			font-family: 'arimo', Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			margin: 0 0 22px;
			text-transform: uppercase;
		}
	}


	&__content {
		margin: 0 0 0 240px;
		padding-top: 6px;

		&._margin-right {
			margin-right: 300px;

			@media (max-width: @desktop) {
				margin-right: 250px;
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				margin-right: 0;
			}
		}

		&._inner {
			max-width: 633px;

			@media (max-width: @desktop) {
				max-width: 100%;

				& .about {
					margin-right: 235px;
				}
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				& .about {
					margin-right: 0;
				}
			}

		}

		&._rests {
			margin: 0 0 0 267px;
			position: relative;
			// padding-top: 0;

			&._disabled::before {
				display: block !important;
				content: '';
				position: absolute;
				top: 0;
				left: -15px;
				right: -15px;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.5);
				background-image: data-uri("../images/base64/ajax_loading.gif");
				background-position: center;
				background-repeat: no-repeat;
				z-index: 10
			}
		}

		&._wide {
			padding: 0;
		 	margin: 0;
		}
	}

	
	&__sidebar {
		float: left;
		width: 214px;
		margin: 0 0 0 -100%;
		position: relative;

		&._disabled::before {
			display: block!important;
			content: '';
			position: absolute;
			top: 0;
			left: -15px;
			width: 255px;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.5);
			z-index: 10
		}

		&._right {
			float: right;
			width: 307px;
			margin-right: -7px;
			&:extend(.clearfix all);


			@media (max-width: @desktop) {
				&._desktop {
					float: none;
					clear: both;
					margin: 0 0 0 240px;
					width: auto;
				}
			}

			@media (max-width: @tablet) and (orientation: portrait) {

				float: none;
				clear: both;
				margin: 0;
				width: 100%;

				.badge {
					float: right;
					margin: 0;

					& + .badge {
						margin-right: 5%;
					}
				}
			}
		}

		&._pursed-top {
			margin-top: 72px;
		}

		&._rests {
			width: 260px;
			padding-top: 6px;
		}
	}


	&__footer {
		position: relative;
		z-index: 10;
		padding: 28px 0 61px;
		background: #e5d8c9 url('@{image-path}/page__footer-bg.jpg') 65% -10px no-repeat;

		@media (max-width: @tablet) and (orientation: portrait) {
			padding: 89px 0 35px;

			.page__container {
				padding: 0 26px;
			}
		}
		
		&-left {
			float: left;
			width: 560px;

			@media (max-width: @desktop) {
				width: 400px;
			}

			@media (max-width: @tablet) and (orientation: portrait) {
				width: 130px;
			}

		}


		&-right {
			float: left;
			width: 610px;

			@media (max-width: @desktop) {
				float: right;
				width: 545px;
			}
		}

		&._light {
			background: #e5d8c9  50% 0;
			background-image: url('@{image-path}/light_template/back__footer.jpg'), data-uri('../images/light_template/bg.jpg');
			background-repeat: repeat, no-repeat;
			margin-top: -300px;
			height: 300px;
			padding: 0;
			position: relative;
			z-index: 0;

			.page__container {
				position: relative;
				top: 211px;
				height: 77px;
				padding-top: 19px;
				padding-left: 0px;
				border-top: 1px solid #b59982;
				// width: 1165px;
				max-width: 1165px;

				@media (max-width: @desktop) {
					width: auto;
					margin: 0 29px;
					min-width: 0;
				}
			}
		}
	}
}