mixin nav-side()
	ul.nav-side
		li.nav-side__item
			a.nav-side__link(href='#')
				span Компания сегодня
		li.nav-side__item
			a.nav-side__link(href='#')
				span История компании
		li.nav-side__item
			a.nav-side__link(href='#')
				span Особенности интерьера
		li.nav-side__item
			a.nav-side__link(href='#')
				span Франшиза
		li.nav-side__item
			a.nav-side__link(href='#')
				span Арендодателям
		li.nav-side__item
			a.nav-side__link(href='#')
				span Контактная информация
		li.nav-side__item
			a.nav-side__link(href='#')
				span Вакансии
		li.nav-side__item
			a.nav-side__link._active(href='#')
				span Новости


mixin nav-side-rests()
	label.label В Москве
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Митино 
		li.nav-side__item
			a(href='#', data-rid="2").nav-side__link
				span Домодедовская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Молодежная 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТРЦ «РИО» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Новокузнецкая 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Одинцово 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТЦ «Экватор» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Партизанская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Люберцы 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span ВДНХ 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Севастопольский проспект 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Таганская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Проспект Вернадского 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Адмирала Ушакова 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Свиблово  

	label.label В других городах
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Чите
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Твери
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span И еще один в Красноярске

mixin nav-side-rests-one()
	label.label В Москве
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Митино 
		li.nav-side__item
			a(href='#', data-rid="2").nav-side__link
				span Домодедовская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Молодежная 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТРЦ «РИО» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Новокузнецкая 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link._active
				span Одинцово 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Реутов, ТЦ «Экватор» 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Партизанская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Люберцы 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span ВДНХ 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Севастопольский проспект 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Таганская 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Проспект Вернадского 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Адмирала Ушакова 
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Свиблово  

	label.label В других городах
	ul.nav-side._cities
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Чите
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span Два ресторана в Твери
		li.nav-side__item
			a(href='#', data-rid="1").nav-side__link
				span И еще один в Красноярске













