.not-in-menu {
	background: #d53a06;
	border-radius: 5px;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	height: 35px;
	line-height: 36px;
	width: 196px;
}