.btn {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 6px 12px 8px;

	text-align: center;
	font-size: 14px;
	font-family: @arimo;
	line-height: normal;
	white-space: nowrap;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: @white;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: #f99300;
	background: linear-gradient(to bottom, #ffa200, #f38300);
	box-shadow: inset 0 -3px 0 rgba(162,77,1,.75);


	a& {
		text-decoration: none;
	}


	&[disabled] {
		cursor: default;
		opacity: .7;
	}


	/* Remove inner padding and border in Firefox 3+ */
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:focus {
		outline: none;
	}

	&._full-width {
		width: 100%;
	}

	&._style_1 {
		font-family: @europec;
		height: 63px;
		color: #ffffff;
		font-size: 26px;
		font-weight: 700;
		padding: 14px 27px;
		border-radius: 17px;
		text-align: center;

		@media (max-width: @desktop) {
			padding: 14px 18px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			font-size: 22px;
			padding: 19px 18px;
		}
	}

	&._style_2 {
		font-family: @europec;
		height: 55px;
		color: #ffffff;
		font-size: 23px;
		font-weight: 700;
		padding: 10px 26px;
		border-radius: 17px;
		margin-top: -7px;
	}

	&._style_3 {
		font-family: @europec;
		height: 57px;
		color: #ffffff;
		font-weight: 700;
		padding: 15px 23px;
		border-radius: 17px;
		margin-top: -2px;
		margin-left: -3px;
		margin-bottom: 12px;
		font-size: 22px;
	}

	&._style_4 {
		font-family: @europec;
		color: #ffffff;
		font-weight: 700;
		padding: 15px 23px;
		border-radius: 17px;
		margin-top: -2px;
		margin-left: -3px;
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 33px;
		height: 60px;
	}
}