mixin virtual()
	.virtual(onclick="return {'virtual': {}}").js-widget
		.virtual_wrap
			.content
				svg.circle(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
					defs
						clipPath#virtual
							circle#circle(cx="362", cy="60", r="138")
					image(xlink:href="images/virtual_bg.jpg", x="0", y="0", width="1247", height="2507", clip-path="url(#virtual)")

				.desc_wrap
					.desc.step1
						.desc_circle.__back(data-newx="632", data-newy="360", data-step="7")
						span.desc_text Получайте бонусы и подарки, делая заказы в «Нияме»
						.desc_circle(data-newx="532", data-newy="60", data-step="2")
					.desc.step2
						.desc_circle.__back(data-newx="362", data-newy="60", data-step="1")
						span.desc_text Каждый новый заказ дает вам новые возможности и предложения
						.desc_circle(data-newx="142", data-newy="1220", data-step="3")
					.desc.step3
						.desc_circle.__back(data-newx="532", data-newy="60", data-step="2")
						span.desc_text Каждый новый заказ делает условия доставки более выгодными
						.desc_circle(data-newx="472", data-newy="1220", data-step="4")
					.desc.step4
						.desc_circle.__back(data-newx="142", data-newy="1220", data-step="3")
						span.desc_text Карта сушиеда дает возможность накапливать «Ниямы» и получать скидку при каждом заказе
						.desc_circle(data-newx="792", data-newy="140", data-step="5")
					.desc.step5
						.desc_circle.__back(data-newx="472", data-newy="1220", data-step="4")
						span.desc_text Каждый заказ дает возможность получить купон на скидку или подарок, воспользоваться купоном или получить подарок вы сможете при следующем заказе
						.desc_circle(data-newx="672", data-newy="150", data-step="6")
					.desc.step6
						.desc_circle.__back(data-newx="792", data-newy="140", data-step="5")
						span.desc_text Получайте свежую информацию о спецпредложениях в разделе «Скидки и акции»
						.desc_circle(data-newx="632", data-newy="360", data-step="7")
					.desc.step7
						.desc_circle.__back(data-newx="672", data-newy="150", data-step="6")
						span.desc_text Самые актуальные предложения показаны на главной странице
						.desc_circle(data-newx="362", data-newy="60", data-step="1")
