mixin rests-info()
	.rests-info(onclick="return {'restsInfo': {}}").js-widget
		h2.rests-info__title Добро пожаловать в Нияму!
		.rests-info__side 
			+badge_menu
		.rests-info__desc
			p Рестораны «Нияма» появились потому, что нам хотелось сделать место, где будет хорошо и комфортно любому человеку. Увлекаетесь ли вы йогой, близка ли вам японская философия или просто хотите вкусно поесть свежие блюда — вам точно понравится в «Нияме».
			p После открытия стало понятно, что одной «Ниямы» для этого мира слишком мало. Друзей, знакомых и незнакомых гостей, оценивших уют и качество обслуживания стало так много, что потребовалось растить и развивать нашу сеть.
			p Сейчас в трёх городах — Москве, Чите и Твери, — уже около 20 наших ресторанов, и их точно будет больше. Открывая новую точку, мы в точности воспроизводим в ней то, что нравится нашим гостям в других местах. В любой «Нияме» их ждут вкусные блюда из свежих продуктов, приветливый расторопный персонал и приятные ощущения.
			p Наша задача — и дальше поддерживать и тиражировать эту особую философию «Нияма». Её суть в том, что в любом нашем ресторане любой точки планеты персонал будет любить свою работу, гости будут чувствовать себя как дома, а «Нияма» будет бесконечной…

mixin rests-info-one()
	.rests-info(onclick="return {'restsInfo': {}}").js-widget
		h2.rests-info__title Нияма в Одинцово
		.rests-info__side 
			+badge_menu
		.rests-info__desc
			.rests-info__contacts
				+contacts
			p У каждого из нас есть место, где мы любим отдохнуть в обеденный перерыв или после трудного рабочего дня, разделить вечер с приятным собеседником. Место, где хочется фантазировать, черпать вдохновение, наблюдая за жизнью вокруг. Такое место — наш ресторан прямо на въезде в г. Одинцово. Спокойно покурить кальян, маленькими глоточками выпить оригинальный коктейль от бармена, ощутить аромат востока, мечтая о самом светлом с Нияма.
			.rests-info__carousel
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/86")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/87")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/88")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/89")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/90")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/91")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/85")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/84")
				.rests-info__carousel-item
					a.fancybox(href="/images/fish.png", rel="rests")
						img(src="http://lorempixel.com/88/84")
			.rests-info__howto
				label.label.rests-info__howto-title Как добраться
				.rests-info__howto-row
					.rests-info__howto-img
						img(src="images/rests/metro.png")
					.rests-info__howto-desc
						.rests-info__howto-subtitle На метро
						.rests-info__howto-body 
							span.rests-info__howto-metro(style="background: #00f") 
							| «Парк Победы», автобус № 339 в г. Одинцово до остановки «Школа искусств».
				.rests-info__howto-row
					.rests-info__howto-img
						img(src="images/rests/auto.png")
					.rests-info__howto-desc
						.rests-info__howto-subtitle На автомобиле
						.rests-info__howto-body по Кутузовскому проспекту до г. Одинцово, на втором светофоре налево, сразу на право, далее проехать вдоль стройки до места назначения.











