mixin rests-checkboxes()
	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="wifi", id="wifi")
		label(for="wifi", class="checkbox-label") Wi-Fi
			.rests-controls__filter-img 
				img(src="/images/rests/filter_1.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="parking", id="parking")
		label(for="parking", class="checkbox-label") Парковка
			.rests-controls__filter-img 
				img(src="/images/rests/filter_2.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="vip", id="vip")
		label(for="vip", class="checkbox-label") VIP зал
			.rests-controls__filter-img 
				img(src="/images/rests/filter_3.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="banquet", id="banquet")
		label(for="banquet", class="checkbox-label") Банкетный зал
			.rests-controls__filter-img 
				img(src="/images/rests/filter_4.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="veranda", id="veranda")
		label(for="veranda", class="checkbox-label") Летняя веранда
			.rests-controls__filter-img 
				img(src="/images/rests/filter_5.png")

	.rests-controls__filter-wrap
		input.checkbox(type="checkbox", name="karaoke", id="karaoke")
		label(for="karaoke", class="checkbox-label") Караоке
			.rests-controls__filter-img 
				img(src="/images/rests/filter_6.png")


mixin rests-controls()
	.rests-controls(onclick="return {'restsControls': {}}").js-widget
		.rests-controls__city
			+select
		.rests-controls__station
			+select
		.rests-controls__filter
			+rests-checkboxes