.rests-controls {
	// &:extend(.clearfix all);
	
	position: relative;
	margin: -8px 0 27px 0px;

	&__city, &__station {
		float: left;
		width: 234px;
		margin-bottom: 27px;
	}

	&__city {
		margin-right: 29px;
	}

	&__filter {
		float: right;
		// margin-top: 14px;
		// margin-bottom: 27px;
		// position: absolute;
		// right: -2px;
		// bottom: 2px;

		@media (max-width: @tablet) {
			margin-left: 265px;
		}

		&-img {
			position: absolute;
			top: -33px;
			width: 100%;
			left: 0;
			padding-left: 27px;
			text-align: center;
			line-height: 30px;


			img {
				vertical-align: bottom;
			}
		}

		&-wrap {
			display: inline-block;
			max-width: 100px;
			text-align: center;

			margin-bottom: 27px;
			margin-top: 14px;

			margin-right: 19px;

			&:last-child {
				margin-right: 0;
			}

			input[type=checkbox].checkbox + label.checkbox-label {
				position: relative;
				line-height: 18px;
			}

		}
	}
}