mixin social()
	- var socials = ['facebook', 'vk', 'twitter', 'forsquare', 'linkedin', 'ok'];

	.social
		- each social in socials
			div(class="_#{social}").social__item
				a(href="#", class="_#{social}").social__item-in

mixin social__orange()
	- var socials = ['facebook', 'vk', 'ok', 'twitter'];

	.social._orange
		- each social in socials
			.social__item
				a(href="#", class="_#{social}").social__item-in

mixin social__auth()
	- var socials = ['facebook', 'vk', 'ok', 'google', 'mail', 'ya'];

	.social._auth
		- each social in socials
			div(class="_#{social}").social__item
				a(href="#", class="_#{social}").social__item-in