.vacancies-form {
	background-color:  @brown-extralight;
	border-radius: 15px;
	width: 307px;
	padding: 27px;
	padding-top: 40px;

	@media (max-width: @desktop) {
		padding: 32px;
		padding-top: 40px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__label {
		&._top {
			margin-bottom: 8px;
		}
	}

	&__select {
		margin-bottom: 42px;
	}

	&__submit.btn {
		margin-top: 47px;
		width: 100%;
		height: 55px;
		padding: 14px 2px;
		font-size: 22px;
		margin-bottom: 16px;

		@media (max-width: @desktop) {
			margin-top: 25px;
		}

		@media (max-width: @tablet) and (orientation: portrait) {
			margin-top: 47px;
		}
	}

	@media (max-width: @desktop) {
		width: 100%;

		&__fields {
			text-align: justify;

			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}
		}

		&__col {
			width: 47%;
			display: inline-block;
			vertical-align: top;
		}
	}

	@media (max-width: @tablet) and (orientation: portrait) {
		&__col {
			width: 100%;
		}
	}


	.parsley-errors-list {
		margin: -15px 0 3px 0;
	}

	.input.parsley-error {
		transition: margin 300ms;
		margin-bottom: 20px;
	}
}