mixin vacancies-form()
	.vacancies-form
		form.form
			h2.h2.vacancies-form__title Отправить резюме
			p.vacancies-form__text Даже если вы не нашли подходящую вакансию, присылайте нам резюме. В любом случае.

			label.label.vacancies-form__label._top Представьтесь

			.vacancies-form__fields
				.vacancies-form__col
					label.label._lite Имя  *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Фамилия *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Телефон *
					input.input._mb_1(type="text")

				.vacancies-form__col
					label.label._lite Электронная почта *
					input.input._mb_2(type="email")

				.vacancies-form__col
					.vacancies-form__select
						label.label Интересующая позиция
						+select

				.vacancies-form__col
					label.label Резюме
					.input__file._mb_1 Выбрать файл...
						input.input__file-input(type="file")

				.vacancies-form__col
					input.btn._style_1.vacancies-form__submit(type="submit", value="Отправить")
					label.label._lite._smaller * - поля, обязательные для заполнения
