.page__user-panel
	.page__container.clearfix
		+achievements
		+user-controls
header.page__header
	.page__container.clearfix
		.pull-left
			+logo
		.pull-right
			+feedback
		+nav
.page__cart
	.page__container
		+cart