.bx_ordercart .bx_sort_container {
    display: none;
}

.itemphoto img {
    width: 130px
}

thead {
    display: none;
}

.bx_ordercart_order_table_container {
    background: url("images/wood.jpg");
    border: none !important;
    color: #fff !important;
    background-size: 100%;
}

.bx_ordercart_photo_container {
    border: none !important;

}

.bx_ordercart_order_pay_left_left {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-top: 23px;
}

.bx_ordercart_itemtitle a {
    font-size: 26px !important;;
    color: #fff !important;
}

.current_price {
    color: #fff !important;
}

.centered input {
    background-color: inherit;
    max-width: 50px;
    border: none;
    text-align: center;

}

.basket__no__items {
    color: red;
    font-size: 16px;
}

.order__delete {
    display: block;
    background: url("images/deleteorder.png") no-repeat;
    width: 28px;
    height: 28px;
}

#basket_items {
    width: 100%;
    font-size: 24px;
    text-transform: none;
}

.plus {

    display: -ms-flexbox;

    display: -webkit-box;

    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    margin: 0 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 22px;

}

.minus {

    display: -ms-flexbox;

    display: -webkit-box;

    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    /* background: url(/local/templates/pizzapi/components/bitrix/sale.basket.basket/orderbasket/images/cirlceorder.png) no-repeat; */
    margin: 0 24px;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 22px;

}

a.minus:hover {
    color: #fff;
    text-decoration: none;
}

a.plus:hover {
    color: #fff;
    text-decoration: none;
}

a.minus:focus {
    color: #fff;
    text-decoration: none;
}

a.plus:focus {
    color: #fff;
    text-decoration: none;
}

a.minus:visited {
    color: #fff;
    text-decoration: none;
}

a.plus:viseted {
    color: #fff;
    text-decoration: none;
}

tbody tr {
    padding: 15px 0;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    margin: 0px 40px;
}

tbody tr:last-child {
    border-bottom: none;
}

.custom {
    border: none;
}

tbody tr tbody tr {
    border-bottom: none;
    margin: 25px 20px;
}

td {
    display: block;
}

.itemphoto {
    width: 130px;
    height: 130px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

#basket_items .price{
    min-width: 135px;
}

@media (max-width: 768px) {
    .itemphoto {
        width: 130px;
        height: auto;
        -ms-flex-preferred-size:100%;
        /*flex-basis:100%;*/
    }

    table.bx_ordercart_order_sum .margin {
        width: auto;
    }
}

.item {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.plus span {
    font-size: 33px;
    display: inline-block;
    line-height: 33px;
    margin-right: 5px;
    margin-top: -3px;
}

.minus span {
    font-size: 33px;
    display: inline-block;
    line-height: 33px;
    margin-right: 5px;
    margin-bottom: 9px;
}

.control {
    margin-left: 16px;
}

.bx_ordercart_order_pay {
    color: #fff;
    /*margin-top: 75px;*/
}

.bx_ordercart_coupon {
    width: 190px;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 100px;
}

.bx_ordercart_coupon span {
    font-size: 18px;
}

.bx_ordercart_order_sum {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

#coupon {
    width: 185px;
    height: 35px;
    padding: 10px;
    background-color: transparent !important;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#coupon:-webkit-autofill,
#coupon:-webkit-autofill:hover,
#coupon:-webkit-autofill:focus,
#coupon:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;

}

.bx_ordercart_order_pay_center a {
    padding: 11px 46px;
    margin-top: 115px;
    text-align: center;
    width: 215px;
    font-weight: 500;
    color: #ffffff;
    line-height: 17px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #de411d;
    background-color: #de411d;
    height: 43px;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 1px;
}

.wrapper__bx_ordercart_order {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.bx_ordercart_order_sum {
    font-size: 30px;
}

.wrapper__bx_ordercart_order_pay {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.wrapper__bx_ordercart_order_pay>div{
    margin-top: 75px;
}

.bx_ordercart_order_sum tbody tr {
    margin: 0px;
    padding: 0px;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    border-bottom: none;
    text-transform: none;
    font-size: 28px;
    margin-bottom: 20px;

}

.bx_ordercart_order_sum tbody tr i {
    font-size: 22px;
}

.old_price {
    display: none;
}

.margin {
    width: 12px;
}

.margin-heght {
    height: 75px;
}

.order__price__input__button {
    margin-top: 23px;
    text-align: center;
    width: 185px;
    font-weight: 500;
    color: #ffffff;
    line-height: 12px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #ffffff;
    background-color: #71752a;
    height: 43px;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.good {
    width: 210px;
    font-family: "Museo Sans Cyrl 500";
    color: green;
    line-height: 12px;
    border: 0px solid #ffffff;
    background-color: inherit;
    /* height: 54px;*/
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bad {
    width: 210px;
    font-family: "Museo Sans Cyrl 500";
    color: red;
    line-height: 12px;
    border: 0px solid #ffffff;
    background-color: inherit;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bx_ordercart_coupon_notes {
    font-size: 18px;
}

.bx_ordercart_order_pay_left {
    width: 190px;
    /* position: absolute; */
    /* left: 50%; */
    top: auto;
    /* margin-left: -140px; */
}

.bx_ordercart_order_pay_center {
    margin: 50px 0;
    text-align: right;
}

@media (max-width: 768px) {
    .container .order_title {
        padding: 80px 30px 15px;
        font-size: 24px;
    }

    .bitrix_sale_basket_basket {
        padding: 10px;
    }

    .wrapper__bx_ordercart_order_pay {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .bx_ordercart_order_pay_center {
        text-align: center;
    }

    .wrapper__bx_ordercart_order_pay > div{
        margin-top: 45px;
    }

    .bx_ordercart_order_sum tbody tr{
        height: 45px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    table#basket_items>tbody>tr{
        margin: 0 10px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        position: relative;
        -ms-flex-direction:column;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        flex-direction:column;
    }

    table#basket_items > tbody > tr .margin {
        display: none;
    }

    table#basket_items > tbody > tr .control {
        position: absolute;
        top: 8px;
        right: 2px;
    }

    table#basket_items > tbody > tr .custom tbody>tr {
        margin: 0;
    }
}

.bx_ordercart_coupon_notes {
    font-size: 14px;

}

.bx_ordercart_order_pay_right {
    width: 400px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.fa {
    margin-top: 4px;
}
.basket__items{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

}