.side-menu {
	&._hidden {
		display: none;
	}

	&__group {
		margin: 0 -12px 46px -12px;
	}

	&__hidden {
		overflow: hidden;
		display: none;
	}


	&__col {
		float: left; 
		width: 50%;
	}


	&__title {
		margin: 0 0 11px;

		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: @brown;
	}


	&__item {
		position: relative;

		margin: 7px 0;

		line-height: 20px;


		/* МОДИИКАТОРЫ
		-------------------------------------- */
		/* selected */
		&._selected {
			background: @brown-light;
		}
	}


	&__link {
		display: inline-block;
		padding: 2px 12px 5px 12px;

		border-radius: 11px;

		&-more {
			display: inline-block;
			padding: 2px 15px 5px 12px;

			text-decoration: none;
		}
	}

	&._disabled::before {
		display: block!important;
		content: '';
		position: absolute;
		top: 0;
		left: -15px;
		width: 255px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 10
	}


	/* МОДИИКАТОРЫ
	-------------------------------------- */
	/* one column */
	&._one-column & {
		&__item {
			width: 100%;
		}
	}
}