mixin side-menu()
	.side-menu._hidden(onclick="return {'sideMenu': {}}").clearfix.js-widget
		.side-menu__group.clearfix
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link one
				.side-menu__item 
					a(href="#").side-menu__link two
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col

		.side-menu__group.clearfix
			.side-menu__title Ингредиенты
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
			.side-menu__col
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы
				.side-menu__item 
					a(href="#").side-menu__link Роллы