mixin guests()
	.guests.pull-left(onclick="return{'guests': {}}").js-widget
		.guests__list
			.guests__card._current
				a(href="#").guests__card-remove
				.guests__card-img
					img(src="http://lorempixel.com/47/47/people")
				.guests__card-sum 3 250 
					span.rouble Р
				.guests__card-name Гость
			.guests__list-wrap



		.guests__add.pull-right
			a(href="#").guests__add-sign
				span Добавьте гостя и разделите заказ
			a(href="#").guests__add-button
			.guests__add-wrap
				.guests__add-list
					a(href="#").guests__card._new._small
						.guests__card-img
						.guests__card-name 
							| Новый
							br
							| гость
					a(href="#").guests__card._all._small._disabled
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small._disabled
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость
					a(href="#").guests__card._all._small
						.guests__card-img
							img(src="http://lorempixel.com/47/47/people")
						.guests__card-name Гость


mixin guests-cabinet()
	.guests._cabinet
		.guests__list
			.guests__card._current
				a(href="#").guests__card-remove
				.guests__card-img
					img(src="http://lorempixel.com/47/47/people")
				.guests__card-name Анастасия
			.guests__list-wrap

		.guests__add.pull-right
			a.cabinet__edit.fancybox(href="/_popup_cabinet_1.html", data-fancybox-type="ajax")